[2017-07-27 13:47] DarkDimius commented on #2924
@smarter @nicolasstucki VM needs different amount of stack in JITed and interpreted mode.
You can have code that does not stackoverflow when compiled but does when interpreted.

[2017-07-27 14:21] #2901 closed

[2017-07-27 17:21] biboudis commented on #2916
This is my current progress https://github.com/biboudis/dotty/commit/36977d31e06cbff9f640eb5dec57130068f0dc69

Interestingly I reached this point

[code]

Any recommendation on how to move forward @nicolasstucki?

[2017-07-27 22:21] liufengyun opened #2928 "Unsound type widening for setters with wildcard types"
This might be a known problem. The following code compiles in `dotc` and produces run-time exception. Scalac compiler rejects the code.

[code]

[2017-07-28 00:01] smarter commented on #2928
This seems to be an issue with unsound type widening somewhere, and it's specific to var setters, e.g. the following fails to typecheck as expected:
[code]
[code]

The same thing should happen for `box.v = sv` in your example, but doesn't currently.

[2017-07-28 00:05] smarter commented on #2928
See https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/core/TypeOps.scala#L21-L50 for an explanation of how skolemization is done, for some reason this seems to not be done correctly for var setters.

[2017-07-28 05:26] taisukeoe opened #2929 "Bug in REPL: a class or a trait which has `show()` method cannot be instantiated."
Dotty REPL looks treating `show` method specially to show the result of an instance creation.

In 0.2.0-RC1, a class or a trait which has `show()` method cannot be instantiated as follows.
(`show` without parenthesis or `show(msg:String)` does compile, but unexpectedly used to show the result of instantiation. However, it doesn't change `toString` implementation.)

[code]

In 0.1.2-RC1, it behaves

[2017-07-28 05:40] taisukeoe commented on #2929
Interestingly, anonymous class instantiation works good in both of 0.2.0-RC1 and 0.1.2-RC1, though it might be better to be an `AnyRef` instead of `Object`.

In `0.2.0-RC1`:

[code]

In 0.1.2-RC1:

[code]

[2017-07-28 08:37] nicolasstucki commented on #2916
I will have a look.

[2017-07-28 11:41] mdedetrich opened #2930 "Allow implicit modifier in for comprehension"
The original issue can be found some time ago here https://issues.scala-lang.org/browse/SI-2823

The idea is to allow using the implicit modifier in for comprehensions, so you can do something like this

[code]
Currently you are forced to manually make a block, i.e.

[code]

Which yields quite a lot of boilerplate

[2017-07-28 14:55] Idyllei commented on #2853
This seems like it *should* be allowed, given that anonymous declarations are allowed in the bounds of a type parameter:

[code]

If anonymous types are allowed here, it makes sense that the anonymous declaration after `extends` is valid:

[code]

In this case, `A` is subclassing an anonymous (non-abstract) type. This also allows one to provide an anonymous abstract type with early initializers (w

[2017-07-28 15:07] nicolasstucki commented on #2853
We missed that use case.
It seems like this PR should not be merged.

[2017-07-28 15:32] smarter commented on #2853
I'm not sure what you mean, `class A extends { ... }` and `class A { ... }` compile down to the exact same bytecode, and early initializers have never been supported by dotty and are not planned to be supported: http://dotty.epfl.ch/docs/reference/dropped/early-initializers.html

[2017-07-29 13:40] Glavo opened #2933 "When using structural types,the repl crashes"
[code]

[2017-07-29 14:06] smarter commented on #2933
Fixed in master (you can try out a nightly build with `scalaVersion := "0.3.0-bin-20170727-3d9080c-NIGHTLY"`)

[2017-07-29 14:06] #2933 closed

[2017-07-31 10:05] nicolasstucki opened #2936 "Allow safe casts with phantoms"
Currently if the type in a cast contains a phantom the compiler will emit an error.
The logic for this is in [CheckPhantomCast.scala](https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/transform/CheckPhantomCast.scala).

We should consider allowing the possibility of casting as long that the phantom type is not changed (not down casted). It would be fine to upcast it losin

[2017-07-31 10:17] biboudis commented on #2936
Do you mean `statelessMachine` in the third set of "tests"?

[2017-07-31 10:18] nicolasstucki commented on #2936
Yes, updated.

[2017-07-31 11:57] nicolasstucki commented on #2930
For this particular pattern we firs need #1982.

[2017-07-31 12:30] #2430 closed

[2017-07-31 13:27] #2791 closed

[2017-07-31 14:38] nicolasstucki commented on #30
This issue was solved with #2128.

[2017-07-31 14:38] #30 closed

[2017-07-31 14:40] nicolasstucki commented on #125
@DarkDimius can we close this one?

[2017-07-31 14:49] #125 closed

[2017-07-31 15:09] nicolasstucki commented on #209
The current error message for this is
[code]
[code]

We should catch this situation earlier and tell the user why this synthesized method exists.

We also need to do this for other syntesized methods such as `equals` `hashCode`, `apply`, `unapply`, ...

[2017-07-31 15:16] nicolasstucki commented on #245
The test case is not pending anymore `pos/t1048.scala` and it passes `-Ycheck:all`.

[2017-07-31 15:16] #245 closed

[2017-07-31 15:24] nicolasstucki commented on #255
@DarkDimius can we close this one? `PrivateToStatic` was removed a while ago.

[2017-07-31 15:37] nicolasstucki commented on #318
The infinite loop is still there.

[2017-07-31 15:46] nicolasstucki commented on #364
It seems to be implemented.

[code]

compiles to
[code]

where `tailLabel2` does not have the `$this`.

[2017-07-31 15:46] #364 closed

[2017-08-01 11:01] Glavo opened #2939 "Pure expressions are never lifted from function calls, may be copied by default getters logic without creating new symbols, leading to duplicate methods after lambdalift"
For this class, Dotty does not seem to work properly:
[code]
run by dotr(0.2.0-RC1-bin-SNAPSHOT-git-54d7089):
[code]
Or compiled with SBT and then used in the repl (dottyVersion="0.3.0-bin-20170729-df4b3dd-NIGHTLY"  )
[code]

[2017-08-01 13:59] smarter commented on #2878
It would be useful to benchmark both the non-bootstrapped and bootstrapped dotty to compare performance.

[2017-08-01 16:22] smarter commented on #2939
Minimization:
[code]

After typer we get:
[code]

Which is very fishy: The call to `foo$default$2` should take as argument a reference to the first argument, not a copy of it, this is why we end up with two methods with the same name `$anonfun` in typer (which becomes `main$$anonfun$1` in the backend). This happens because
pure expressions are not lifted from function calls (https://github.com/lam

[2017-08-01 16:52] smarter commented on #2939
This wouldn't actually be a problem if the two methods had different symbols, but since we just copy the tree this isn't the case (https://github.com/lampepfl/dotty/blob/d916343daa86c98e739dc3b685f95410565072d9/compiler/src/dotty/tools/dotc/typer/Applications.scala#L298), and that's why lambdalift gets confused and creates two methods called `main$$anonfun$1`.

[2017-08-01 17:22] smarter commented on #2939
A possible solution would be to always create fresh symbols, see https://github.com/dotty-staging/dotty/commits/fresh-symbols for how this could be done, but this isn't great for performance. Always lifting pure expressions seems like a simpler solution. We would also need to lift by-name arguments which are currently never lifted.

[2017-08-02 07:30] liufengyun commented on #2878
It seems we can only do this temporarily, given that we are going fully bootstrapped in the future and we only have the unbootstrapped version several months ago.

[2017-08-02 07:38] smarter commented on #2878
The non-bootstrapped dotty still exists for now it's just not published

[2017-08-02 07:41] smarter commented on #2878
We don't need very precise data points for the non-bootstrapped compiler, we could have one point every month or so

[2017-08-02 08:17] nicolasstucki opened #2940 "Exhaustivity check slowdown after enum exhaustivity added"
In the [benchmarks](https://liufengyun.github.io/bench/) for [exhaustivity V](https://github.com/liufengyun/bench/blob/master/tests/exhaustivity-V.scala) we can see that the performance went from 1.5 to 2.3 in https://github.com/lampepfl/dotty/pull/2197.

We should explore if this slowdown is justified and see if we can improve it.

[2017-08-02 08:18] nicolasstucki commented on #2940
Issue found in https://github.com/liufengyun/bench/issues/11

[2017-08-02 08:24] nicolasstucki commented on #2940
@liufengyun do you have some more insight?

[2017-08-02 09:11] gsps opened #2941 "Cyclic type involving LazyRef is not detected and crash in Pickler."
The following example triggers an infinite recursion in TypeAssigner.avoid(). The call to avoid() originates from `ensureNoLocalRefs`, and, further up the call stack, from the handling of `match` cases ([Typer.scala:951](https://github.com/lampepfl/dotty/blob/d916343daa86c98e739dc3b685f95410565072d9/compiler/src/dotty/tools/dotc/typer/Typer.scala#L951)). The actual avoidance is performed on a `Laz

[2017-08-02 14:50] #280 closed

[2017-08-02 14:51] #2929 closed

[2017-08-02 15:23] #2895 closed

[2017-08-02 15:35] odersky opened #2943 "Avoid LazyRefs in TASTY"
#2914 introduced LazyRefs in the pickle format. We should try to avoid this, since it makes
it very hard to produce legal Tasty trees from other sources than the Dotty compiler. It would be
better if the Unpickler could insert the LazyRefs automatically where needed.

[2017-08-02 15:47] liufengyun commented on #2853
Decided not to fix this issue. See #2918.

[2017-08-02 15:47] #2853 closed

[2017-08-02 15:58] nicolasstucki opened #2944 "Issue with GADTs tasty types"
[code]

gets wrong types for binding in `3.asInstanceOf[b]` and `4.asInstanceOf[K]` involving `b` and `c`.

The full tasty pretty printed is [here](https://gist.github.com/nicolasstucki/d6918ca6b6b0a08df949d2271250f4d3).

[2017-08-02 15:59] nicolasstucki commented on #2944
In the first case the binding of `b` in missing the inferred upper bound on `K`.

[code]

[2017-08-02 16:03] nicolasstucki commented on #2944
The second case apply the binding instead of the type.

[code]

[2017-08-02 16:06] nicolasstucki commented on #2944
These trees fail `Ycheck` after phase `classOf` if loaded.

This was discovered in #2910 and can be reproduced with the `tests/link/on-custom-lib/map2.scala` by uncommenting the code.

[2017-08-02 16:07] nicolasstucki commented on #2944
This code in present in `strawman.collection.Map.equals`.

[2017-08-03 11:55] nicolasstucki opened #2948 "Missing implicit argument in ListBuffer.unzip"
For some reason the `implicit asPair: A => (A1, A2)` parameter of the unzip is not found or not inserted. As a consequence `unzip` is treated as a partially applied function. Note that also happens for `ArrayBuffer` but not for `List` and `Array`.

[code]

[code]

[2017-08-03 11:56] nicolasstucki commented on #2948
Also on `WrappedArray`

[2017-08-03 12:18] Jasper-M opened #2949 "Valid type projection fails"
[code]

fails with the error

[code]
Scalac succesfully compiles this.

[2017-08-03 12:25] felixmulder opened #2950 "Error reporting issue on extracting inner class (Applications.scala)"
[code]

While not a valid usage of extractors, this reports some weird errors:

[code]

The extraction could've been done like:

[code]

[2017-08-03 12:30] Jasper-M opened #2951 "Dotc fails with java.lang.AssertionError instead of useful message"
This invalid piece of code attempts to do a type projection on type constructor `Foo` without applying type arguments.

[code]

It crashes with

[code]

[2017-08-03 12:36] felixmulder commented on #2951
Thanks for reporting, I confirm that it indeed goes "explody-boom-boom". Valid code is for this example is for future reference:

[code]

Alas, the reported snippets should not cause the compiler to explode.

[2017-08-03 12:45] Jasper-M commented on #2951
Maybe also useful: scalac reports `error: class Foo takes type parameters`.

[2017-08-03 13:24] biboudis commented on #2930
Hello @mdedetrich!

Thanks for bringing that up! This enhancement indeed seems useful and your code illustrates how boilerplate is added.

As per the original ticket (and the subsequent discussions [1], SLIP proposal [2, 3] and a WIP PR [4], we still need a good story on the spec side (pattern matching, behavior of implicits inside and outside of the for-comprehension). Also the corresponding PR d

[2017-08-03 13:24] #2930 closed

[2017-08-03 14:03] DarkDimius commented on #2636
FTR: making phases a def was done intentionally, so that every run has new phases and phases don't have to carefully manage state between runs.

[2017-08-03 17:00] Glavo opened #2957 "Dotty Repl highlighting does not work for Symbol literals"
![image](https://user-images.githubusercontent.com/20694662/28933619-50505480-78b0-11e7-9ff6-5bc6cbc7b4bf.png)

[2017-08-03 18:09] abeln commented on #2874
Ok, taking a look at this.

Here's a simpler example (also from the paper) that doesn't use type refinements:

[code]

[2017-08-04 11:40] DarkDimius commented on #2944
Taking over this blocker.

[2017-08-04 12:00] DarkDimius commented on #2944
Fix ready. It was easy.

[2017-08-05 10:00] Glavo opened #2960 "Dotty compiler crashes with StackOverflowError on symbol literal"
[code]
I compiled with sbt, and run sbt task 'console'：
[code]

[2017-08-05 10:18] felixmulder commented on #2960
Does it crash using `dotc`?

If so, this is not a REPL issue, which would be greeeeeeeeeeeat, because we're throwing the current REPL out next week.

[2017-08-05 10:49] Glavo commented on #2960
@felixmulder Oh，you right. I try to add main method to the project:
[code]
[code]

[2017-08-05 11:00] felixmulder commented on #2960
"yay"! :)

[2017-08-05 12:23] #2951 closed

[2017-08-05 12:26] #2943 closed

[2017-08-05 12:29] #2636 closed

[2017-08-06 02:57] pathikrit commented on #2573
Actually ran into a big wart recently related to this. See @frosforever's SO post here: https://stackoverflow.com/questions/45333889/regex-unapply-in-for-comprehension-with-if-guard-not-compiling

tl;dr -

This does not compile:
[code]

But removing the if:
[code]
or rearranging the order of the two lists in the for comprehension:
[code]
makes it compile

[2017-08-07 15:13] Glavo opened #2961 "The slogan can not be seen in the default zoom ratio on the home page"
Default:
![image](https://user-images.githubusercontent.com/20694662/29032922-dc826912-7bc5-11e7-83ca-c5f0cf3aa3b0.png)

80%:
![image](https://user-images.githubusercontent.com/20694662/29032969-02d200a0-7bc6-11e7-9f2f-b3adb8dfbdd6.png)

50:
![image](https://user-images.githubusercontent.com/20694662/29032976-09d34544-7bc6-11e7-9ded-169eedfac98a.png)

[2017-08-07 16:25] nicolasstucki commented on #2961
What screen resolution do you have?

[2017-08-07 16:46] nicolasstucki commented on #2960
Here is a minimised version of the code:

[code]

[2017-08-07 16:47] nicolasstucki commented on #2960
Here is a simpler one, but the stack trace is different:
[code]

Maybe not the same issue?

[2017-08-07 16:59] Glavo commented on #2961
@nicolasstucki 1366 x 768, maybe I need to change a new computer?

[2017-08-08 10:03] nicolasstucki commented on #2961
We should probably adapt the size of the logo if the height of the window falls below some threshold. This is also an issue for portrait mode on phones.

![screenshot_20170808-120108](https://user-images.githubusercontent.com/3648029/29067069-9349b00e-7c31-11e7-84f6-499dbb7d851f.png)

[2017-08-08 15:30] #2949 closed

[2017-08-08 15:31] nicolasstucki opened #2964 "Anonymous classes indices should not be global"
Currently fresh names for anonymous classes follow this pattern
[code]
which will depend on the compilation order.

We need to change it to give fresh names per owner class like:

[code]

[2017-08-08 15:34] DarkDimius commented on #2964
I propose we do renaming late in pipeline(near the backend) but initially still create unique names fro lambdas:

 - It helps tremendously with debugging;
 - you don't know how are lambdas going to be lifted until very late.

[2017-08-09 15:09] felixmulder opened #2966 "Add `.exceptionally` to pool submission in Vulpix"
Vulpix submits runnables to a thread pool in [ParallelTesting.scala](https://github.com/lampepfl/dotty/blob/master/compiler/test/dotty/tools/vulpix/ParallelTesting.scala#L424-L426). These submissions generate futures which do not have an exception handler.

By doing `.exceptionally` we could add handlers for these. This would be useful for not foregoing any stacktraces that might be lost.

[2017-08-09 15:32] felixmulder opened #2967 "Adapt vulpix to SAM types"
When moving to >= 2.12 after #2827 is merged, we can make vulpix use SAM types instead of doing things like:

`new Runnable { ... }` we can do `() => { ... }`.

[2017-08-09 18:03] smarter opened #2968 "print deprecation warning for bitshift Int by a Long"
The current situation is pretty bad:

2.11/Dotty:
[code]

2.12 (since https://github.com/scala/scala/pull/4238):
[code]

See also the discussion at https://gitter.im/scala/contributors?at=598b4b3eee5c9a4c5fa61568 where @ichoran proposed getting rid of `Int#<<(x: Long)` since it can be so easily misused.

[2017-08-09 18:29] Ichoran commented on #2968
To clarify, I find it highly implausible that someone would go to the trouble of making the RHS of a shift be `Long` (as a constant) unless they intended a `Long` result.  The right-hand-isn't-a-constant case is less clear.  But if we're not going to widen everything to `Long` as was done in 2.11, then the mixed `Int/Long` case just shouldn't compile because we can't tell whether the RHS was meant

[2017-08-09 19:16] som-snytt commented on #2968
Just wanted to point out that shifting by constant doesn't have to be explicit or obvious. It could be an inherited constant value, etc, so the expression doesn't necessarily indicate an intention to widen.

[code]
Also, if you name an operation shift, then you must expect it to be shifty.

[2017-08-09 19:40] Ichoran commented on #2968
One should write one's contracts especially carefully when dealing with those who are shifty: spell things out.

[2017-08-09 19:43] DarkDimius commented on #2968
My opinion on the matter:

- permit under `-language:Scala2`, but issue deprecation warning.
- prohibit in Scala3;

[2017-08-09 20:20] som-snytt commented on #2968
I just proposed a book series of aphorisms and it turns out that roughly-edged APIs are a great resource. ([the gitter](https://gitter.im/scala/scala?at=598b6bad76a757f8088cd1f2))

[2017-08-09 22:05] sjrd commented on #2968
The differing behavior in the presence of a constant was a plain bug of the constant folder, foxed in the PR you mentioned. There was, independently, the problem of widening, which was inconsistent with Java and which I fixed in https://github.com/scala/scala/pull/5117.

I think it would be reasonable to deprecate and eventually remove the Int shift Long overload, even in 2.x.

[2017-08-12 03:07] lihaoyi commented on #2578
This turned up in the scala/contributors gitter

[code]

[2017-08-14 02:40] LordPython opened #2971 "Soundness issue with variance and higher kinded types"
While playing around with dotty I encountered what seems to be a issue with the typechecker. Here's a minimal example where I was able to reproduce the issue:

[code]

It seems like the type that dotty is inferring for `foo` is `Foo[X]`, even though it should be `Foo[X|Y]`, and because of this is allowing me to then use the result in ways I shouldn't be able to.

Also, I couldn't find a way to ann

[2017-08-14 11:32] julienrf opened #2972 "Type inference issue"
I had to add the following type ascription to get things compile with Dotty: https://github.com/scala/collection-strawman/pull/188/commits/1bc58a571719641899da2ab49d7ce71da5ed43c1

Prior to this commit, I got the following error: https://travis-ci.org/scala/collection-strawman/builds/264300323#L1366-L1383

[2017-08-14 17:12] smarter opened #2973 "Unsoundness due to missing variance checks for extends clause"
This shouldn't compile:
[code]
scalac realises that:
[code]

[2017-08-14 17:38] smarter opened #2974 "Specificity in contravariant implicit resolution"
The Dotty resolution algorithm was recently ported to scalac by @milessabin in https://github.com/scala/scala/pull/6037#discussion_r133001639 where this came up:
[code]

This fails because `Bar[Int]` is not considered more specific than `Foo[Any]`, because the variance-flipping we do in `isAsSpecificValueType` is not thorough enough:
[code]

`hasMatchingMember` returns the original member `T` in `

[2017-08-14 18:18] smarter commented on #2971
Ouch, nice find! I think I figured it out the issue leading to the ClassCastException and will open a PR shortly. Your second example still fails to compile due to type inference having a hard time with unions in higher-kinded types, but let's take it one at a time.

[2017-08-14 19:19] smarter opened #2976 "Vulpix does not give reproduction instructions for neg tests"
When a neg test fails (e.g., with a compiler crash), reproduction instructions are not dumped to the log file like for other kind of tests.

[2017-08-15 07:02] odersky opened #2977 "REPL behaves strangely on first try, OK afterwards."
Here's a transcript:
[code]

[2017-08-15 08:49] vlthr opened #2979 "Compiler crash when compiling a bare Map construction with unknown types"
Compiling the following file results in an AssertionError using the latest nightly build (also tested in 0.2.0-RC1 and 0.1.2-RC1):
[code]
The stack trace is as follows:
[code]
A minimal reproduction is also available in the `assertion-error` branch of [vlthr/dotty-test](https://github.com/vlthr/dotty-test/tree/assertion-error).

The error disappears when:
- The Map constructor call is placed on th

[2017-08-15 08:50] felixmulder commented on #2977
Seems to be classpath issues from discussion in meeting.

[2017-08-15 08:50] DarkDimius commented on #2977
I'm pretty sure this is due to classpath pollution.

[2017-08-15 09:16] olafurpg commented on #2806
Keeping the community build in sync with the latest nightly release continues to be a struggle https://github.com/lampepfl/dotty-community-build/pull/15 It would be an improvement if the latest binary version (0.2/0.3/...) was written down somewhere in a fixed place, the full version number can be fetched from Maven Central.

[2017-08-15 10:28] biboudis commented on #2979
Reproducing! Thanks for reporting!

[2017-08-15 10:34] LordPython opened #2980 "Compiler crash with inline"
With the following:
[code]
I get the dotty compiler to crash with:
[code]

Interestingly, removing the use of higher kinded types (and monomorphising ~> into => manually), or turning the inline def into val compiles just fine.

[2017-08-15 10:58] felixmulder commented on #2307
@biboudis - update on this? Do things then close plz.

[2017-08-15 11:48] vlthr opened #2981 "Compiler crash when resolving multiple implicit typeclasses"
This error originally occurred using typeclasses from Shapeless, but can be can be reproduced without dependencies (as minimally as I could make it) as follows (tested on latest nightly build, 0.2.0-RC1, and 0.1.2-RC1):
[code]
Compiling this results in an AssertionError with the following stack trace:

<details><pre>
java.lang.AssertionError: assertion failed
        at scala.Predef$.assert(Predef

[2017-08-15 12:16] nicolasstucki commented on #2274
This is just an artifact of the test framework loading classes compiled by scala2. It will disappear when we bootstrap.

[2017-08-15 12:16] #2274 closed

[2017-08-15 12:38] biboudis commented on #2307
We are waiting scala/compiler-benchmark#31 to be merged.

[2017-08-15 12:40] olafurpg commented on #2307
What about https://github.com/liufengyun/bench @liufengyun?

[2017-08-15 12:52] nicolasstucki opened #2982 "Method type parameters not inferred when used in contravariant class type param"
[code]
Gets the following code
[code]

It also looks like #2671 and #2418 because of the contravariance of the arguments in the functions.

[2017-08-15 12:58] biboudis commented on #2307
It is good to have both and testing scalac and dotc side by side, on the same stable infrastructure will increase the confidence on either of these! Consequently, it would be good!

[2017-08-15 14:25] #2250 closed

[2017-08-15 17:54] smarter commented on #2981
@odersky: This happens because the following in `ProtoTypes.scala`:
[code]
is actually just the identity: `newLikeThis` ends up calling `PolyType#apply` which does unique-consing:
[code]
So we get back the original `PolyType`, and then crash because we try to add it to the constraints. It seems like we need another method to really clone a `TypeLambda`.

[2017-08-15 20:21] Jacoby6000 opened #2985 "GADT matching with variant type parameters is not supported"
This works fine if you make `Expr` invariant.  It will not work with Covariance or Invariance. They both fail with the same error.

[code]

Error:

[code]

[2017-08-15 20:41] smarter commented on #2985
Our current implementation of GADTs is limited to invariant type parameters, which is hopefully a limitation we can lift (though this has to be done carefully to avoid issues like in section 3 of http://lampwww.epfl.ch/%7Ehmiller/scala2013/resources/pdfs/paper5.pdf), from `Typer.scala`:
[code]

[2017-08-16 07:15] milessabin commented on #2974
@odersky I'd appreciate some clarification on this ... it's unlikely that the Scala PR will be merged if the intended semantics in Dotty are unclear.

[2017-08-16 09:30] mdedetrich commented on #2968
I agree with @DarkDimius , should be deprecated in Scala2 but removed in Scala3. Implicit number conversions should never happen when doing bitshifts, because they are pretty much never what you want

[2017-08-16 11:02] #2971 closed

[2017-08-16 11:02] #2980 closed

[2017-08-16 11:20] #2646 closed

[2017-08-16 12:03] #2960 closed

[2017-08-16 12:30] smarter opened #2987 "Investigate why the Block TypeAssigner avoids types but not terms"
See https://github.com/lampepfl/dotty/pull/2945/commits/e7e643c3babeadaa920895c113c2aaa4ce41df13 and the follow-up discussion at https://github.com/lampepfl/dotty/pull/2945#issuecomment-322751895. Ever TypeAssigner needs to be changed to avoid everything or we need to document why there's a special case.

[2017-08-16 13:36] smarter opened #2989 "HK type parameter`Y` not considered a subtype of `[T] => Y[T]` in some situations"
[code]

[2017-08-16 13:36] smarter commented on #2971
Opened https://github.com/lampepfl/dotty/issues/2989 to track a problem related to your second example.

[2017-08-16 14:23] nicolasstucki commented on #1709
This does not crash on the current master with the current scala2-library. Furthermore, those files have been added to the white list a while ago.

@DarkDimius can we close this issue?

[2017-08-16 14:32] nicolasstucki commented on #1846
The current exception is
[code]

[2017-08-16 15:57] DarkDimius commented on #1709
@nicolasstucki, thanks for checking it!

[2017-08-16 15:57] #1709 closed

[2017-08-16 16:14] #2948 closed

[2017-08-17 08:17] nicolasstucki commented on #2982
Note that inferring `Nothing` is correct as the effective bounds of `E` are `Nothing <: E <: Int`.

The issue is that any unconstrained use of `E` (such as implicit parameters and in the return type)  may use `Nothing` where one expects `Int`.

[2017-08-17 09:57] #2788 closed

[2017-08-17 12:14] nicolasstucki commented on #2982
Where are two other test cases that show the issue with some nesting.

[code]

[code]

In both cases the bounds of `E` are `Nothing <: E <: Int`.

[2017-08-18 09:05] olafurpg opened #2994 "Regression Aug 15th-17th in community build compiling Squants"
- 0.3.0-bin-20170815-8b8baba-NIGHTLY is green https://travis-ci.org/lampepfl/dotty-community-build/jobs/265491127
- 0.3.0-bin-20170817-fed2dc2-NIGHTLY is red https://travis-ci.org/lampepfl/dotty-community-build/jobs/265885027#L588

Compilation errors

[code]

Definition of `Energy` https://github.com/dotty-staging/squants/blob/616fe0d74bedea35a5b2f0e79dc3c42cbaa5b0ce/shared/src/main/scala/squants/

[2017-08-18 16:25] smarter commented on #2994
My guess would be https://github.com/lampepfl/dotty/pull/2962

[2017-08-18 21:57] #2957 closed

[2017-08-20 20:23] Jendrik3 opened #2996 "Purpose of the Makefile in the binary release"
What's the purpose of the Makefile in the binary release? `./bin/dotr` worked fine without running `make`. When should you run make?

[2017-08-21 08:02] liufengyun commented on #2996
That `Makefile` provides some convenience for some Linux users, but it is not required to run `bin/dotr` and `bin/dotc`. We are going to remove it in our next release to avoid confusion.

[2017-08-21 11:56] felixmulder commented on #2994
Minimized:

[code]

[2017-08-21 13:03] smarter commented on #2994
Felix's reduction is incorrect because it doesn't compile with scalac either.

[2017-08-21 13:23] felixmulder commented on #2994
Here's the corrected version, I'm hoping github mail works - because we
can't access the web ui from EPFL currently.

[code]

On Mon, Aug 21, 2017 at 3:03 PM Guillaume Martres <notifications@github.com>
wrote:

[2017-08-21 14:27] felixmulder commented on #2994
Here's the corrected version, I'm hoping github mail works - because we
can't access the web ui from EPFL currently.

[code]

[2017-08-21 14:39] soronpo opened #2997 "Special handling in the typer of scala.Singleton is missing"
[code]
Scastie link: https://scastie.scala-lang.org/DcDeG4eYQTG17exjb2FigQ

[2017-08-21 15:00] smarter commented on #2997
I don't think this has anything to do with class fields, it's just that Dotty doesn't know anything about the`Singleton` trait.

[2017-08-21 15:10] soronpo commented on #2997
Even without the `Singleton` the behavior differs between a function argument and a class field.
[code]

[2017-08-21 15:28] smarter commented on #2997
Ah, that's interesting, still not specific to class field though :). `val a: 1 = Foo(1).t` becomes `val a: 1 = Foo.apply(1).t`, when inferencing the type parameter of `apply` we first pick up `>: 1` from the argument, we should pick up `<: 1` from the return type of `a` but we don't for some reason, I'll open a separate issue for that.

[2017-08-21 15:35] smarter opened #2998 "When ExprType(T) has expected type Foo, we should add a constraint T <: Foo"
Type inference should work the same for `zero` and `one`, but it doesn't, `foo(1).zero` has expected type `1` but this isn't added as a constraint, so we instantiate `T` to `Int` (because the only constraint is `>: 1` and we widen when instantiating a singleton lower bound)

[code]

[2017-08-21 15:35] smarter commented on #2997
See https://github.com/lampepfl/dotty/issues/2998

[2017-08-21 15:43] #2928 closed

[2017-08-21 15:43] nicolasstucki opened #3000 "Anonymous class lifted in wrong package"
[code]
fails `Ycheck` with

[code]

[2017-08-21 15:49] soronpo commented on #2997
OK, thanks!

[2017-08-21 17:45] AleksanderBG opened #3004 "Custom unapply methods can produce misleading error messages"
As a simple example, the following code:
[code]
produces the following message:
[code]
The pattern match is, in fact, exhaustive and the message is somewhat puzzling.

The underlying issue is the interaction between this code in the `project` method:
https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/transform/patmat/Space.scala#L430-L431
and the places in rest of the code

[2017-08-21 20:57] liufengyun commented on #3004
Thanks for the diagnosis @AleksanderBG !

[2017-08-22 07:44] #3000 closed

[2017-08-22 08:00] milessabin commented on #1998
I've been working on implementing this for Scala 2 and have run into what appears to be a good case for `lazy` (ie. at most once) rather than (or as well as) by name semantics.

Consider the following example,
[code]
This doesn't compile (either on my Scala 2 branch or with Dotty) because the by name argument `foo` is not stable,
[code]
This pattern is very important in implicit-based type level p

[2017-08-22 08:39] Jendrik3 commented on #2996
Alright, thank you for clarifying.

[2017-08-22 08:39] #2996 closed

[2017-08-22 09:00] smarter commented on #1998
I'm not sure if lazy implicits would be considered stable either, for the same reason that lazy vals in general are not stable in Dotty: http://scala-lang.org/blog/2016/02/17/scaling-dot-soundness.html#loopholes-caused-by-scaling-up

[2017-08-22 09:01] milessabin commented on #1998
Presumably a statically non-null lazy val would be stable?

[2017-08-22 09:04] milessabin commented on #1998
I would be happy with the restrictions listed in the "Plugging the Loopholes" section of that post.

[2017-08-22 09:09] smarter commented on #1998
OK, would you mind opening a new issue for this feature? Just reopening this issue might be confusing.

[2017-08-22 10:22] milessabin opened #3005 "Add support for lazy (explicit|implicit) parameters"
#1998 makes implicit parameters consistent with explicit parameters by allowing implicit parameters to also be by-name. This change was motivated in Dotty (and work in progress on Scala 2) to support the same sort of type level programming use cases which are currently enabled by shapeless's `Lazy` type.

However, the bynamity of a parameter prevents it from being stable which means that the follo

[2017-08-22 10:22] milessabin commented on #1998
Done: https://github.com/lampepfl/dotty/issues/3005

[2017-08-22 13:30] #2916 closed

[2017-08-22 13:38] smarter commented on #2974
We've agreed in our internal meeting that the current Dotty behavior is wrong and should be changed so that `Bar[Int]` is more specific; we've also agreed to keep the current "flip variance only at the top-level" semantics. Of course all of this might still change in the future based on user feedback, etc, which hopefully Miles implementation will help us get!

[2017-08-22 13:54] nicolasstucki opened #3006 "Anonymous methods indices should not be global"
[code]

will have the `f` lifted as `f$1` and `f$2`, but they should be both `f$1` as they are in different classes. Currently, the result of the code depends on the compilation order.

This is a follow-up of #2964.

[2017-08-22 18:30] felixmulder opened #3007 "Implement initial and cleanup commands as well as value bindings for REPL"
https://github.com/dotty-staging/dotty/blob/812f141ba97e224168fc3bf91a6401c5dd349ce8/sbt-bridge/src/xsbt/ConsoleInterface.scala#L22-L39

[2017-08-23 07:38] olafurpg commented on #2307
https://github.com/scala/compiler-benchmark/pull/31 is now merged. The fancy website and wow numbers for open PRs seem to be solved by Fengyun's awesome bench project, I think this issue can be closed.

[2017-08-23 09:15] OlivierBlanvillain opened #3008 "Account for `@showAsInfix` in `isInfixType`"
[This TODO](https://github.com/dotty-staging/dotty/blob/7bfe4d5241c4e4c1f15e18ea950b23f738f4c683/compiler/src/dotty/tools/dotc/printing/RefinedPrinter.scala#L132)

https://github.com/scala/scala/blob/v2.12.3/src/library/scala/annotation/showAsInfix.scala

[2017-08-23 09:45] OlivierBlanvillain commented on #2554
Actually take back what I've said in #2991 (I tested with scalac repl...), this breaks the new repl in a different way:

[code]

[2017-08-23 09:51] felixmulder commented on #2554
My first guess is that there should be a null check when trying to render the rhs of the last val. I'll look into it after lunch :)

[2017-08-23 09:55] felixmulder commented on #2554
Yes, it seems like that's the issue, will fix asap

[2017-08-23 14:32] Rajesh-Veeranki commented on #2967
I can work on this. So, only the files under the package `dotty.tools.vulpix` should be affected right?

[2017-08-23 15:00] felixmulder commented on #2967
That is correct, but if you want, you can also adapt the things in the `dotty.tools.dotc.interactive` package IIRC :)

[2017-08-23 18:58] Rajesh-Veeranki commented on #2967
Raised a PR [here](https://github.com/lampepfl/dotty/pull/3010)
I found only two places where `() => {...}` it can be used. Please have a look and let me know if its fine.

[2017-08-24 08:08] olafurpg opened #3012 "Non-nullary apply is permitted on dotty nullary method overriding java method"
Copy-pasteable repro.
[code]

I expected dotty to report an error like below

[code]

Related https://github.com/lampepfl/dotty/issues/2570

[2017-08-24 11:23] liufengyun opened #3015 "Remove magic in exhaustivity check"
In the exhaustivity check, when decomposing a type `path.B[Int, String]`, we get two child classes `C1` and `C1`. The problem is how to turn the two classes into proper types related to `path`, `Int` and `String`?

Current implementation resorts to some ad-hoc hack which is not well-grounded. The correct way to solve the problem is to use type inference, as suggested by Martin.

[2017-08-25 10:14] milessabin commented on #2974
Fixed [in scalac](https://github.com/scala/scala/pull/6037#issuecomment-324877976) ;-)

[2017-08-25 11:36] felixmulder commented on #1440
New REPL doesn't do this :)

[2017-08-25 11:36] #1440 closed

[2017-08-25 12:37] liufengyun opened #3018 "Incorrect local optimisation cause run-time exceptions"
Compile the following code with (do `sbt dist/pack` first if it doesn't exist):

    dist/target/pack/bin/dotc -optimise space.scala

[code]

However, running it gives the code `dist/target/pack/bin/dotr Test` generates a run-time exception:

[code]

This issue is reproduced from #3011.

[2017-08-25 13:39] felixmulder commented on #2554
See #3020

[2017-08-25 15:48] #2195 closed

[2017-08-25 15:48] #2307 closed

[2017-08-25 15:48] #2815 closed

[2017-08-25 15:50] felixmulder opened #3023 "Develop Dotty Bootstrapped"
- [ ] Debugger
- [ ] Fix Tasty (@nicolasstucki)

[2017-08-25 15:53] felixmulder commented on #2239
What's the status of this? It seems to be blocking json4s for #2182? Or is that no longer relevant to said issue?

[2017-08-25 15:53] felixmulder commented on #2182
@olafurpg - since we're now on 2.12.3 we should add `better-files` to the community build! :tada:

[2017-08-25 16:33] #3018 closed

[2017-08-25 17:51] #3004 closed

[2017-08-26 15:37] newca12 commented on #2851
As expected both issues are now solved in HEAD with the brand new REPL.
This ticket could be closed.

[2017-08-26 15:45] newca12 opened #3024 "SBT alias `repl` references wrong `Main`"
Usual ways as given in : http://dotty.epfl.ch/docs/contributing/getting-started.html
dotty.tools.dotc.repl.Main is not found anymore when using bin/dotr and repl task in sbt also no longer works
sbt dotty-repl/repl work OK, thanks @smarter for the tip

[2017-08-26 16:09] smarter commented on #3024
Since the repl sources are currently part of the dotty-compiler project it doesn't really make much sense to have a separate dotty-repl project in the Build.scala. /cc @felixmulder

[2017-08-26 16:22] newca12 opened #3025 "Tuples are not pretty printed in REPL"
[code]

[2017-08-26 17:57] felixmulder commented on #3025
Thanks for reporting, we haven't implemented these desugarings in `UserFacingPrinter`, should be trivial :+1:

[2017-08-26 18:01] felixmulder commented on #3024
I still think that this should be a separate project as much as the language server should. We, however, have the subata integration to worry about - and as such this still needs to be a part of `dotty-compiler` by including sources via `Build.scala`

I'm surprised that `dotty-repl/repl` works, it shouldn't right? What should work is `dotty-repl/run`. If `dotty-repl/repl` works, it should be a bug

[2017-08-26 20:47] smarter commented on #3024
For what purpose? Having a `dotty-repl` project is misleading, things like `dotty-repl/publishLocal` will not do anything useful. It also means the repl sources are part of three projects: `dotty-repl` (currently non-bootstrapped), `dotty-compiler`, and `dotty-compiler-bootstrapped`. This is too much.

[2017-08-26 23:28] smarter commented on #3025
RefinedPrinter already has code to deal with this: https://github.com/lampepfl/dotty/blob/9f5711f0e1a1c5fac33dc21bb555c37ba26ed946//compiler/src/dotty/tools/dotc/printing/RefinedPrinter.scala#L116-L126

[2017-08-28 09:36] felixmulder commented on #3024
Agreed, hence my argument that it should only be a single project - a bootstrapped project `dotty-repl`, but subata got in the way again 🍲

This is too OT for discussion on this issue, write to me on Slack when you wake up :)

[2017-08-28 11:46] julienrf opened #3028 "Unable to parse Java raw types"
The following Java code is parsed and compiled by javac but dotc rejects it:

[code]

The errors produced by dotc are the following:

[code]

The full code is available [here](https://github.com/scala/collection-strawman/blob/trie-map/src/main/scala/strawman/collection/concurrent/INodeBase.java).

[2017-08-29 08:03] #3024 closed

[2017-08-29 14:35] milessabin commented on #1998
Scala 2 implementation here: https://github.com/scala/scala/pull/6050.

You might want to take a look at [this test](https://github.com/milessabin/scala/blob/87b912c298228076cad8448b23820b596b961ccd/test/files/run/byname-implicits-6.scala) ... it was one of the original motivating examples for shapeless's `Lazy` (see [this SO question](http://stackoverflow.com/questions/25923974)). It's handled co

[2017-08-29 15:28] smarter commented on #1998
@milessabin Cool! I think it'd be worth opening an issue for the test you mention, a minimized version reproducing the problem would also be appreciated :).

[2017-08-29 18:38] Rajesh-Veeranki commented on #3007
While I was working on this, few doubts popped up.
1. Can we assume `initial` and `cleanup` commands are always parsed successfully?
  -- If yes, probably we can make `case class Silent` extends `Parsed`
2. If not, is the `case class Silent` always one of `Parsed`, `SyntaxErrors`, `Newline`, `SigKill`, `Command`?
Hope I made sense.

[2017-08-29 20:22] smarter commented on #2290
@felixmulder @OlivierBlanvillain CI cache needs to be updated again after the switch to 2.12, not sure who's responsibility this is now :).

[2017-08-30 09:16] felixmulder commented on #3007
You're making sense :)

1. No
2. Yes

One way to do this is to say:

[code]
that way we can unpack it to the `underlying` result.

A more type safe way to do this is to introduce a marker trait extending `ParseResult` that denotes something concrete e.g:

[code]

And then making `Silent` be:

[code]

Perhaps there's a better name than concrete though 😄

[2017-08-30 09:23] megri opened #3036 "Allow website visitors to comment on documentation"
Could we have inline comments on the documentation pages?
Something like https://tsi.github.io/inlineDisqussions/

[2017-08-30 09:42] felixmulder commented on #3036
Sounds cool, I think we'd be happy to accept a PR on this :)

[2017-08-30 09:43] felixmulder commented on #3036
The only question is if it can scale. We're using dottydoc to create the web-page. So this has to be general enough that people who don't want it can disallow it and people who do want it can use it for themselves (not getting something we hardcoded).

[2017-08-30 09:46] OlivierBlanvillain commented on #2290
Fixed in #3035. For future reference instructions to rebuild the docker image are in https://github.com/lampepfl/dotty-drone.

[2017-08-30 09:46] #2290 closed

[2017-08-30 14:49] megri commented on #3036
Is it possible to sideload a javascript? That should work

[2017-08-30 14:57] felixmulder commented on #3036
Sure, in [./docs](https://github.com/lampepfl/dotty/tree/master/docs) - you can edit the `_include` or `layouts` to sideload your JavaScript :)

[2017-08-30 14:59] felixmulder commented on #3036
As seen here:

https://github.com/lampepfl/dotty/blob/master/docs/index.html#L7-L11

You can include extra JS files in some of our default templates.

[2017-08-31 09:42] nicolasstucki commented on #2982
After offline discussions with @odersky and @DarkDimius we settled on the following rule to infer upper bounds:
* if the type parameter has only an upper bound constraint (no lower bound), then the type is inferred to the upper bound of the constraint bounds.

This logic should be added to `OrderingConstraint`.

[2017-08-31 09:54] nicolasstucki opened #3040 "`dotr` and `dotc -repl` do not work with new REPL"

[2017-08-31 09:54] nicolasstucki commented on #3040
@felixmulder any good insight about what you missed?

[2017-08-31 09:56] OlivierBlanvillain commented on #3040
I have fix in progress

[2017-08-31 10:01] felixmulder commented on #3040
This is a known problem, see: #3026

It has been fixed for the dist-scripts, we should just have the `./bin` scripts call `sbt dist-bootstrapped/pack-archive` if files have changed.

[2017-08-31 10:07] OlivierBlanvillain commented on #3040
Alright, so basically get ride of `./bin` and write a new launcher that calls `sbt dist-bootstrapped/pack-archive` the first time and forward to `./dist/bin` afterward. I'll do that after lunch :smile:

[2017-08-31 10:10] felixmulder commented on #3040
SGTM :+1:

Just make sure that if there are any file changes in `./compiler` etc that it calls to `sbt dist-bo..*` again 😄

[2017-08-31 11:43] nicolasstucki commented on #3040
It is also broken on for `./dist/bin/dotr`

The error is:
[code]

[2017-08-31 11:45] felixmulder commented on #3040
You haven't unpacked the tar.gz is my guess.

[2017-08-31 11:50] liufengyun commented on #3040
@nicolasstucki You should run `sbt dist-bootstrapped/pack`

[2017-08-31 11:51] nicolasstucki commented on #3040
That did not work

[2017-08-31 11:51] OlivierBlanvillain commented on #3040
I'm on it guys

[2017-08-31 11:53] nicolasstucki commented on #3040
I made it run with `./dist-bootstrapped/target/pack/bin/dotr`

[2017-08-31 11:53] OlivierBlanvillain commented on #3040
^ that's calling the old scripts that are simply moved into /pack/bin by `sbt-pack`

[2017-08-31 11:57] nicolasstucki opened #3041 "REPL crashing on OR types"
[code]

[2017-08-31 12:08] felixmulder commented on #3041
Fixed in: https://github.com/lampepfl/dotty/pull/3032

[2017-08-31 13:58] #3025 closed

[2017-08-31 13:58] #3041 closed

[2017-08-31 15:43] #2554 closed

[2017-08-31 15:45] #3040 closed

[2017-08-31 17:39] Rajesh-Veeranki commented on #3007
Thanks for the help. I've submitted a WIP PR, to check if I'm going in right direction. If I understood marker traits correctly, I need to declare a trait, say `Concrete` and attach it to all `Parsed`, `SyntaxErrors`, `NewLine` etc right?
Say,
`case class Parsed(...) extends ParseResult with Concrete`

Also I'm getting this warning, even though I am unpacking the inner object and required `Silent`

[2017-09-01 09:11] olafurpg commented on #2994
Any update on this? The community build is still red for Squants. https://travis-ci.org/lampepfl/dotty-community-build/jobs/270746972#L588

[2017-09-01 09:20] felixmulder commented on #2994
We concluded that the code is bad and that it should be changed. What happens is that the call `Energy("")` has to be adapted with an `apply`. The problem then becomes, how many `apply`s and where?

So it tries:

`Energy.apply("")`, but that is not legal since we're actually getting back the function `apply` which in turn has to be adapted, and #2962 makes that an impossibility.

The code should b

[2017-09-01 09:22] olafurpg commented on #2994
Fair enough, I agree with the conclusion 👍

[2017-09-01 09:28] felixmulder commented on #2994
We should put this in the spec, though :)

[2017-09-01 14:49] OlivierBlanvillain opened #3050 "notype when inlining pattern matching"
[code]

<details>
  <summary>Stack trace</summary>
<pre>
Exception in thread "main" java.lang.AssertionError: assertion failed: <notype> class dotty.tools.dotc.ast.Trees$TypeTree 115
        at scala.Predef$.assert(Predef.scala:219)
        at dotty.tools.dotc.typer.ReTyper.promote(ReTyper.scala:29)
        at dotty.tools.dotc.typer.ReTyper.typedTypeTree(ReTyper.scala:52)
        at dotty.tools.do

[2017-09-01 15:37] nicolasstucki opened #3051 "Lifted anonymous classes clash with non anonymous ones"
[code]
As the unique name generator does not know about the name on `class $anon$1`, it will give the same name to the class for `new Object { }`. The result is a corrupted scope where both names refer to the same symbol and get stuck in an infinite loop.

Same for methods
[code]

There are two possible solutions
 * Disallow names
 * Register all relevant names for classes and methods in the map o

[2017-09-02 18:56] smarter opened #3052 "Benchmark more things"
Here are some suggestions of things we could add to the set of things we benchmark:
- [ ] Benchmark against scalac
- [ ] Benchmark against a non-bootstrapped dotty
- [ ] Benchmark against an optimized dotty
- [ ] Benchmark more code, like all the projects in the https://github.com/lampepfl/dotty-community-build
- [ ] Benchmark re-using the same compiler instance like in https://github.com/scala/co

[2017-09-02 21:00] liufengyun commented on #3052
Thanks for making the list @smarter . I see some items are actionable, but other need more thinking about how to accommodate them without breaking the maintainability of the bench infrastructure.

The new bench project adopts a _data-centered design_, where the whole system is designed around the [CSV file](https://github.com/liufengyun/bench/blob/master/history.csv). This design enables us to eas

[2017-09-02 21:11] smarter commented on #3052
Good questions! :) I don't have any strong opinion here. I think it'd be interesting to just run Scala 2.12.3 once on whatever test cases we can get it to work on and display that. This way we have some idea of how much better or worse we are.

I think that's OK.

Yes, re-using the same root context like we do in the REPL and the IDE.

The other project now also supports dotty: https://github.com/

[2017-09-04 08:04] nicolasstucki opened #3055 "Benchmark on Dotty bootstraped"
We currently benchmark the performance on Dotty compiled by `scalac`, for each benchmark that we have. We need to add on top of this the performance of Dotty compiled by Dotty and if possible display them in the same plot.

This is orthogonal to #3052.

[2017-09-04 08:14] nicolasstucki commented on #3051
As mentioned in the language specifications the `$` are reserved by the compiler (http://scala-lang.org/files/archive/spec/2.12/01-lexical-syntax.html). We should add warnings/errors when using such identifiers.

[2017-09-04 09:53] biboudis commented on #3050
Just a tiny bit of more info, this works:

[code]

but this not:

[code]

[2017-09-04 12:46] MasseGuillaume opened #3057 "Dotty Doc Table of content does not unfold level 3"
## To reproduce:

open http://dotty.epfl.ch/docs/reference/union-types.html

click on "NEW TYPES" in the Table of content (unfolds level 3)

click on "Union types" in the Table of content

## Obtained:

[code]

## Expected

[code]

## Bonus point

it would be nice to show the active page in the TOC

[2017-09-04 13:15] pweisenburger opened #3058 "Type mismatch error involving type member"
When compiling the following code:
[code]

Dotty produces the following compiler error:
[code]
There should be no type mismatch. Splitting the last expression like `val x = b(a); test(x)` works.

[2017-09-04 16:47] biboudis commented on #3050
@OlivierBlanvillain we pushed our changes to 03efed4, it passes (modulo the `isInstanceOf` hack).
What do you think?

[2017-09-05 10:15] #2395 closed

[2017-09-05 10:25] #2964 closed

[2017-09-05 10:25] #3006 closed

[2017-09-05 14:02] pweisenburger opened #3067 "Cyclic reference error involving CanBuildFrom in implicit objects"
The following code compiles on Scala but produces a `cyclic reference involving trait CanBuildFrom` compiler error on Dotty:

[code]

[2017-09-05 17:27] allanrenucci opened #3071 "IOException when output directory is missing"
[code]
`dotc` should emit a proper error message like `scalac`
[code]

[2017-09-06 05:14] raymondtay opened #3075 "Type inference on type lambdas w.r.t tuples is confusing"
I was reading over dotty's new _type lambda_ syntax and exploring its feature when i came across an observation when i declared the following expressions in dotty's REPL (Using Dotty `0.3-RC1`):
[code]
I guess my question is whether this is legal because in Scala, it seems to interpret to `Nothing`.

Another example is the following using dotty's REPL
[code]

Last example w.r.t _type lambdas_ in t

[2017-09-06 15:51] OlivierBlanvillain opened #3081 "Stackoverflow inlining 3 level deep for comprehensions"
[code]

<details>
  <summary>Stack trace</summary>
<pre>
Exception in thread "main" java.lang.StackOverflowError
        at dotty.tools.dotc.ast.Trees$Instance$TreeAccumulator.foldOver(Trees.scala:1240)
        at dotty.tools.dotc.ast.tpd$TreeOps$$anon$2.traverse(tpd.scala:837)
        at dotty.tools.dotc.ast.Trees$Instance$TreeTraverser.apply(Trees.scala:1326)
        at dotty.tools.dotc.ast.Tree

[2017-09-06 16:11] OlivierBlanvillain opened #3082 "Scoping issue with inline inside a private method"
[code]

Results in an `assertion failed: symbol (method bar$_inlineAccessor_$1) entered the scope of non-class owner method foo`

<details>
  <summary>Full Stack trace</summary>
<pre>
Exception in thread "main" java.lang.AssertionError: assertion failed: symbol (method bar$_inlineAccessor_$1) entered the scope of non-class owner method foo
        at scala.Predef$.assert(Predef.scala:219)

[2017-09-06 16:14] smarter commented on #3075
I think you're confused, what happened here is that `T[Int, _]` was replaced by its definition `(Int, Int)` (the fact that the repl prints `val t: Int, Int` instead of `val t: (Int, Int)` is a bug that does not occur anymore on master). The wildcard never "inherited" anything.

No, it's a path-dependent type, but it doesn't really make sense here because the type parameter `T2` of `Tuple` is not p

[2017-09-06 16:14] #3075 closed

[2017-09-06 21:29] esarbe opened #3083 "Assertion in TypeErasure.sigName when signature references type coming from self-type"
[code]

will result in `[error] (compile:compileIncremental) java.lang.AssertionError: assertion failed: NoType`

Stacktrace:
[code]

[2017-09-06 22:02] smarter commented on #3083
Minimized example reproducing the crash:
[code]

This doesn't crash but fails with an error:
[code]
[code]

@odersky WDYT? Should signatures referring to types coming from the self-type be prohibited, just like signatures referring to private types?

[2017-09-08 22:23] smarter opened #3089 "Drop support for curried type lambdas"
It's not clear at all how they should interact with higher-kinded type parameter inference, in any case they are likely to make it harder to abstract over type lambdas, and to require some uncurry and curry type functions. Their main use-case is reduced verbosity, but this can also be achieved by having some form of inline syntax for type lambdas like https://github.com/non/kind-projector#inline-s

[2017-09-08 22:28] smarter commented on #3055
The benchmarks are now bootstrapped: https://github.com/liufengyun/bench/commit/357b792ec7af41a3fab8b45dd95b4a78581f0e2e

[2017-09-08 22:28] #3055 closed

[2017-09-09 00:57] TheReturningVoid opened #3090 "IntelliJ fails to import SBT project: Can't register given path of type 'TEST' because it's out of content root"
Attempting to import the dotty SBT project into IntelliJ 2017.3 EAP gives the following error:

[code]

**Steps to reproduce:**
1. Clone this repository (or an up-to-date fork) recursively
2. Run `sbt managedDependencies`
3. Open the project in IntelliJ

[2017-09-09 08:55] LucDupAtGitHub commented on #3089
Hi, like discussed in the gitter channel, I am likely to vote pro, with the restriction that _mixing_ curried and uncurried versions is restricted (the _scope_ of this restriction should somehow be defined).

You can always explicitly curru or uncurry as I did for the state transformer
`type CurriedState = [S] => [>-->[- _, + _]] => State[S, >-->]`

[2017-09-09 09:06] LucDupAtGitHub commented on #3089
I would even argue to be able to define

`type Curried = [M[_, _[- _, + _]]] => [S] => [>-->[- _, + _]] => M[S, >-->]`
and
`type CurriedState = Curried[State]`

but that does not seem to work (yet (?))

[2017-09-09 11:18] hseeberger opened #3091 "Is there a version of sbt-dotty for sbt 1.x?"

[2017-09-09 11:20] hseeberger commented on #3091
[code]

[2017-09-09 12:04] smarter commented on #3090
I have opened https://github.com/lampepfl/dotty/pull/3093 which should fix the issue. Could you check if it works for you?

[2017-09-09 12:26] TheReturningVoid commented on #3090
Yep, that fixes it.

[2017-09-09 12:33] #3090 closed

[2017-09-09 13:39] smarter commented on #3091
Not yet, there's a WIP branch but it's not currently usable: https://github.com/dotty-staging/dotty/commits/sbt1

[2017-09-09 14:06] TheReturningVoid commented on #1589
I'll take `Typer:992` (right now, it's `Typer:991`) if no-one else is on it.

[2017-09-09 17:53] hepin1989 commented on #1589
Hi,I know Dotty ships great detailed error message, could we make these error message more international ?
Eg, make them a template and could have native language support.
like
case class Foo
           ^
           case class needs to have at least one parameter list
could be
case class Foo
           ^
           case class 至少需要1个参数列表

[2017-09-09 18:02] smarter commented on #1589
@hepin1989 This is an interesting idea, I suggest you open a separate issue with more technical details on how this could be done.

[2017-09-10 09:08] odersky opened #3096 "IDE: Need to double-check before renaming"
I did a rename from Name#isTypeName to Name#isType on the dotty codebase. In most files some of the renames were off by some small number of characters mI.e. I got "iisType" instead of "isType)". Not sure why that happened, but we should be more defensive when renaming, double checking that the renamed region is indeed the right string.

[2017-09-10 10:56] odersky commented on #1247
Note: I edited the definition of "lifting" by adding the clause:

    "and that drops all refinements in covariant positions"

Here's a scenario where this is important:

     class Designator { type ThisName: Name }
     class Name extends Designator

     implicit def eqName: Eq[Name, Name]

In the `dotc` compiler itelf, we want to compare a

    `Designator { type ThisName = TypeName }` with a

[2017-09-11 01:33] Atry commented on #1247
values of type Some[42].

It's the case without `@equalityClass`. If `@equalityClass` works at type-level, then it should be able to make singleton type "widen" to a base type, like it always make the comparison on the base type .

[2017-09-11 08:06] #2924 closed

[2017-09-11 14:48] magnusart opened #3100 "String identifiers yield compilation errors when converted withDottyCompat"
I have gotten an unexpected compilation error when setting up a template project to try out dotty and following the Akka documentation at http://doc.akka.io/docs/akka-http/current/scala/http/introduction.html#using-akka-http

I set up the dependencies described and added `withDottyCompat` to my library dependencies in my `build.sbt` and also made sure to define `crossScalaVersions` as per the Dott

[2017-09-11 15:41] liufengyun commented on #2878
Already done and implemented in http://dotty-bench.epfl.ch .

[2017-09-11 15:41] #2878 closed

[2017-09-12 13:27] nicolasstucki opened #3103 "Suboptimal bytecode for if expressions"
[code]
With `scalac`
[code]

With `dotty`
[code]

[2017-09-12 13:37] olafurpg opened #3104 "Wildcard invalid as backquoted identifier"
[code]

If this is expected, can it be added to the "Dropped section" in the docs? I'm happy to add a migration rewrite to change `_` into something like `__` in scalafix.

[2017-09-12 14:34] nicolasstucki opened #3106 "Suboptimal case object code"
[code]
With `scalac` generates:
[code]

but with `dotty` it generates:
[code]

To improve:
- [x] `equals` could just use object equality (#3125)
- [x] `productElement` has some useless additional `athrow`s
- [x] Our `hashCode` calls `scala.runtime.Statics.finalizeHash`

[2017-09-12 16:04] liufengyun opened #3108 "distribution now generates useless files"
`sbt dist-bootstrapped/pack` will generate `from-tasty`, `path-resolver`, `main` and `bench`, which are useless.

[2017-09-13 09:19] esarbe opened #3111 "launchIDE fails with missing vscode exports"
`launchIDE` fails with missing vscode exports

[code]

[2017-09-13 09:38] nicolasstucki opened #3113 "Meta-issue: Port Backend improvements"
- [x] Port https://github.com/scala/scala/pull/4963
- [x] scala/scala#6070
- [x] [Desugar string concat to java.lang.StringBuilder](https://github.com/scala/scala/pull/4737) (https://github.com/lampepfl/scala/pull/27)
- [x] [Avoid boxing primitives in string concatenation](https://github.com/scala/scala/pull/4944) (https://github.com/lampepfl/scala/pull/27)
- [x] [upgrade asm to 5.1](https://githu

[2017-09-13 09:39] nicolasstucki commented on #3113
@smarter, could you add the one you know should be ported.

[2017-09-13 09:47] allanrenucci commented on #3113
Maybe scala/scala#6012 ?

[2017-09-13 09:55] nicolasstucki opened #3114 "IDE does not start if the project does not compile"
When launching the IDE with `sbt launchIDE` and the project sources do not compile, the IDE simply does not start.

This can be reproduced by creating a new project with `sbt new lampepfl/dotty.g8`, adding some code that does not compile in the main class and `sbt launchIDE`.

[2017-09-13 11:46] odersky commented on #3104
This is as expected. Yes, we need to spec this somewhere, but the change is so tiny that it seems overkill to include it in the "dropped" section.

[2017-09-13 11:51] odersky commented on #3089
In the interest of regularity I'd tend to leave them in.

[2017-09-13 12:05] smarter commented on #3089
Leaving them in will require work to make them work correctly, for example in https://github.com/lampepfl/dotty/pull/3061 we assume in various places that AppliedTypes are not higher-kinded.

[2017-09-13 12:48] smarter commented on #3114
This is intentional, the IDE won't work right if up-to-date classfiles are not present. The alternative is loading all source files with out-of-date or non-existent classfiles in the IDE, but this requires communication with the build tool, which is hard to do until sbt gets a working server mode.

[2017-09-13 14:17] LucDupAtGitHub commented on #3089
Martin,

maybe, like I said before,only  a limited amound of mixing should be supported (not sure)

in my GitHub project https://github.com/LucDupAtGitHub/Feature-Based-Functional-Programming-with-Dotty I encounter a situation:

[code]

that works, but using a curried `StateTransformed`

[code]

it does not

well: should it work [ maybe this kind of mixing is one step to far (?)

Anyway, I did not

[2017-09-13 14:32] #3108 closed

[2017-09-14 00:11] obkson commented on #2040
Hi, these new phantom types seems really interesting!
What is the planned or current status for phantom types with type members? I tried the following in dotty 0.3.0-RC1:
[code]
and got compile error:
[code]
Is that a fundamental limitation of phantom types, or something that will be fixed in the future?Thanks!

[2017-09-14 06:07] nicolasstucki opened #3121 "Cannot write type members in phantom types"
As found in https://github.com/lampepfl/dotty/issues/2040

[code]

will fail with
[code]

The issue probably that there is an `Object` added to the type of `this.Any { type Member = Int }` when desugaring.

[2017-09-14 06:10] nicolasstucki commented on #2040
@obkson, these members should work. I created the to keep track of this issue #3121. Thanks for the use case.

[2017-09-14 06:12] nicolasstucki commented on #3121
A quick patch in `Checking.checkTraitInheritance` to avoid the error showed that the following code works.
[code]

[2017-09-14 08:10] obkson commented on #2040
@nicolasstucki Then these phantom types just became even more awesome (for my intended use-cases), thanks!

[2017-09-14 21:37] smarter opened #3126 "Port backend unit tests from scalac"
There's a lot of tests here: https://github.com/scala/scala/tree/2.12.x/test/junit/scala/tools/nsc/backend/jvm, would be nice if we ported some of them to dotty, here's what we have right now: https://github.com/lampepfl/dotty/tree/master/compiler/test/dotty/tools/backend/jvm

[2017-09-14 23:10] smarter commented on #3113
I would rather not port refactorings, it would be a lot of work for not much benefit right now. Longer term we'll have to find some way to synchronize our backend with the scalac one, but right now we should only port simple things I think.

Here are the PRs I had in my TODO list to port:
- [Desugar string concat to java.lang.StringBuilder](https://github.com/scala/scala/pull/4737)
- [Avoid boxing

[2017-09-15 09:47] allanrenucci commented on #3113
Dmitry ported scala/scala#4737 and reverted it: https://github.com/lampepfl/scala/commit/ccbac2472692ba89bdcbbebce1409c20ea791082

[2017-09-15 11:19] OlivierBlanvillain opened #3128 "Difference between HKT and type lambda"
Dotty sees a difference between `Option` and `[A] => Option[A]`, I think there shoudn't be:

[code]

[code]

[2017-09-15 12:11] allanrenucci commented on #3113
Also we are already using `asm` version `5.1.0-scala-2`

[2017-09-15 13:24] smarter commented on #3128
Duplicate of https://github.com/lampepfl/dotty/issues/2989

[2017-09-15 13:24] #3128 closed

[2017-09-15 13:24] smarter commented on #3128
I'm working on a fix, but waiting for the native applied type stuff to be done before finishing it :).

[2017-09-15 13:28] smarter commented on #3113
Let's try doing it again and see if something breaks :)

Yes but the PR also updates the backend to not use deprecated methods, something we haven't done yet.

[2017-09-15 13:47] OlivierBlanvillain opened #3129 "Exception when creating accessors of private fields for inlining"
Two minimized test cases that result in exceptions only when compiled with the `inline` annotation:

[code]

<details>
  <summary>Stacktrace</summary>
  <pre>
Exception in thread "main" scala.MatchError: ClassInfo(NoPrefix, module class C$) (of class dotty.tools.dotc.core.Types$CachedClassInfo)
        at dotty.tools.dotc.core.Types$TypeLambdaCompanion.toPInfo(Types.scala:2777)
        at dotty.to

[2017-09-15 13:58] OlivierBlanvillain opened #3130 "Interaction between inlining and ExplicitOuter"
Three minimized examples that fail because of the inline annotations, the two first blow up in ExplicitOuter and the third one is comes from `tests/pos/explicitOuter.scala`, so I assume they are related:

[code]

<details>
  <summary>Stacktrace</summary>
  <pre>Exception in thread "main" java.lang.AssertionError: assertion failed: failure to construct path from value D_this/value <local O$>/object

[2017-09-17 00:47] smarter commented on #3113
In fact, the PR does more than that, it fixes an issue preventing the emitted code from running under Java 9 (this is mentioned in https://github.com/scala/scala/pull/5452)

[2017-09-17 11:41] odersky commented on #3128
I believe it has to do with variances. `Option` is `[+A] => Option[A]` not `[A] => Option[A]`

[2017-09-17 13:45] smarter opened #3135 "Investigate inefficient object layouts"
Using http://hg.openjdk.java.net/code-tools/jol/ we can inspect the layout of objects on the JVM, this is useful to see if there's anything we can optimize in our code, and to check how our object layout differs from what scalac generates:
[code]

As an example, here's the layout of `InitialContext`:
[code]

`deskolemize` probably doesn't need to be a field in every Context. It's especially costly

[2017-09-18 23:56] Jacoby6000 opened #3139 "Application of HKTs in path-dependent types doesn't work as expected"
The code below fails to compile (but should work)
[code]

However this works, but (based on some gitter discussion) should not.
[code]

[2017-09-19 11:18] smarter commented on #3113
Still a WIP but we should keep an eye on https://github.com/scala/scala/pull/6087, the bug also affects Dotty.

[2017-09-19 11:38] nicolasstucki opened #3140 "Suboptimal `equals$extension` for value classes."
The class `class Foo(val bits: Long) extends AnyVal` produces the following bytecode:

<details>
  <summary> In `scalac`</summary>
  <pre>
 public final boolean equals$extension(long, java.lang.Object);
    Code:
       0: aload_3
       1: astore        4
       3: aload         4
       5: instanceof    #31                 // class Foo
       8: ifeq          17
      11: iconst_1
      12: isto

[2017-09-19 12:24] esarbe commented on #1192
@marlomajor Have you been able to reproduce this?

[2017-09-20 12:20] liufengyun commented on #2239
Note this issue is fixed by #3061 automatically, another merit of the native apply refactoring.

[2017-09-20 12:56] #3071 closed

[2017-09-20 20:02] liufengyun commented on #2500
As a document, following example seems to show that adding polymorphic class types will be unsound in the presence of mutable fields:

[code]

[2017-09-20 20:51] TomasMikula commented on #2500
`forall T. Box[T]` seems uninhabited. Then `foo` could never be invoked.

[2017-09-20 20:54] TomasMikula commented on #2500
If you change that to

[code]

`forall T. Box[T]` becomes inhabited. So yes, `var`s pose a problem.

[2017-09-20 20:55] Blaisorblade commented on #2500
Great point @liufengyun ! But that's indeed if `forall T.Box[T]` is inhabited. If it's not, where is it distinguished from `forall T. ROBox[T]`? That's with definition

[code]

@TomasMikula also why does `List` help? What's your introduction rule?

That's a a variant standard problem in Hindley-Milner (rather, Damas-Milner) polymorphism (see e.g. Pierce's TAPL, Sec. 22.7). I wonder if one can tran

[2017-09-20 20:58] TomasMikula commented on #2500
With `List`, I can create an instance of `Box[T]` by initializing `x` to `Nil`.

[2017-09-20 21:03] TomasMikula commented on #2500
I think distinguishing immutable data types at the language level would help, and useful for other purposes, too.

[2017-09-20 21:12] liufengyun commented on #2500
If we are going to introduce first-class polymorphic values, then I think `forall X. Box[X]` is inhabited:

[code]

A semantic argument: given any type `X`, it's possible to create a value of the type `Box[X]`.

But if we make `foo` an inhabitant, then my original example will be safe, as every type application will create a new object (think type abstraction in System F). If this is theoretically

[2017-09-20 21:27] TomasMikula commented on #2500
The definition

[code]

does not compile.

[code]

If you make it abstract, you won't be able to call `new Box[X]`.

[2017-09-20 22:35] liufengyun commented on #2500
Yes, indeed, we need to use `null` for initialization:

[code]

As @TomasMikula suggested, using `Nil` is always fine:

[code]

Then the question is: can the type system ensure that instantiation of `forall T. Box[T]` always return a new object?

I tried to construct something like the follows, but it doesn't type check as `Box` cannot be co-variant because of the mutable field `x`:

[code]

It se

[2017-09-20 22:56] TomasMikula commented on #2500
If universal instantiation were to always return a new object, we couldn't have the property `(forall T. F[T]) <: F[A]`, for any type `A`.

[2017-09-20 23:04] smarter commented on #2500
If we restrict ourselves to covariant type parameters, isn't `forall T. Foo[T]` equivalent to `Foo[Nothing]`? Or is there some other properties missing?

[2017-09-20 23:54] Blaisorblade commented on #2500
Not after your example
[code]

The confusion is more plausible if we had
[code]

but the semantics would be clear if the (abstract) syntax had System-F-like abstractions, say:
[code]

The value restriction is one solution to the Hindley-Milner variant of your example. The other solution is to stick to
[code]
Those are the two approaches in TAPL.

We should still allow `val bar = ([X]((x: X) => x))

[2017-09-21 00:02] Blaisorblade commented on #2500
PS:

If we distinguish `[X] => e` with pure and impure `e`, the two options should be discussed as separate constructs.

[2017-09-21 01:08] Jacoby6000 opened #3144 "Pattern matching with type annotations allows impossible cases"
This should not compile:

[code]

Not even a warning is produced, as is.

[2017-09-21 01:24] Jacoby6000 opened #3145 "Pattern matching on sealed abstract classes causes spurious warning"
In some situations, matching on a sealed abstract class using a type annotation will cause the compiler to warn about unreachable code

[code]

This warning does not happen if the case for the sealed abstract class comes first.

[2017-09-21 08:44] allanrenucci opened #3146 "Setup Drone cache"
Here is my take at setting up a cache for Drone: https://github.com/dotty-staging/dotty/commit/345cf9040a37b32ccbdac73bb67f99015c7bc71e

The issue is that we have four instances of sbt running in parallel sharing the same cache. When there is nothing to update everything works fine but if sbt tries to update the ivy2 cache, it fails with the following exception:
<details>
  <summary>Stacktrace</su

[2017-09-21 08:44] allanrenucci commented on #3146
cc/ @liufengyun

[2017-09-21 08:57] OlivierBlanvillain commented on #3146
We could maybe work around the issue by lunching the first sbt instance "as is", and for the 3 other do

[code]

[2017-09-21 09:03] allanrenucci commented on #3146
Drone will update the cache with what's in `path/to/.ivy2`. The downside with this solution is that only the fist instance of sbt will be able to update the cache. The instances of sbt don't run the same tests and don't pull the same dependencies.

[2017-09-21 09:08] OlivierBlanvillain commented on #3146
Maybe we could add another sbt instance just for that, ie `N = 0` does `sbt */update` on `path/to/.ivy2` and nothing else.

[2017-09-21 09:09] allanrenucci commented on #3145
Can be reproduced with `sealed trait` too:
[code]

[2017-09-21 09:17] TomasMikula commented on #2500
I don't think this syntax would make sense - `X` in not in scope on the rhs.

I don't quite see the distinction. Is `((x: X) => x)` anything different than `new Function1[X, X] { def apply(x: X): X = x }`?

First, can you expand on why we shouldn't reduce under type variable abstractions? Does it introduce new problems, that are not otherwise present?
Second, if such reduction is allowed, why `new

[2017-09-21 09:28] allanrenucci commented on #3144
Note that the warning produced by scalac is not an exhaustivity warning:
[code]
scalac (and dotc) will not complain for:
[code]
If `Foo` is a class, both scalac and dotc reject the program.

[2017-09-21 10:05] #3015 closed

[2017-09-21 11:25] sstucki commented on #2500
I'll make an attempt to organize (and summarize) this thread a bit. There are a number of separate but related questions being discussed here.

 1. Should there be built-in support for universal quantification in Scala in the form of a dedicated `forall` syntax e.g. `forall X. T`?
 2. What should the semantics of such a `forall` construct be, in particular, is it just a shorthand/sugar similar to

[2017-09-21 11:52] liufengyun commented on #3145
This seems to be the intended behaviour, because `Baz` cannot be instantiated. Scalac 2.12.3 generates the same warning.

[2017-09-21 12:04] allanrenucci commented on #3145
What about this example:
[code]
scalac emits no warning here.

[2017-09-21 12:53] liufengyun commented on #3145
The last example above is due to the problem of anonymous class extending sealed class/trait.

@smarter suggested to simply disallow anonymous class extending sealed class/trait long time ago, see below:

https://github.com/lampepfl/dotty/issues/1917#issuecomment-276806954

Currently, the exhaustivity check doesn't have the information to know whether a sealed trait has anonymous children or not.

[2017-09-21 12:56] #2239 closed

[2017-09-21 13:02] TomasMikula commented on #2500
I can see two possibilities of what `forall X. T` could be sugar for, if we want to be able to quantify over type constructors, not just types:

1. Structural type `{ def apply[X]: T }`.
2. Given a kind-polymorphic type `Forall` (hopefully my pseudo-syntax is readable):
[code]
   `forall X. T` would be a shorthand for `Forall[* -> *, [X] => T]`.
   Obviously, I'm assuming kind-polymorphism here, w

[2017-09-21 13:11] allanrenucci opened #3149 "Compiler crashes on inner class that extends sealed class"
[code]

<details>
  <summary>Stacktrace</summary>
  <pre>
exception occurred while compiling tests/allan/Test.scala
Exception in thread "main" java.lang.AssertionError: assertion failed: unresolved symbols: class Bar when pickling tests/allan/Test.scala
	at scala.Predef$.assert(Predef.scala:219)
	at dotty.tools.dotc.core.tasty.TreePickler.pickle(TreePickler.scala:592)
	at dotty.tools.dotc.transfor

[2017-09-21 13:28] Blaisorblade commented on #2500
Well, reducing under binders is dangerous whenever some variables have possibly-empty types. In Scala (or Agda), you better not reduce code that assumes, say, `Int = String`. Because of the "bad bounds" problems in the DOT literature, you can't rule out false assumptions (TL;DR. that one is clearly false, but with abstract types you can hide the falsity).
Same with `forall [X >: Int <: String]` or

[2017-09-21 14:55] #2944 closed

[2017-09-21 15:23] allanrenucci opened #3155 "Documentation is broken"
#3061 broke the documentation: http://dotty-ci.epfl.ch/lampepfl/dotty/317/

[2017-09-21 16:05] TomasMikula commented on #2500
@Blaisorblade Thanks for pointing out the problem with bad bounds, I didn't think about that (I didn't really consider bounded quantification at all). Though I believe that restrictions could be introduced that would prevent bad bounds at runtime (such as `forall X >: L <: U. T` would not be allowed in general, but `class Foo[A >: L <: U] { ... forall X >: L <: U. T ... }` would be OK; or even sta

[2017-09-21 16:23] Jacoby6000 commented on #3144
@allanrenucci will your changes cause the sample you and I provided produce an error?  I haven't poked around in dotty at all, but in general compilers should error whenever you have a situation where the type being matched on is not a super type of the case.

[2017-09-21 19:12] Blaisorblade commented on #2500
Uh, that class example is pretty interesting: in a context that only runs when `L <: U`, you want to assume that `L <: U`. There can still be subtle issues though if more assumptions are added.

Also, the problem isn't just about type variable binders — binding `L <:< U` can be as dangerous.
What I know on reduction under binders, in extreme generality (written as a response to the OOPSLA'14 DOT p

[2017-09-21 21:34] TomasMikula commented on #2500
Implicit evidence is a nice tool to think about it, thanks! I think you are implying that type-variable binders can be reduced to value-level variable binders, at least conceptually.

If any evidence `ev1: L <: U` is as good as any other `ev2: L <: U` for all purposes, then even though reduction under binders is dangerous in general, we can safely reduce under binder of `ev2` if there is `ev1` in

[2017-09-22 09:16] allanrenucci commented on #3155
The newly introduced `TypeArgRef ` must be handled in dottydoc

[2017-09-22 10:32] sstucki commented on #2500
There's a discussion about related issues in #2887.

Really? In what sense is this dangerous? Do you have an example @Blaisorblade?

It seems to me that working with explicit evidence of `L <:< U` is generally safe precisely because you cannot reflect such evidence back into the subtyping relation. The type `L <:< U` isn't magic: the type system has no idea it's supposed to be subtyping evidence.

[2017-09-22 15:36] allanrenucci opened #3161 "type constructor in union causes compiler crash instead of giving an error"
#3061 broke compilation of https://github.com/lampepfl/dotty-example-project/blob/master/src/main/scala/UnionTypes.scala

Here is a minimised test case:
[code]

<details>
  <summary>Stacktrace</summary>
  <pre>
exception occurred while typechecking tests/allan/Test.scala

exception occurred while compiling tests/allan/Test.scala
Exception in thread "main" java.lang.AssertionError: assertion failed

[2017-09-22 18:26] allanrenucci commented on #3155
Fixed in #3157

[2017-09-22 18:26] #3155 closed

[2017-09-22 19:03] Blaisorblade commented on #2500
@TomasMikula I agree. Depending on the exact syntax and surrounding rules, though, you risk trouble (example below at the end). Current rules for `<:<` are certainly fine.

Maybe — this was about bad bounds as related to forall—and discussing a closed issue in an open one isn't ideal. I also still agree with Odersky that this extension is tricky enough to need a proper proof.

I'm not implying act

[2017-09-23 13:49] smarter commented on #3161
This shouldn't crash but the code is wrong: it should be `Cons[Any] | Empty` or something.

[2017-09-25 12:21] allanrenucci opened #3166 "Scastie code snippet for dotty.epfl.ch"
Similarly to [scala-lang](https://contributors.scala-lang.org/t/contest-scala-lang-org-frontpage-code-snippet/1141), we would like to add a Scastie embedding on the front page of [dotty.epfl.ch](http://dotty.epfl.ch/). Please share what you think should be the content of this snippet.

Here are some guidelines:
- The code snippet should be relatively small (18 lines of code or less).
- It should i

[2017-09-25 12:33] allanrenucci commented on #2182
@olafurpg Is ScalaCheck still stuck on an assertion error with the latest nightly?

[2017-09-25 13:58] sstucki commented on #2500
I think there's some risk of confusion here, so let me try to clarify this.

 1. Reduction under *either term or type* variable binders is problematic in general because type members can have "bad bounds". However, scalac/Dotty do *not* (AFAIK) reduce terms or types under *term* variable binders during compile time, nor does the JVM perform such reductions at runtime, nor do the operational semant

[2017-09-25 14:04] sjrd commented on #2500
@sstucki Yes you are right that I refer *more* to the compiler method `<:<` than `Predef.<:<`. However, to be even more precise, I am referring to the [method `isSubtype`](https://github.com/scala-js/scala-js/blob/50b5f908e415535cd21e9239c7ffae9f7a2f8169/ir/src/main/scala/org/scalajs/core/ir/Types.scala#L195) of the Scala.js linker. Essentially, it plays the same role as the Scala compiler method

[2017-09-25 14:44] Blaisorblade commented on #2500
@sstucki again, we're in vociferous ("violent") agreement. I'm explaining why the rules must be like they are.
I hope that, after this discussion, the potential dangers for new reduction rules are clear.

[2017-09-25 15:58] allanrenucci opened #3168 "Bad interaction between overloading and implicit search"
The following code snippet fails to compile with Dotty
[code]
The compiler is not able to find the method `foo` added via implicit conversion. If one of the overloaded version of `foo` is commented out, the code snippet compiles

[2017-09-25 16:37] allanrenucci opened #3171 "Bad Interaction between constructor overloading and default parameters"
The following code snippet fails to compile with Dotty
[code]
[code]

[2017-09-25 16:44] allanrenucci commented on #2182
https://github.com/pathikrit/better-files is blocked by #3168 and #3171

[2017-09-25 17:10] allanrenucci opened #3172 "sbt-dotty plugin fails to aggregate multiple projects"
Consider the following scenario:

I have a project structure like this
[code]

and a `build.sbt` as follow:
[code]
If `plugin.sbt` is empty, then I can type `sbt compile` and it will compile `Foo.scala` and `Bar.scala`. However, if `plugin.sbt` contains
[code]
then when I type `sbt compile`, it will do nothing. I can still do `sbt bar/compile` or `sbt foo/compile`

[2017-09-25 19:51] smarter commented on #3172
This has something to do with the use of `Def.derive` in `DottyIDEPlugin` but I don't understand what. As a workaround you can add:
[code]
to every sbt project in the build.

[2017-09-25 20:27] smarter commented on #3172
Opened an issue on sbt because I'm baffled: https://github.com/sbt/sbt/issues/3580

[2017-09-26 13:39] nicolasstucki opened #3179 "Pattern match fails at runtime when matching an module object"
[code]
Will fail at runtime when the matched string is casted to `Test` (which should not happen)

The pattern match is expanded to the following code after `patternMatcher`
[code]
Clearly the `case val a: Test.type = x1.asInstanceOf[Test.type]` should go inside the `if Test.==(x1) then`

[2017-09-26 13:45] smarter commented on #3179
Somewhat related to https://github.com/lampepfl/dotty/issues/1463

[2017-09-26 13:48] smarter commented on #3166
Here's the one I created for the initial Dotty announcement: https://scastie.scala-lang.org/R5kUfVbTRpmS4l4CrO1HlA though it's longer than what you want.

[2017-09-26 15:53] allanrenucci commented on #2182
ScalaCheck is blocked by two implicit resolution failures: https://travis-ci.org/dotty-staging/scalacheck/builds/280025029#L1596

I was not able to minimise the failures though

[2017-09-26 16:47] esarbe commented on #3166
Since you mention it; here's the prototypical usage of Enum:

https://scastie.scala-lang.org/ZLLh7SuPQkq7VAgGQpawaA

[2017-09-26 17:56] smarter commented on #2182
For the second one, see https://github.com/smarter/scalacheck/commits/fix/ambiguous-implicits

[2017-09-26 22:24] smarter opened #3182 "Exhaustivity checking of extractors statically known to return Some"
Just making a note of this recent issue on the scala bug tracker which is relevant for Dotty too: https://github.com/scala/bug/issues/10502

[2017-09-27 08:51] allanrenucci opened #3185 "Wrong error message for ambiguous implicit error"
The following code snippet does not compile because of an ambiguous implicit conversion:
[code]
However Dotty (and scalac) reports a `Member Not Found Error`:
[code]

[2017-09-27 09:02] #3172 closed

[2017-09-27 11:57] esarbe opened #3187 "Trying to re-define a scala core object results in a ClassCastException"
[code]

results

[code]

[2017-09-27 11:57] esarbe commented on #3187
Scastie at https://scastie.scala-lang.org/il49H4PnQGK63aLbgy2apw

[2017-09-27 13:18] allanrenucci opened #3189 "Compiler crashes during HoistSuperArgs"
The following code snippet crashes the compiler
[code]

<details>
  <summary>Stacktrace</summary>
  <pre>
exception while transforming @scala.annotation.internal.SourceFile("tests/allan/Test.scala") class Test[A](
  action: A => A
) extends Object() {
  A
  private[this] val action: Test.this.A => Test.this.A
  def <init>[A](): Unit =
    {
      this[Test.this.A](
        {
          def $anonfun

[2017-09-27 13:32] smarter opened #3190 "Implicit argument list modifier affects overload resolution with explicit arguments"
See https://github.com/scala/bug/issues/10526

[2017-09-27 13:41] allanrenucci commented on #2182
[scopt/scopt](https://index.scala-lang.org/scopt/scopt) is blocked by #3189

[2017-09-27 16:37] smarter commented on #2974
Fixed in https://github.com/lampepfl/dotty/pull/3061, test case: https://github.com/lampepfl/dotty/blob/master/tests/pos/i2974.scala

[2017-09-27 16:37] #2974 closed

[2017-09-27 16:53] #3189 closed

[2017-09-27 18:35] odersky commented on #3185
What does `scalac` say?

[2017-09-27 18:37] allanrenucci commented on #3185
[code]

[2017-09-27 20:25] #3182 closed

[2017-09-27 20:29] #3179 closed

[2017-09-27 20:46] #1463 closed

[2017-09-27 21:18] liufengyun opened #3200 "Compatibility with `-Xfuture` in type checking patmat"
The following code fails with `scalac -Xfuture test.scala`, but Dotty compiles without problem:

[code]

This is a separate issue extracted from #1463.

[2017-09-28 13:00] smarter commented on #3161
@odersky Did you intend to close this? It still crashes on master.

[2017-09-28 13:54] #3171 closed

[2017-09-28 14:09] odersky commented on #3161
Ah I thought you had fixed it!

[2017-09-28 16:13] smarter opened #3206 "PartialFunction definitions should not generate exhaustiveness warning"
This started happening recently, you can see lots of spurious warnings by doing `;dotty-bootstrapped/clean;dotty-bootstrapped/compiler`, here's a minimal example:
[code]
[code]

Would be nice to get a fix for this before releasing 0.4.0-RC1 (/cc @allanrenucci)

PS: This is why we should try to get to zero warnings and enable `-Xfatal-warnings` as soon as possible :).

[2017-09-28 16:40] allanrenucci opened #3207 "Fail to compile repeated arguments with named parameter"
The following code snippet does not compile
[code]
[code]
It compiles with `bar` defined as:
[code]

[2017-09-28 17:52] allanrenucci commented on #2994
I am reopening this issue. The following code snippet is rejected by Dotty but with an unrelated error message:
[code]
[code]

[2017-09-28 18:05] smarter commented on #2994
I think the culprit is https://github.com/lampepfl/dotty/pull/2823/commits/30ac9e2fdda6fddadaf42284cc45fef4272c51c2#diff-7c63b7bfffa9340fb48ac9b61fa56beeR1931, some conditions were added to check if we're in an overloaded or recursive method call but I don't understand what they're based on. We could revert to the previous logic here.

[2017-09-28 18:26] allanrenucci opened #3208 "typed patterns get more precise types in scalac than dotty"
The following code snippet fails to compile
[code]
[code]

[2017-09-28 18:41] smarter commented on #3208
It works if you replace `case e: Marker` by `case e: E with Marker`. In scalac, `e` gets the type `E with Marker` in the original code, but in dotty it only gets the type `Marker`, I don't know what the intended/specified behavior is, but it seems that the scalac behavior is not completely consistent: https://users.scala-lang.org/t/type-inference-in-pattern-matching/1708

[2017-09-28 18:48] smarter commented on #3208
Had a quick look at the spec and I couldn't find anything substantiating the current scalac behavior, in particular http://www.scala-lang.org/files/archive/spec/2.13/08-pattern-matching.html#typed-patterns says:

@odersky Are you OK with replicating the behavior of scalac here? Here's a simple example illustrating the difference:
[code]

[2017-09-28 21:30] smarter commented on #2907
Appears to have been fixed by #3061

[2017-09-28 21:30] #2907 closed

[2017-09-29 11:46] odersky commented on #3208
Pattern matching desperately needs a spec. It would be good if someone could start working on the issue. I think the `scalac` behavior on the test cases makes sense, though.

[2017-09-29 12:26] #3207 closed

[2017-09-29 13:04] odersky commented on #3081
It works if the stacksize if increased to 2M. We should do that by default.

There's not much we can do here. It's a recursive invocation of an inline method that happens to require a lot of stack for typing each call, so that we stackoverflow before hitting the 32 nested calls limit.

[2017-09-29 13:07] #3161 closed

[2017-09-29 13:07] #3149 closed

[2017-09-29 13:27] #3168 closed

[2017-09-29 16:02] odersky opened #3211 "Can't bump major TASTY version"
The bootstrap currently does not allow for a bumping of the TASTY major version because it mixes
different generation of TASTY files. Here's what I get if I change TastyFormat.majorVersion to 1:

info] ExtractAPISpecification
[info]
[info] Existential types in method signatures should
[warn] there were three unchecked warnings; re-run with -unchecked for details
[warn] one warning found
[warn] the

[2017-09-29 16:18] smarter commented on #3211
Does that happen even if you do dotty-example-project/clean ?

[2017-09-29 16:19] smarter commented on #3211
Oops, I mean dotty-bootstrapped/clean

[2017-09-29 18:17] allanrenucci opened #3213 "Assertion Error in OrderingConstraint"
The following code snippet crashes the compiler:
[code]
<details>
  <summary>Stacktrace</summary>
  <pre>
java.lang.AssertionError: assertion failed
	at scala.Predef$.assert(Predef.scala:204)
	at dotty.tools.dotc.core.OrderingConstraint.add(OrderingConstraint.scala:296)
	at dotty.tools.dotc.core.OrderingConstraint.add(OrderingConstraint.scala:283)
	at dotty.tools.dotc.core.ConstraintHandling.addTo

[2017-09-29 18:27] smarter commented on #3213
To easily reproduce the issue without manually downloading fastparse and its dependencies you can download coursier (https://github.com/coursier/coursier#command-line) and then do:
[code]

[2017-09-30 19:21] smarter opened #3221 "Add minimal DCE to the inliner"
The inliner sometimes leaves dead code behind, e.g. in:

[code]
`foo(10)` is inlined to `{ () }`, but `foo(computation)` is inlined to:
[code]
which eventually ends up as a method in bytecode.

This could be fixed by doing some minimal dead code elimination which wouldn't even require tree traversals: if the inlined body is made only of `def`s and constants, remove everything.

[2017-10-01 16:21] smarter opened #3225 "Regression: `dotty/compile` should not compile bootstrapped projects"
This is a regression after https://github.com/lampepfl/dotty/pull/3141, because asDottyRoot contains:
[code]

But `dotty-language-server` is a bootstrapped only project and should not be aggregated for the non-bootstrapped dotty root.

[2017-10-01 17:32] #3225 closed

[2017-10-02 13:23] allanrenucci commented on #3213
It might well be a separate compilation bug, I cannot reproduce it with:
[code]

[2017-10-03 06:52] #3050 closed

[2017-10-03 13:29] #3082 closed

[2017-10-03 13:29] #3129 closed

[2017-10-03 13:29] #3130 closed

[2017-10-03 14:47] allanrenucci opened #3236 "Move Dotty documentation to a separate repository"

[2017-10-03 15:47] odersky commented on #3211
Indeed dotty-bootstraped/clean fixed the problem. I though I had done that, but seemingly not.

[2017-10-03 15:47] #3211 closed

[2017-10-03 16:01] allanrenucci commented on #2966
`.exceptionally ` is only available on `CompletableFuture` and not `Future`. I don't think it is possible to register an exception handler. @felixmulder Did you have something else in mind?

[2017-10-03 16:32] smarter commented on #2966
I outlined a possible solution here: https://gitter.im/lampepfl/dotty?at=59c14f031081499f1f4eb663

[2017-10-03 16:38] felixmulder commented on #2966
Guillaume's solution sounds a bit hacky TBH :)

What `workStealingPool` is doing is creating a `ForkJoinPool` and supplying a specific thread factory. The thread is created with a default exception handler. Should be possible to give the `ForkJoinPool` a different factory which has a better handler :)

[2017-10-03 16:38] felixmulder commented on #2966
But I haven't looked into it further than that...

[2017-10-03 16:50] #3008 closed

[2017-10-03 17:53] allanrenucci commented on #2966
Indeed, one could do:
[code]
or
[code]

[2017-10-03 19:43] CucumisSativus commented on #1310
Hey @DarkDimius I would be grateful if you cold elaborate in more detail, what should be done in scope of this issue (ofc if it's still valid)

[2017-10-04 07:50] allanrenucci opened #3243 "Don't publish the same nightly twice"
We publish nightly on a daily basis. The nightly version is based on the latest commit on master:
[code]
If there is no new commit since the previous nightly, we fill fail to publish a new artirfact because one with the same version already exists.

We can either change the version to reflect the publishing date, or don't do anything if there is no new commit since the previous nightly. @smarter W

[2017-10-04 07:53] allanrenucci commented on #3243
One side effect of failing to publish the same version twice is to require manual removal of the staging repository on [sonatype](https://oss.sonatype.org/).

[2017-10-04 09:08] allanrenucci opened #3246 "Converting from `T` to `() => T`"
With scalac you can do
[code]
dotc reject this code snippet. Should we support it under `-language:Scala2` and emit a migration warning?

[2017-10-04 09:36] allanrenucci commented on #3208
Here is another example that does not compile with Dotty, I found in the community build:
[code]

[2017-10-04 09:44] allanrenucci opened #3247 "Question about selft-type"
This code snippet does not compile with neither scalac nor dotc. Should it compile?
[code]

[2017-10-04 11:13] allanrenucci commented on #3246
In the same style, found in the community build:
[code]

[2017-10-04 11:22] allanrenucci commented on #3246
This pattern is used all over the place in scalatest

[2017-10-04 12:21] smarter commented on #3243
Don't publish anything if there's nothing new :)

[2017-10-04 13:01] allanrenucci opened #3248 "Some[(A, Seq[B])] is not a valid result type of an unapplySeq"
This code snippet fails to compile with Dotty
[code]

[code]

[2017-10-04 13:07] #2981 closed

[2017-10-04 13:07] #3213 closed

[2017-10-04 13:23] allanrenucci opened #3249 "Eta Expansion with _"
[code]
To be consistent, I think we should also emit a warning for `val a = foo _` if `-language:Scala2` is given and otherwise emit an error

[2017-10-04 13:55] odersky commented on #3247
No, because a self type does not imply a subtyping relationship or a conversion.

[2017-10-04 13:55] #3247 closed

[2017-10-04 13:56] smarter opened #3250 "Documentation generation broken by merging #3239 with typer error"
Somehow, merging #3239  broke the documentation generation with the following error:
[code]
(see http://dotty-ci.epfl.ch/lampepfl/dotty/627/8), you can reproduce the failure by running:
[code]

[2017-10-04 13:56] smarter commented on #3250
/cc @odersky

[2017-10-04 14:12] julienrf commented on #3249
What would be the right way to partially apply a method?

[2017-10-04 14:16] allanrenucci commented on #3249
In this example, I believe:
[code]

[2017-10-04 14:19] smarter commented on #3250
This can be reproduced by just running dotc with the right set of files: https://gist.github.com/78336fe64cab378df70d300a92c97d94 However this is incredibly hard to minimize: the reproduction need to jointly compile more than 300 files, remove any random subset of files from this list makes the error go away.

[2017-10-04 16:08] allanrenucci opened #3252 "Implicit numeric conversion"
[code]

[2017-10-04 17:35] allanrenucci opened #3253 "Overloaded or recursive method test needs return type"
This doesn't compile:
[code]

[code]
Dotty is confused by the import

[2017-10-04 19:42] odersky commented on #3253
The error message could be better, but this is a true cyclic reference, so an error should be reported. The cyclic reference is:

 - in the body of `test`, we need to find an implicit on `" "` that provides the `*`.
 - we search the imports for any implicits
 - to search the import, we compute the member denotation of `Test.test`.
 - the denotations needs a type, which causes the return type of `t

[2017-10-04 19:43] odersky commented on #3253
Remedy: Provide an explicit return type. That's good practice anyway.

[2017-10-04 19:46] smarter commented on #3253
How come the following works with Dotty then?
[code]

[2017-10-04 20:52] liufengyun opened #3259 "Type alias not followed in type checking"
The following program compiles with `scalac`, but Dotty fails to compile.

[code]

The error message is as follows:

[code]

[2017-10-04 20:52] smarter opened #3260 "Dotty profiling results with hyperthreading turned off"
Using [async-profiler](https://github.com/jvm-profiling-tools/async-profiler), with the following settings from its README:
[code]

In one terminal:
[code]
in another, once warmups are done:
[code]
Top methods: https://gist.github.com/smarter/bf610b5bea8085c5296b97c303f74b63
Flamegraph: http://martres.me/tmp/dotty-noht-120.svg

Incidentally, turning off HT on my machine seems to help dotty perform

[2017-10-04 21:06] smarter commented on #3259
This is not a bug, it's a feature :). When a def is overriden in Dotty by a val or a def without an explicit result type, the result type of the overriden def is used instead of inferring a result type from the rhs. Your example works if you give an explicit return type to `Term`:
[code]

[2017-10-04 21:16] liufengyun commented on #3259
Thanks for the tip @smarter !

[2017-10-04 21:16] #3259 closed

[2017-10-05 08:30] odersky commented on #3260
This is super interesting!  After seeing the previous profile with HT on, I was already wondering whether turning HT off could actually help performance because GC ops seemed to crowd out compiler work. So this is confirmed now.

The hot method graph is also very interesting, in particular wrt to the previous graph. The new winners in the hot methods contest are `Symbol#denot` and `NamedType#denot

[2017-10-05 08:38] julienrf opened #3264 "Subtyping error involving higher-kinded types and covariance"
Consider the following code:

[code]

We get the following type error (with 0.3.0-RC2):

[code]

Try it in Scastie: https://scastie.scala-lang.org/julienrf/ijDLJLEPRRqt4FpHCpPRwg/1

If we uncomment the explicit type annotation, it compiles fine. Also, if make the type parameter `A` non-variant in `Base` it compiles fine even without the explicit type annotation.

(Discovered here: https://github.c

[2017-10-05 08:44] allanrenucci commented on #3264
I cannot reproduce on master

[2017-10-05 08:47] julienrf commented on #3264
OK, I should have tried that first ;)

[2017-10-05 08:47] #3264 closed

[2017-10-05 12:41] odersky commented on #3260
Another interesting observation is how flat the distribution now is. The 100'th most frequent method takes roughly 1/30 of the time of the most frequent method and the 1000'th most frequent methopd tales roughtly 1/300 of the time. So it's flatter than a 1/x distribution. Which means, so much harder to optimize...

[2017-10-05 13:57] nicolasstucki opened #3269 "Optimise AnyVal case class companion apply"
[code]

will generate code like
[code]

but the `apply` could be optimised away as it will always be the identity.

[2017-10-05 14:08] smarter commented on #3269
This is probably not very important to optimize, the JVM should have no problem inlining it.

[2017-10-05 14:50] allanrenucci commented on #3252
I am reopening this issue because the following code snippet still does not compile:
[code]

[2017-10-05 15:38] gan74 opened #3271 "Dotty generates suboptimal bytecode, even for simple code snippets"
For

[code]

Dotty generates bytecode like this: (even with `-optimise`)

[code]
while scalac 2.12.3 generates:

[code]

[2017-10-05 15:50] smarter commented on #3271
scalac always does some DCE, even when the optimizer is off: https://github.com/scala/scala-dev/issues/322#issuecomment-323345961. But this has a performance cost, there has been some work recently to improve this: https://github.com/scala/scala/pull/6075.

[2017-10-05 16:24] odersky commented on #3271
I wonder where the

    nop
    nop
    athrow

is coming from. I also observed that in code and it seems to have no purpose.

[2017-10-05 16:26] odersky commented on #3253
It scans for all implicit members of `Test` before trying to compute any of them.

[2017-10-05 16:27] smarter commented on #3271
the nop nop athrow pattern is mentioned in https://github.com/scala/scala-dev/issues/322#issuecomment-323345961 which points to https://github.com/scala/scala/blob/v2.12.3/src/compiler/scala/tools/nsc/backend/jvm/BCodeBodyBuilder.scala#L830-L872

[2017-10-05 16:30] allanrenucci opened #3273 "Dotty gets confused by raw types in bytecode signatures"
Consider the following file `Test.scala`:
[code]
Running
[code]
produces the following error:
[code]

[2017-10-05 16:38] smarter commented on #3273
We can see what signature Dotty expects by removing the `override def`:
[code]

Notice the missing type parameters for `Class` and `Constructor`, my guess is that Dotty gets confused by the raw types used in https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/IAnnotationTransformer.java.

[2017-10-05 16:49] allanrenucci commented on #3273
Can be reproduced by compiling `Foo.java` with `javac`:
[code]
and then `Test.scala` with the previous result on the classpath:
[code]

[2017-10-05 17:26] smarter commented on #3273
I'm on it but it won't be trivial: we need to check for raw types in ClassfileParser which is hard to do without forcing too much things and getting into cycles.

[2017-10-05 17:33] adriaanm commented on #3273
Would be nice to have a lazier LazyType, where you can query just the type params without forcing the rest of the type.

[2017-10-05 17:40] smarter commented on #3273
@adriaanm Behold! https://github.com/lampepfl/dotty/blob/c50c16420b037268fe8e62bdd659e60ee2ceabfc/compiler/src/dotty/tools/dotc/core/SymDenotations.scala#L1897-L1903

My plan is in fact to see if I can use this for classfile loading too ;)

[2017-10-05 19:59] nicolasstucki commented on #3269
It might enable more of our local optimizations. I would do with `-optimise` only.

Yes, the JVM is inlining it without any problems.

[2017-10-05 23:33] retronym commented on #3260
That has been my overwhelming experience with optimizing scalac, too. Compilers seem not to conform to the hotspot hypothesis.

There are of course still many opportunities when stepping back from the game of playing whack-a-mole with the hotspots. Did we need to call this method as often as we do, or at all?

The `itable` stubs can be linked to to particular call sites when viewed in the context

[2017-10-06 10:09] nicolasstucki commented on #3260
Some other results obtained with Oracle Developer Studio
https://gist.github.com/nicolasstucki/4349f2f3db77d509ec0f89c3c422770a

[2017-10-06 11:31] smarter commented on #3260
Using Firefox, the default min-width produces SVGs that can be reasonably browsed for me.

[2017-10-06 12:25] Swilvan commented on #3243
Hoping this is the sort of solution you're looking for.
Anyone I can assign for review?

[2017-10-06 13:37] odersky commented on #3269
I'd say it's not worth optimizing this. It creates more special cases for no obvious gain.

[2017-10-06 13:37] #3269 closed

[2017-10-06 15:35] smarter opened #3279 "New REPL crashes when used through "sbt console""
- git clone http://github.com/lampepfl/dotty-example-project
- Set the version number to `0.4.0-bin-20171005-af528a1-NIGHTLY`
- `sbt console`
[code]

@felixmulder Do you know if that used to work?

[2017-10-06 15:41] #3206 closed

[2017-10-07 10:48] felixmulder commented on #3279
Pretty sure it did :)

[2017-10-07 18:11] odersky commented on #3273
Sigh. It's 14 years after Java generics came out and we still have to deal with raw types. 😢

This was one of the most messy aspects of nsc, basically impossibly to get right without forcing too much.

[2017-10-07 18:15] odersky commented on #3249
I agree we should at some point deprecate postfix `_` altogether.

[2017-10-07 20:39] lavrov opened #3284 "Importing implicit values"
It is quite common practice for library authors to provide special object with implicit values. In many cases those are just implicit value definitions pointing to original non-implicit value.
Example:
`scala.concurrent.ExecutionContext.global`
`scala.concurrent.ExecutionContext.Implicits.global`

It would be useful if import statement could also introduce implicit values.
Example:
`import implici

[2017-10-08 07:57] odersky commented on #3273
It took me a while to realize: it's because of the change to native applied types. Before, it was convenient that the raw type `Class` was _both_ a higher-kinded type and an existential. Now, we don't have it so easy anymore. But I have an idea what to do by adapting (and hopefully improving) the concept of cooking in `nsc`.

[2017-10-08 09:23] odersky commented on #3273
It turned out to be a lot easier than for `nsc` because member types are completers anyway. This avoids the problem if forcing too much by accident.

[2017-10-08 09:34] odersky commented on #3284
I am not sure what exactly is proposed. Can you elaborate?

[2017-10-08 10:31] odersky commented on #3250
I can't reproduce this on latest master anymore.

[2017-10-08 10:58] lavrov commented on #3284
With `import` statement one can introduce values into the scope (as well as classes and packages). If a regular value is imported then it becomes visible in the scope as a regular one. If a value has `implicit` modifier then it is imported as an implicit one and will participate in implicit resolution process. The proposal is about the possibility of turning regular values into implicit ones in th

[2017-10-08 13:50] smarter commented on #3250
It's still broken on the CI: http://dotty-ci.epfl.ch/lampepfl/dotty/728/8 and on my side I can still reproduce it with both `sbt genDocs` and the script above.

[2017-10-08 15:34] smarter commented on #3250
Here's something interesting I found by staring at output logs, when we get the ambiguous implicit error, the companions for `Iterable` are wrong for some reason:
[code]
Notice that `Iterable` itself is not in that list! Compare with what we get when I remove some files from `i3250.sh` and the compilation succeeds:
[code]

[2017-10-08 16:02] smarter commented on #3250
Hmm, I might have been confused by recursive collectCompanions calls, but there's still something weird going on where Iterable is not present when it should be in the implicit search done right before the error, contrast:

AmbiguousImplicits: https://gist.github.com/smarter/d0bee25acd16a8859723918c875b3dc8
SearchSuccess: https://gist.github.com/smarter/bfe7c34d817ab7809516fa375aa51049

If you loo

[2017-10-08 16:16] smarter commented on #3250
The issue goes away if `Config.cacheImplicitScopes` is set to false.

[2017-10-08 18:53] #3273 closed

[2017-10-08 18:54] #3252 closed

[2017-10-09 09:04] nicolasstucki commented on #3260
More results obtained with Oracle Developer Studio
https://gist.github.com/nicolasstucki/e35efb3fc70f8b200438ac243d7abc06

[2017-10-09 09:32] smarter commented on #3250
Reopening to see if we can find the underlying cause even though we have a workaround now.

[2017-10-09 12:56] allanrenucci commented on #3279
- Checked out d70b8f43ddab82afcbed5876c525888abbdba7ee
- Published locally
- Set `scalaVersion := "0.4.0-bin-SNAPSHOT"` in `dotty-example-project`
- `sbt console`
[code]

[2017-10-09 13:39] allanrenucci opened #3294 "Improve error reporting when compiler infers the type of an overridden value/method"
[code]
Dotty cannot compiles this code snippet. With Dotty, `HtmlUnit.webDriver` has type `WebDriver` and not `HtmlUnitDriver`.
[code]

This is expected, `webDriver` inherits the type of its overridden parent. It is confusing however. We should improve our error reporting.

[2017-10-09 14:54] allanrenucci commented on #2966
Keeping this open as the current solution can be improved

[2017-10-09 15:12] allanrenucci commented on #3294
This is a breaking change with Scalac. Our migration tool should add explicit types to overridden values and methods. cc/ @olafurpg

[2017-10-09 15:58] felixmulder commented on #3279
I can at least offer some insight (but very swamped otherwise):

`rs$line$1` refers to the synthetic wrapper object created by the REPL. It is classloaded by `Rendering.scala`. I can't say what the exact difference is between new and old REPL in this regard, but I'd have a look at the old `CompilingInterpreter` and see if we're doing something weird in comparison.

[2017-10-09 18:01] CucumisSativus commented on #1589
I'll take `Scala2Unpickler.scala:681`

[2017-10-10 03:00] retronym commented on #3273
This doesn't currently cook raw types in parent position.

[code]

[2017-10-10 03:17] retronym commented on #3273
I've wanted to do the same thing in scalac, as it avoids [spurious cycles](https://github.com/scala/bug/issues/3809). Here's what I tried: https://github.com/scala/scala/pull/5308

I didn't pull the trigger because I was worried about the extra footprint needed by keeping the classfile bytes around for every Java class we touch (as is needed to facilitate deferred lookups to the constant pool). I

[2017-10-10 12:19] smarter opened #3298 "Dotty does not handle correctly raw types in parent position coming from classfiles."
As reported in https://github.com/lampepfl/dotty/issues/3273#issuecomment-335345859:

[code]

[2017-10-10 12:20] smarter commented on #3273
@retronym Thanks for the report, I opened https://github.com/lampepfl/dotty/issues/3298

[2017-10-10 14:26] odersky commented on #3273
That would be very helpful. We should do something similar with Tasty files which suffer the same problem.

[2017-10-10 14:29] odersky commented on #3284
Ah I see. Yes, that would be doable. The question is whether it's high enough priority to warrant the additional syntax. Not sure about that. It probably would need a SIP to be discussed thoroughly.

[2017-10-10 15:09] abeln opened #3299 "Ycheck failure when combining extractor with ???"
If we modify https://github.com/lampepfl/dotty/blob/master/tests/pos/extractor-types.scala#L3 a little bit, by changing

`object Foo { val Ex(_) = null }`

to

`object Foo { val Ex(_) = ??? }`

then the test still compiles, but Ycheck fails (see error below).

Here's a minimized example:
[code]

Stacktrace:
[code]

[2017-10-10 15:52] #3279 closed

[2017-10-10 17:19] allanrenucci opened #3302 "Compiler crash: Private object accessed from constructor"
In file `A.scala`:
[code]
In file `B.scala`:
[code]

Running `dotc A.scala B.scala`

<details>
  <summary>Stacktrace</summary>
  <pre>
exception while transforming A of class class dotty.tools.dotc.ast.Trees$Ident # 762
exception while transforming A.apply of class class dotty.tools.dotc.ast.Trees$Select # 763
exception while transforming A.apply(0) of class class dotty.tools.dotc.ast.Trees$Apply

[2017-10-10 20:45] smarter opened #3304 "Dotty 0.4.0-RC1 shell scripts should detect Java 9 and stop with an error"
Dotty won't be compatible with Java 9 until https://github.com/lampepfl/dotty/pull/3138 is done. To avoid confusing people with weird errors, we should check the Java version in the shell script and ask people to use Java 8. To get the Java version use https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt-launch-lib.bash

[2017-10-10 20:46] smarter commented on #3304
The actual check is at https://github.com/sbt/sbt-launcher-package/blob/master/src/universal/bin/sbt-launch-lib.bash#L183

[2017-10-11 11:50] allanrenucci opened #3305 "New REPL does not catch Exceptions"
[code]

[2017-10-11 14:50] smarter opened #3308 "Optimize the raw"" and s"" string interpolators"
Similar to https://github.com/scala/scala/pull/6093 but should be done in a mini-phase if possible.

[2017-10-11 15:33] allanrenucci opened #3309 "Repl crashes when completing EmptyTree"
[code]
The repl parses `#` which returns an empty tree. It then tries to access its position

[2017-10-11 18:40] bbarker opened #3310 "Generate checksum files for archives released on GitHub"
This might be added to the archive building script (located where?). Supported checksums should include:
* md5sum
* sha256sum (used by NixPkgs)
* others?

I'll be happy to do this at some point, if someone doesn't get to it first.

[2017-10-11 18:43] smarter commented on #3310
I think just sha256sum should be enough

[2017-10-11 19:00] allanrenucci commented on #3310
We use [sbt-pack](https://github.com/xerial/sbt-pack) to generate the archive on GitHub:
[code]
I wanted to automate the process with the CI and the [GitHub Release Plugin for Drone](http://plugins.drone.io/drone-plugins/drone-github-release/). The plugin can generate the checksum for you.

[2017-10-12 12:36] #3304 closed

[2017-10-12 22:01] hermesespinola commented on #1589
Hey there! I'll take Parsers.scala:2150

[2017-10-13 13:18] allanrenucci opened #3322 "Can't run console via sbt scritped tests in Drone"
As shown in #3315, we currently cannot run the console from sbt scripted tests in Drone. Error:
[code]

[2017-10-13 13:41] nicolasstucki opened #3323 "Patter match waring on erased type not needed"
[code]
produces the following waring
[code]

even if we know statically that the type will match.

[2017-10-13 16:04] allanrenucci commented on #3323
Simpler test case:
[code]

[code]

[2017-10-13 16:37] allanrenucci opened #3324 "Missing unchecked warning for isInstanceOf checks"
This code snippet emits a warning with scalac but not with Dotty
[code]
[code]

[2017-10-13 16:53] #3305 closed

[2017-10-13 16:53] #3309 closed

[2017-10-13 18:59] allanrenucci commented on #3323
I don't think we should emit unchecked warning in pattern matching. Otherwise will have to repeat the work for `isInstanceOf` checks: #3324.
I believe we can do it once for `isInstanceOf` checks after we transform pattern match cases to `isInstanceOf` checks.

[2017-10-14 13:26] odersky commented on #3324
I am not sure what we want to spec here, yet.

[2017-10-16 11:09] #3310 closed

[2017-10-16 12:45] allanrenucci opened #3329 "Release Dotty 0.4.0-RC1"
- [x] Create branch `0.4.x`
- [x] On `0.4.x`, set `baseVersion` to `0.4.0-RC1`
- [x] Tag `0.4.0-RC1`. This will publish artefacts to Sonatype and GitHub Release
- [x] Add release notes to the GitHub Release
- [x] On `master`, set `baseVersion` to `0.5.0` and update `sbt-dotty` so that `dottyLatestNightlyBuild` uses `dotty_0.5`
- [x] Publish the new sbt-dotty
- Update `scalaVersion` (and, if applic

[2017-10-16 15:18] jozi-k commented on #1961
This is probably resolved.

[2017-10-16 15:18] jozi-k commented on #2145
Probably resolved.

[2017-10-16 15:22] soronpo commented on #1961
In which version? I tried it on Scastie now and still produces the same compilation error.

[2017-10-16 15:25] allanrenucci commented on #1961
I can still reproduce on mater

[2017-10-16 16:31] liufengyun commented on #3329
We have some regression for Cygwin, I'm investigating: https://ci.appveyor.com/project/liufengyun/packtest-s6xq2/build/30

[2017-10-17 07:00] AleksanderBG opened #3332 "Confusion between syntax for pattern alternative and typed pattern on a union type"
As in the title, running this code in REPL throws `java.lang.VerifyError`:

[code]

[code]

Parenthesising the type, however, runs normally:
[code]

[2017-10-17 07:30] AleksanderBG opened #3333 "Patmat exhaustivity checks do not consider all possible type children"
There are (at least) two cases in which children of a type are not considered in patmat exhaustivity checks. I'm making a single issue, since it seems that the solution will have to handle both of these problems at once.

When compiling the following code:
[code]
the following warning is emitted:
[code]
Note that `IntNumber` is valid input to `test`. This happens, since `SpaceEngine#refine` initia

[2017-10-17 07:50] liufengyun commented on #3333
Thanks for reporting @AleksanderBG . The first case is a regression when we switch to instantiation of children based on type inference.

The second is indeed due to the fact that `refine` ousted too early. If a child is `Trait`, then we should keep that child without checking.

[2017-10-17 08:34] allanrenucci commented on #3332
Without parenthesis, it is parsed as
[code]
with parenthesis:
[code]

[2017-10-17 08:45] allanrenucci commented on #3332
But I think it is more than a parsing issue, the following code snippet compiles with Dotty and crashes at runtime:
[code]

[2017-10-17 10:15] olafurpg opened #3337 "REPL tab completes $ suffix for objects"
I tried the following in the new REPL from tag v0.4.0-RC1

[code]
I expected it to tab complete to `Predef` without the $ suffix.

[2017-10-17 12:55] #3302 closed

[2017-10-17 13:33] #3111 closed

[2017-10-17 15:01] smarter opened #3339 "Missing access checks when accessing package private classes"
This code shouldn't compile:
[code]
Because if you try to run it you get:
[code]

This code compiles and run with scalac because the class `A` is emitted as `public` whereas dotty emits it as `private`.

[2017-10-17 15:04] nicolasstucki opened #3340 "null asInstance of Nothing not always throwing"
In the following code the cast to Nothing does not throw the expected `NullPointerException`
[code]
but it does in
[code]

[code]

[code]
This issue was metioned prevoiusly in #1002.

[2017-10-17 15:37] allanrenucci opened #3343 "Implicit view not found involving an uninstantiated type variable"
This fails to compile with Dotty
[code]
[code]
Note that this compiles:
[code]

[2017-10-17 15:42] smarter commented on #3343
I think you may have minimized this too much, this only succeeds in scalac because `C[_]` is instantiated to `Nothing` which is not something we'd like to have in dotty since `C[_]` is higher-kinded and `Nothing` isn't.

[2017-10-17 16:09] allanrenucci commented on #3343
[code]
scalac resolve:
[code]

[2017-10-17 16:26] smarter commented on #3343
Thanks! We can reduce it further, this doesn't compile with dotty:
[code]
But this does:
[code]

The error we get in the first case is:
[code]

[2017-10-17 16:53] smarter commented on #3343
We can minimize even more actually:
[code]
[code]
Here the error message is misleading: there is an implicit view from `List[Char]` to `Traversable[Char]`, the issue is that at the time we do the search we're looking for a view from `C[Char]` to `Traversable[Char]`, but `C` gets instantiated before we print the error.

[2017-10-18 08:13] LucDupAtGitHub commented on #3005
Hey, Miles, what is the status of this issue?

[2017-10-18 10:05] milessabin commented on #3005
No recent progress as far as I'm aware. I'll come back to it when I have time.

[2017-10-18 10:35] smarter commented on #3332
This code should not compile, as in scalac where you get:
[code]
There's already an issue for that: https://github.com/lampepfl/dotty/issues/1612

The other issue is how to parse `case s: String | Int`, it's unfortunate that the current meaning is confusing when combined with union types, but I don't know if there's a good solution here

[2017-10-18 12:04] #2961 closed

[2017-10-18 18:18] allanrenucci opened #3348 "Assertion fail during implicit search: constraint before search neq constraint after search"
The following code snippet crashes the compiler:
[code]

<details>
  <summary>Stacktrace</summary>
  <pre>
exception occurred while typechecking tests/allan/Test.scala

exception occurred while compiling tests/allan/Test.scala
Exception in thread "main" java.lang.AssertionError: assertion failed
	at scala.Predef$.assert(Predef.scala:204)
	at dotty.tools.dotc.typer.Implicits.$anonfun$inferImplicit$

[2017-10-18 18:19] allanrenucci commented on #3348
My understanding of the problem:

The compiler performs an implicit search to find a method `toto` on String. To do so, it typechecks `Test.test` which modifies `ctx.typerState.constraint` and reference equality is lost between `ctx.typerState.constraint` before and after the search.

[2017-10-18 20:56] smarter opened #3349 "Dottydoc generation broken on Windows because of illegal filenames"
As reported on gitter recently by @DSouzaM:
[code]
The corresponding classfile is called `LazyList$$tilde$colon$.class`, we should use the same encoding (obtained with the method `Name#mangledString`) for the html files. According to @felixmulder the relevant code is at https://github.com/lampepfl/dotty/blob/b7fbb3919ea6a81d170c0f34a1197f525ac964e1/doc-tool/src/dotty/tools/dottydoc/staticsite/Site

[2017-10-18 21:31] LucDupAtGitHub commented on #3005
I may have some time to contribute (actually, I am writing library code where the feature would be very useful). But I'm not sure if I'm the right kind of person to contribute (it has been some time since I've been involved in similar stuff).

[2017-10-19 09:22] #3343 closed

[2017-10-19 09:52] allanrenucci opened #3351 "case class as apply method"
This code snippet does not compile with Dotty but does with scalac:
[code]
[code]
Interestingly, if the method `Seed.apply` is commented out, it does not compile with scalac either.

Do we want to support this? If not, what should be the recommended migration path?

[2017-10-19 12:47] allanrenucci opened #3352 "Bad interaction between overloading, default arguments and implicit search"
This code snippet does not compile with Dotty:
[code]
[code]
Maybe related to #3168

[2017-10-20 16:15] allanrenucci opened #3359 "Meta-issue: REPL Improvements"
From @felixmulder comment in #3176's discussion:
- [ ] If a state is thrown away, and a new state used in its stead. That should be enough to reset the REPL. So, some mutability in ReplDriver init as well as Rendering should be moved into the session.
- [ ] Evaluation should be better encapsulated, it'd be so nice if we could get away without the classloading that sort of exists outside of our mod

[2017-10-20 16:15] allanrenucci commented on #3359
@felixmulder Can you develop the second point, I am not sure to fully understand.

[2017-10-20 16:35] allanrenucci opened #3360 "IDE Improvements"
Testing Infrastructure:
----------------------
- [ ] Test that go-to-definition, renaming, completion, … work @nicolasstucki
- [ ] Integration test with vscode

Proper build integration:
----------------------
- [ ] sbt server support (blocked by #3091)
- [ ] Handle outdated symbols (e.g. load symbol from TASTY from some classfile, then the classfile gets updated, the compiler doesn’t know the sym

[2017-10-22 01:33] LoranceChen opened #3363 "Is Dotty ready for 2.12?"
The announce of 0.4.0-RC1 write [Scala 2.12 has supported](http://dotty.epfl.ch/blog/2017/10/16/fourth-dotty-milestone-release.html#scala-212-support-2827) but the homepage said `Dotty currently interops with libraries compiled with Scala 2.11 - but not 2.12`.
Is there some limit for 2.12?

[2017-10-22 08:56] allanrenucci commented on #3363
We don't support Scala 2.11, only Scala 2.12. The documentation on the Dotty website need to be updated

[2017-10-22 09:47] allanrenucci opened #3364 "Name clash in class and its companion object"
The following code snippet compiles with Dotty but not with Scalac
[code]
Same for:
[code]

[2017-10-22 10:51] felixmulder commented on #3359
Evaluation of code is a side-effect of rendering the rhs of values. For instance:

[code]

creates an object, which is eventually roughly the equivalent of this java code:

[code]

In [rendering#L60](https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/repl/Rendering.scala#L60) we make sure not to render this because when we do the classloading on [rendering#L55](https://github.c

[2017-10-22 21:06] #3363 closed

[2017-10-22 21:52] philwalk opened #3367 "java version 1.8 rejected in cygwin/windows-java due to carriage return"
Calling dotd with windows java 1.8 in a cygwin terminal session fails with the following message:

When setting the value of JAVA_VERSION in file bin/common line 65, a fix is to convert '\r' to '\n':

JAVA_VERSION=$("$JAVACMD" -version 2>&1 | tr '\r' '\n' | grep ' version "' | sed 's/.*version "\([0-9]*\)\(\.[0-9]*\)\{0,1\}\(.*\)*"/\1\2/; 1q')

[2017-10-23 05:42] rsoeldner commented on #3364
@allanrenucci I tried to tackle this, but

[code]
is always _false_ for your test cases. I mean in the example:
[code]

I'm able to go from `class Foo` to the owner `class Test`, to the companion object `object Test` but I'm not able to verify `object Foo` is a member. Is there a different representation of _object_ and _class/trait_ ?

[2017-10-23 07:23] liufengyun commented on #3367
Thanks for diagnosing the problem @philwalk !  We noticed the problem, there's a PR for it: https://github.com/lampepfl/dotty/pull/3331

[2017-10-23 08:16] allanrenucci commented on #3367
I like this fix better than the one we currently have. @liufengyun can you try it out and confirm it works?

[2017-10-23 11:36] #3367 closed

[2017-10-23 14:18] allanrenucci commented on #3364
Yes, it was a bit trickier than I thought. Indeed `object` have a special name. I fix it in #3368.

[2017-10-23 14:56] odersky commented on #3348
Unfortunately, #3354 did have a performance impact

[2017-10-23 15:18] liufengyun commented on #3348
@odersky From the following benchmarks, it seems #3354 has no impact on performance. Are you checking the benchmarks from your local machine?

http://dotty-bench.epfl.ch/3354/

[2017-10-23 15:52] nicolasstucki commented on #3340
[code]
with `-optimise` throws, that was how I discovered the issue.

[2017-10-23 18:28] #3329 closed

[2017-10-23 18:35] Blaisorblade opened #3371 "Tag 0.4.0-RC1 is not part of the master branch"
Current HEAD e1365d9d15bc021fc8cc6ba071a47bdb0db30baa is not a children of 0.4.0-RC1. I'm not sure but that seems wrong, and gives confusing results:

[code]

[2017-10-23 18:40] Blaisorblade opened #3372 "Build breakage on current master"
On current HEAD e1365d9d15bc021fc8cc6ba071a47bdb0db30baa, `sbt launchIDE` fails with a compile error—[full log](https://gist.github.com/Blaisorblade/b24b648871f3e45405cfbb61784931e8), extract:

[code]

The latest merged PR https://github.com/lampepfl/dotty/pull/3320 was approved by continuous integration, so either the breakage was due to changes on master after approval, or to some tasks missing

[2017-10-23 18:42] allanrenucci commented on #3371
That is probably due to the fact that I created the branch `0.4.x`, set the version to `0.4.0-RC1` on the newly created branch and then tagged it. So yes, `HEAD` is not a children of `0.4.0-RC1`.
I am happy to proceed differently for the next release.

[2017-10-23 19:02] allanrenucci commented on #3372
I cannot reproduce. Are you sure you have your git submodules up to date?

[2017-10-23 19:35] philwalk opened #3373 "creating file paths with embedded colons illegal under windows"
The following code sequence in compile/test/dotty/tools/dotc/reporting/TestReporter.scala, lines 89 through 92 attempts to create a file with multiple embedded colons, throwing an exception in Windows:

[code]

Here's the exception:
`java.io.FileNotFoundException: ..\testlogs\tests-2017-10-23\tests-2017-10-23-10:18:51.log (The filename, directory name, or volume label syntax is incorrect)
`

repla

[2017-10-23 20:45] Blaisorblade commented on #3372
You're right, I forget it *every time* I try out Dotty — I'll reopen if that doesn't fix it. Apologies for the annoyance.

[2017-10-23 20:45] #3372 closed

[2017-10-23 21:25] Blaisorblade commented on #3372
Turns out I have to install node; that doesn't seem to be documented, but I'll try to check more carefully and/or do a PR to mention this.

[2017-10-23 21:32] Blaisorblade commented on #3372
Also, `launchIDE` seemed to work, but its ended with the following error:

[code]

[2017-10-24 07:25] allanrenucci commented on #3373
Could you give a fully compilable code snippet with which we can reproduce the issue?

[2017-10-24 09:40] #3364 closed

[2017-10-24 12:00] #3348 closed

[2017-10-24 14:14] rsoeldner commented on #3373
isn't this related to #3349 ?

[2017-10-24 14:52] philwalk commented on #3373
I'm happy to provide a compilable code snippet (it will have to wait until I return to the office in a few hours).   In the interim, you can reproduce it via "sbt test" under Windows.   Also, the last line of the code I provided is not needed, since I presume the exception is thrown on the ".mkdirs()" call.

[2017-10-24 19:18] philwalk commented on #3373
I'm working on a minimal source file that reproduces the problem, but in the meantime, I added one more line to the end of the sequence of code above, which is needed to trigger the exception.   More info shortly ...

[2017-10-24 19:33] philwalk commented on #3373
Judging by the path /mnt/c/Users/... I'm guessing that #3349 occurs on
Windows Subsystem for Linux, which permits colons in filenames, so it would
seem to be unrelated.

On Tue, Oct 24, 2017 at 8:15 AM, rsoeldner <notifications@github.com> wrote:

[2017-10-24 19:49] philwalk commented on #3349
Because the `Invalid Argument` path `'/mnt/c/Users/mattd_000/Documents/...'` begins with /mnt/, I'm assuming that this exception occurred in WSL (Windows Subsystem for Linux), which permits colons in filenames of files created by the JVM.     If this did occur under WSL, then #3373  is unrelated.

To demonstrate the difference, the following scala script fails under cygwin, but passes under WSL:
[

[2017-10-24 19:56] philwalk commented on #3373
Following up on the previous comment (I was unable to edit it without losing code formatting):

The relevant difference between the two cases is that a cygwin test uses the Windows JVM, but in WSL, it would be an Ubuntu/Linux .deb JVM distribution installed by apt, etc.   Here's a scala script that fails under cygwin and passes under WSL:
[code]

[2017-10-24 21:25] allanrenucci commented on #3373
It doesn't look like an issue with Dotty issue nor an issue with Scala. I suppose it doesn't work either with Java. If so, there is nothing we can do about it

[2017-10-24 21:47] smarter commented on #3373
Of course there is something we can do about it.  Just change the generated file name to not use `:`

[2017-10-24 21:55] allanrenucci commented on #3373
My bad, I didn't realise it was in our code base...

[2017-10-25 09:29] OlivierBlanvillain opened #3381 "Compiler crash on pattern matching with nested HKT"
Typer craches with a *tail of empty list* on nested `Tuple2K` patterns:

[code]

<details>
  <summary>
    Full stack trace
  </summary>
  <pre>
Exception in thread "main" java.lang.UnsupportedOperationException: tail of empty list
        at scala.collection.immutable.Nil$.tail(List.scala:430)
        at scala.collection.immutable.Nil$.tail(List.scala:425)
        at dotty.tools.dotc.core.Substit

[2017-10-25 14:05] nicolasstucki opened #3383 "`posTwice` `testNonCyclic` fails if `dotc.CompilationUnit` does not import `Types.Type`"
If we remove the unused import `import dotty.tools.dotc.core.Types.Type` in `dotty.tools.dotc.CompilationUnit` the `testNonCyclic` fails in `posTwice`.

[code]

Note that the error manifests itself in another class.

[2017-10-25 16:15] odersky commented on #3324
I now think we should do the same as scalac.

[2017-10-25 16:18] odersky commented on #3298
Fixed by #3317.

[2017-10-25 16:18] #3298 closed

[2017-10-26 06:32] #3352 closed

[2017-10-26 09:20] allanrenucci commented on #3324
For `(x: X).isInstanceOf[P]`, scalac emits an unchecked warning when:

ref: https://github.com/scala/scala/blob/94cee79eb63b4449d21dc74cb9175d6412cc8a55/src/compiler/scala/tools/nsc/typechecker/Checkable.scala#L12-L64

[2017-10-26 09:46] #3381 closed

[2017-10-26 10:20] nerush opened #3388 "REPL reports NPE when partially applied function is called in a semicolon delimited statement"
Having a function defined in REPL like in example below:
[code]

the following statements are evaluated to NPE:
[code]

Will try to figure it out and fix, any tips from main contributors are very welcome.

[2017-10-26 11:41] allanrenucci commented on #3388
Can be reproduce by simply running this in the REPL:
[code]

[2017-10-26 11:43] allanrenucci commented on #3388
The issue is that `foo` is not yet initialised when calling `foo.toInt`

[2017-10-26 11:58] allanrenucci commented on #3388
Values are evaluated as a side effect of rendering them: https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/repl/Rendering.scala#L73

[2017-10-26 13:17] odersky commented on #3351
I don't think we want to support it. Just don't call your case class `apply`.

[2017-10-26 13:35] #3351 closed

[2017-10-26 14:20] odersky commented on #3339
I think the code is legal, so we need to do like scalac and make class A public.

[2017-10-26 21:51] #3337 closed

[2017-10-27 10:52] maseev commented on #2648
I'm not sure if this is relevant, but I'm experiencing a very similar problem running the dotty REPL on Ubuntu:

[code]

[code]

[2017-10-27 11:08] maseev commented on #1589
I'll take this one - `Typer.scala:1898 (def missingArgs)`. Looks pretty straightforward to me.

[2017-10-27 11:27] allanrenucci commented on #3322
This seems to be the same issue as #2648. WDYT @liufengyun?

[2017-10-27 15:27] maseev commented on #1589
@felixmulder it looks like these ones:

- Parsers.scala:2150
- Typer.scala:985
- Typer.scala:990
- Typer.scala:992

 are already implemented.

[2017-10-27 21:24] smarter opened #3396 "infinite loop in implicit search when using collection-strawman"
The offending code (adapted from the tests in https://github.com/scala/collection-strawman/blob/master/collections-contrib/src/test/scala/strawman/collection/decorators/MapDecoratorTest.scala, which apparently have never been run with Dotty):

[code]

[code]

[2017-10-29 09:51] maseev commented on #1589
I'll take this one - `Typer.scala:1427` (`ctx.error("only static objects can extend scala.Phantom", cdef.pos)`)

[2017-10-29 11:24] maseev commented on #1589
And this one - `Typer.scala:1555` (`ctx.errorOrMigrationWarning(i"not a function: ${res.tpe}; cannot be followed by _", tree.pos)`)

[2017-10-29 17:01] benmccann opened #3401 "Consider using a different directory for scripts"
Eclipse by default uses the `bin` directory to put compiled code. The [dotty instructions](http://dotty.epfl.ch/docs/contributing/eclipse.html) recommend changing this from `bin` to `classes`. I maintain sbteclipse and was hoping that we could avoid this extra setup step for our mutual users. I think that `bin` is a fairly generic and vague name that doesn't indicate that you intend for just scrip

[2017-10-30 03:15] smarter opened #3403 "Compiler crash in GenBCode referring to a class that extends an annotation"
https://github.com/scala/bug/issues/9393 also affects Dotty. The corresponding PR in scalac was https://github.com/scala/scala/pull/4638

[2017-10-30 03:15] smarter commented on #3113
I've opened https://github.com/lampepfl/dotty/issues/3403 to track another possible PR to port.

[2017-10-30 03:28] smarter commented on #3401
I don't know if this is worth changing considering the future of IDE support in Dotty is the [Dotty Language Server](http://dotty.epfl.ch/docs/usage/ide-support.html) (which currently doesn't handle building your project but will soon be enhanced to do so by delegating to the [sbt server](https://github.com/sbt/sbt/pull/2737)). Eclipse users should be able to work on Dotty projects (including Dott

[2017-10-30 05:25] hermesespinola commented on #1589
I'll take Typer.scala:1427 - ctx.error("only static objects can extend scala.Phantom", cdef.pos)

[2017-10-30 05:31] maseev commented on #1589
@hermesespinola It looks like I already implemented this part in [this](https://github.com/lampepfl/dotty/pull/3399) PR. Unfortunately, if I understand correctly, phantom types will be removed from Dotty, so the PR will probably be closed.

[2017-10-30 05:41] hermesespinola commented on #1589
Oh, didn't realize, even though it was two comments before. Just saw the comment from Odersky. Thanks for the info.

[2017-10-30 05:49] smarter opened #3405 "Improve our contributor documentation"
Some things that would be nice to document, I'm sure there's more:
- [ ] How we do benchmarking (both locally with `./bench/scripts/...`, and remotely with "test performance please")
- [ ] How to use the Dotty IDE: this one is easy, just let people know that Dotty is also a Dotty project and point them to http://dotty.epfl.ch/docs/usage/ide-support.html
- [ ] How to test a locally compiled Dotty i

[2017-10-30 05:56] smarter commented on #3405
We should also update https://github.com/lampepfl/dotty/blob/master/CONTRIBUTING, it was copied from scala/scala a long time ago and is starting to show its age. A good starting point could be the current https://github.com/scala/scala/blob/2.12.x/CONTRIBUTING.md

[2017-10-30 07:52] allanrenucci commented on #3401
I don't see why we should not do that. I also believe that `scripts` is a better name than `bin`

[2017-10-30 07:59] smarter commented on #3401
We could change it, but then we'd have to change paths in various places and let people know what the new name is. Doesn't seem worth the effort to me, but feel free to reopen the issue if it's something you want to tackle :).

[2017-10-30 09:26] nicolasstucki commented on #3113
Please add the issues also to the list in the description

[2017-10-30 10:01] rsoeldner commented on #3388
@allanrenucci If I understand correct, [renderMethod](https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/repl/Rendering.scala#L69) is evaluated before [vals](https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/repl/ReplDriver.scala#L269)

Can you give a hint, how to fix this ?

[2017-10-30 10:39] julienrf opened #3406 "Overload resolution fails when a parameter requires an implicit conversion"
I’ve discovered this issue when working on the collections strawman.

[code]

Tested with Dotty 0.4.0-RC1. Scalac behaves exactly in the same way (see https://github.com/scala/bug/issues/10576)

[2017-10-30 13:11] allanrenucci commented on #3401
It's not something I plan to do, but I am sure this can be contributed by the community

[2017-10-30 13:19] allanrenucci commented on #3406
Reproduced on master

[2017-10-30 13:59] allanrenucci commented on #3388
Methods definitions are not evaluated, they are just pretty printed to the user. Only `val` definitions are evaluated.

The way I would try to solve this issue, is by looking at the code the REPL generates and see if there is something wrong with it. You should be able to do this by adding some debug code here: https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/repl/ReplDriver.

[2017-10-30 20:01] smarter opened #3408 "Implement SIP-27: Trailing Commas"
Accepted SIP: http://docs.scala-lang.org/sips/completed/trailing-commas.html
Scala 2 implementation: https://github.com/scala/scala/pull/5245

[2017-10-31 13:36] nicolasstucki opened #3411 "Missing parameter list in JavaGeneric signature"
[code]
will generate the signature `public <U> int Foo$.foo(int,double)` which misses all parameters not in the first parameter list.

[2017-10-31 13:37] nicolasstucki commented on #3411
Test case to add
`tests/generic-java-signatures/i3411.scala`
[code]

[2017-10-31 13:39] nicolasstucki commented on #3411
[code]

does not handle the case where `restpe` is another method type.

[2017-10-31 14:26] allanrenucci opened #3412 "Failing to parse Binding with uppercase identifier"
[code]

[2017-10-31 16:20] allanrenucci opened #3415 "Spurious CI failures when cloning"
Drone sometime fails to clone on PR because of a bug with GitHub.

A workaround is described in this [discussion](https://discourse.drone.io/t/solved-issues-when-cloning-github-pr/482/11)

[2017-10-31 16:31] #3412 closed

[2017-10-31 16:35] #3411 closed

[2017-10-31 16:57] odersky commented on #3396
The culprit is this beauty (from `BuildFrom.scala`)

    implicit def buildFromSortedMapOps[CC[X, Y] <: SortedMap[X, Y] with SortedMapOps[X, Y, CC, _], K0, V0, K : Ordering, V]: BuildFrom[CC[K0, V0], (K, V), CC[K, V]] = new BuildFrom[CC[K0, V0], (K, V), CC[K, V]] {
      def newBuilder(from: CC[K0, V0]): Builder[(K, V), CC[K, V]] = from.sortedMapFactory.newBuilder[K, V]()
      def fromSpecificIte

[2017-10-31 18:48] #3388 closed

[2017-10-31 18:50] CucumisSativus commented on #3415
@allanrenucci on my way with fixing it

[2017-10-31 21:40] CucumisSativus commented on #3415
@allanrenucci according to https://discourse.drone.io/t/solved-issues-when-cloning-github-pr/482/15 looks like the issue is solved on plugin level, probably after plugin update the issue does not need a workaround

[2017-10-31 21:43] CucumisSativus commented on #3408
Hey @smarter I'd like to work on this.

[2017-10-31 21:47] smarter commented on #3408
Go for it! :smile:

[2017-10-31 21:49] CucumisSativus commented on #3408
One thing i'm not sure @smarter , where should I place tests for this?

[2017-10-31 21:52] smarter commented on #3408
Tests that should compile go in `./tests/pos/`, tests that shouldn't compile go in `./tests/neg`, tests that should compile and run go in `./tests/run/`. You should be able to port the tests from https://github.com/scala/scala/pull/5245, the only difference is that we do not use check files for neg tests, instead we put `// error` in the source files on each line containing a compiler error.

[2017-10-31 21:53] smarter commented on #3408
Here's something that may be useful during development: you can pass the `-Xprint:parser` flag to the compiler to pretty-print the output of the parser, and If you add `-Yplain-printer` you'll see raw trees instead of pretty-printed output.

[2017-10-31 21:54] CucumisSativus commented on #3408
Thanks!

[2017-10-31 22:31] smarter opened #3418 "Instability in dottydoc output"
Apparently, given the same code, dottydoc will not always produce the exact same output, this can be seen in some commits in https://github.com/lampepfl/dotty/tree/gh-pages where the only difference is the ordering of some members, e.g. https://github.com/lampepfl/dotty/commit/79d651cdc54590866203a0a77a9fc7ae2eebb143, https://github.com/lampepfl/dotty/commit/6bfb93acefc6846e1b805d3a7cad6e30b277af1

[2017-11-01 09:55] allanrenucci commented on #3415
I have restarted the CI, hopefully it will pick up the latest version of the git plugin

[2017-11-01 10:43] OlivierBlanvillain opened #3422 "Wrong type mismatch of HKT under separate compilation"
*a.scala*:

[code]

*b.scala*:
[code]

Breaks with separate compilation:

[code]

[2017-11-01 14:02] #3246 closed

[2017-11-01 15:27] odersky opened #3424 "Make DottyDoc work on Java files"
Reynold Xin from Databricks mentioned that they have a problem generating documentation for joint Scala/Java projects. Ideally ScalaDoc should be able to generate documentation for both parts, so that links work correctly. But that means it has to read and interpret Java files. I am not sure what DottyDoc does currently. Can it handle joint projects?

[2017-11-01 16:50] Jacoby6000 commented on #3144
@liufengyun  I'd like this to be re-opened, since what was resolved was actually unrelated to what I was concerned about.  My example was perhaps bad.

The below example compiles, but should error:

[code]

I'm so used to generalizing that I did an un-necessary generalization in my earlier example which confused the issue.

[2017-11-01 17:24] allanrenucci opened #3427 "@unchecked annotation propagated to return type of the pattern match expression"
[code]
`@unchecked` shouldn't show up here, the unchecked annotation on a pattern match expression is meant to be seen only by the pattern match checker and shouldn't be propagated to the return type of the pattern match

[2017-11-01 18:15] odersky commented on #1612
Duplicate of #3332.

[2017-11-01 18:15] #1612 closed

[2017-11-02 00:25] jpallas opened #3430 "Compiler crash due to memory exhaustion"
dotty 0.4.0-RC1 dies by running out of memory when asked to compile `Nil.min` in the REPL or the compiler.

[2017-11-02 11:05] nicolasstucki commented on #3430
This does not only happen in the REPL.

[2017-11-02 11:15] nicolasstucki commented on #3430
The compiler cant figure out the implicit `Ordering[T1]`.

[code]

[2017-11-02 11:16] nicolasstucki commented on #3430
Note that T1 has a lower bound constraint

[2017-11-02 12:39] nicolasstucki commented on #3430
The issue that as the type is unbounded it will try all possible types which include tuples and nested tuples. Such as:

[code]
In these cases the implicit search tree is extremely wide.

[2017-11-02 12:48] nicolasstucki commented on #3430
Here is a self contained example that produces the same result.

[code]

It takes around one minute to compile on my machine.

[2017-11-02 13:08] OlivierBlanvillain commented on #3430
I believe this is because implicit search is currently exhaustive up to depth `XminImplicitSearchDepth` (default = 5), divergence criterion are only considered passed that threathold (see [this comment](https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/typer/Implicits.scala#L963-L975)).

[2017-11-02 13:10] OlivierBlanvillain commented on #3430
[code]

[2017-11-02 14:09] nicolasstucki commented on #3430
A possible workarround would be to change the library to:
[code]

[2017-11-02 16:46] joan38 commented on #1260
I'd like also to see arguments from the main people on @sirinath and @stuhood proposal:
https://github.com/lampepfl/dotty/issues/1260#issuecomment-262139822
I didn't see anyone showing cons to these proposals.

[2017-11-02 16:50] nicolasstucki commented on #1260
A simple cons is that you would not be able to support implicit arguments with default values.

[2017-11-03 07:37] OlivierBlanvillain opened #3433 "Incorrect kind of type projection"
[code]

Interestingly if we "partially apply" this `Const` the result is neither in `*` nor in `* → *`:

[code]

(Note that in Dotty we would just define `Const` as `type Const[C] = [X] => C` which works as expected, the above is a way to encode a constant type function in scalac)

[2017-11-03 10:11] liufengyun commented on #1519
I'd like to work on the plugin architecture, which will open the door for a lot of experiments & research on Dotty without changing the compiler.

There are mainly two categories of plugins in Scalac: Phase plugins & Typer plugins.

For Phase Plugins, we need them as well, no question here. We can more or less follow the same design in Scalac for phase plugins.

There are also Typer Plugins: `Anal

[2017-11-03 10:15] liufengyun commented on #1694
This discussion is out of date now. Follow the link below for the latest discussion about annotation macros:

https://contributors.scala-lang.org/t/annotation-macros/1211/20

[2017-11-03 10:15] #1694 closed

[2017-11-03 13:55] allanrenucci opened #3434 "Nothing inferred when class type parameter is missing"
[code]
[code]
Both dotty and scalac infer `B extends A[Nothing]`. Should we require the type parameter to be specified? Or at least emit a warning?

[2017-11-03 14:00] smarter commented on #3434
I don't think we should require the type parameter to be specified since in general we do want it to be inferrable, e.g.:
[code]
Though I guess we could refuse to infer `Nothing` for class type parameters by default and force the user to write it explicitly.

[2017-11-03 14:08] allanrenucci commented on #3434
Are there cases where inferred `Nothing` or `Any` are not code smell?

[2017-11-03 14:10] #3415 closed

[2017-11-03 14:20] karolchmist commented on #1589
I'll try Parsers.scala:2500

[2017-11-03 15:17] allanrenucci commented on #3067
Slightly minimised:
[code]
[code]

[2017-11-05 09:12] maseev commented on #1589
It looks like these ones:

- TypeAssigner.scala:374
- TypeAssigner.scala:376

are already implemented.

[2017-11-05 09:19] maseev commented on #1589
And these:

- Checking.scala:498
- Checking.scala:501

are related to Phantom types which are going to be removed, according to [this](https://github.com/lampepfl/dotty/pull/3399#issuecomment-340279020) message.
Should they also be removed from the list?

[2017-11-05 17:45] rsoeldner commented on #3408
Can someone help with the `tests/neg` cases. Starting with the this simple case (from [here](https://github.com/dwijnand/scala/blob/d55bad83108d030ef214d4a2477df66fffbbb8f5/test/files/neg/trailing-commas.scala#L10)):
[code]
and `> dotty-compiler/testOnly dotty.tools.dotc.CompilationTests`
I receive:
[code]

[2017-11-05 17:49] smarter commented on #3408
If it's normal to have two errors on this line, you can put the error  marker twice on the same line: `// error // error`.

[2017-11-05 18:51] rsoeldner commented on #3408
@smarter Thank you.

Currently i struggle with a few tests. Maybe the syntax/ gramma has changed and now the tests are ok ?

`pos` tests
[code]
 which fail with:
[code]

And one `neg` test that doesn't fail:
[code]

[2017-11-05 18:58] smarter commented on #3408
The only change in syntax compared to Scala 2 is that `@ _*` in pattern match has been replaced by `: _*`, the rest look like issues in your implementation. If you can't get all tests to pass you could still open a PR with the failing tests included and we may be able to help.

[2017-11-06 19:32] smarter commented on #3113
Added [Remove compiler dependency on @remote](https://github.com/scala/scala/pull/6164) to the list, this one should be easy to port.

[2017-11-08 12:30] maseev opened #3442 "Trait can redefine the final methods from a class AnyRef"
Doing this:

[code]

kills the REPL with this:

[code]

I guess the compiler should check this case somewhere [here](https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/typer/RefChecks.scala#L609), but apparently, it does not.

[2017-11-08 13:05] allanrenucci commented on #3442
https://github.com/scala/scala/commit/88ed7637af4cfb40d68af58a385977c2a1703ece should be ported to our fork of scala at https://github.com/lampepfl/scala/tree/dotty-library

[2017-11-08 13:06] smarter commented on #3442
Nice catch! :)

That shouldn't matter for this particular issue since we run dotty with the scala-library from 2.12.

[2017-11-08 13:16] OlivierBlanvillain opened #3443 "Incorrect MatchCaseUnreachable warning on Coproduct"
Here is an example where Dotty incorrectly reports an unreachable case in pattern marching:

[code]

[2017-11-08 15:19] #3442 closed

[2017-11-09 07:48] thebignet commented on #1589
Working on RefChecks.scala:609

[2017-11-09 08:00] felixmulder commented on #1589
Thanks for helping out with updating the missing messages. I updated the list according to your reports @maseev 👍

[2017-11-09 09:28] odersky opened #3448 "Refine type inference rules for IFTs"
The following does not work currently:

    class A
    type IF[T] = implicit A => T
    val x: IF[Int] = 1
    val xs: List[IF[Int]] = List(x)

We get a "no implicit found for A" on the last occurrence of `x`. The reason is that at the point `x` is typed the expected type is still a type variable with an IFT as upper bound in the constraint. These are not recognized as IFTs, and consequently `x`

[2017-11-09 10:21] odersky commented on #3448
This problem was discovered while playing with IFts with Adam Warski at Devoxx.

[2017-11-09 11:04] Duhemm opened #3450 "Too many open files when running `dotty.tools.dotc.IdempotencyTest.idempotency`."
On my machine, running the test `dotty.tools.dotc.IdempotencyTests.idempotency`, because there are too many files open.

[code]

First bad commit: 92a25cbb389f03e677d11cc94c106e9ecd6a6c56
ref #3395

<details>
  <summary>Partial stack trace</summary>

[code]

(And many more)

</details>

[2017-11-09 15:39] OlivierBlanvillain opened #3452 "IndexOutOfBoundsException in implicit search"
[code]

[2017-11-09 16:38] smarter commented on #3452
Trying to minimize this I hit an other exception which should be easier to understand:
[code]
[code]
<details>
<summary>Stack trace</summary>
<pre>
        at scala.Predef$.assert(Predef.scala:219)
        at dotty.tools.dotc.core.Types$TypeVar.instantiateWith(Types.scala:3336)
        at dotty.tools.dotc.core.Types$TypeVar.instantiate(Types.scala:3352)
        at dotty.tools.dotc.typer.Inferencin

[2017-11-10 08:43] AleksanderBG opened #3455 "Patmat exhaustivity checks sometimes don't consider path-dependant children"
The following code compiles without any warnings:

[code]

Note that `Axis#test` is inexhaustive. The underlying problem is that when children of `Format` are to be located, symbols for `AxisCompanion.Format.Decimal` and `.Integer` are obtained and are subsequently ousted in `refine`, as they are not subtypes of `Axis.Format`. The paths of `.Decimal` and `.Format` should be adapted to the path of

[2017-11-10 08:50] liufengyun commented on #3455
@AleksanderBG Thanks for reporting, it has to do with _prefix inference_ in _child instantiation_. I'll have a look.

[2017-11-10 10:59] allanrenucci commented on #3450
@AleksanderBG you've encountered something similar. What OS are you running?

[2017-11-11 08:58] AleksanderBG commented on #3450
@allanrenucci - macOS. In my case, the error appeared after running the entire test suite multiple times in quick succession, so that may have been the cause.

[2017-11-11 09:27] nicolasstucki commented on #3450
I have encountered the same issue on Mac OS :(

[2017-11-11 11:03] #3443 closed

[2017-11-11 11:09] #3332 closed

[2017-11-11 15:31] odersky commented on #3450
Same for me on MacOS. I can't even run a single `test` anymore. It runs out of files in compile/pos. Could it be that some file handles are not closed anymore?

[2017-11-11 15:47] odersky commented on #3339
@retronym's comments in #3392 makes a strong case that we should disallow this instead of silently making classes public.

[2017-11-11 16:28] nicolasstucki commented on #3450
By bisecting again I found 7ff1cb6fbc6261a364481be597b20a17423f4d72 to be the first bad commit.

[2017-11-11 22:51] smarter opened #3459 "The type of an anonymous class is pretty-printed as "Object{...}" regardless of what it extends"
The result is confusing error messages:
[code]

Compare with scalac:
[code]

[2017-11-12 00:01] smarter opened #3460 "Syntax error when putting `def` in enum object after simple `case`"
This doesn't compile:
[code]
[code]
This can be worked around by writing `case Dewey;` or `case Dewey extends Ducks`.

[2017-11-12 02:06] edmundnoble commented on #3434
Inferred `Nothing` is fine for implicits, in a lot of cases it's necessary (for example, see https://github.com/milessabin/shapeless/blob/wip/smc/core/src/main/scala/shapeless/smc.scala#L305) but I don't think it makes sense for `extends` to even have type inference here.

[2017-11-12 13:28] #3450 closed

[2017-11-12 13:45] nicolasstucki opened #3462 "Typing error while compiling value classes from TASTY"
When compiling from tasty (tests in `tests/posFromTasty/`)
[code]
When recompiling the code loaded from tasty there is a type mismatch in

[code]

The issue is that `x$0.a.type` as no type.

[2017-11-13 12:26] maseev commented on #1589
I'll take this one - `Checking.scala:551`

[2017-11-13 17:26] szeiger opened #3467 "Kind error in simple inheritance"
We're running into an error compiling collection-strawman on Dotty 0.4.0-RC1. Here's the branch with the reproduction: https://github.com/scala/collection-strawman/compare/wip/dotty-kind-error

Steps to reproduce:

[code]

The error message does not give any position. It is caused by refining the type of `ArrayOps.withFilter`:

[code]

Without the type annotation here (or by explicitly annotating

[2017-11-13 17:32] allanrenucci opened #3468 "Overriding final members with abstract ones"
Consider the following code snippet
[code]
With scalac:
[code]
With Dotty:
[code]

[2017-11-13 17:36] allanrenucci commented on #3468
As a side note Dotty and scalac behave the same for `abstract class`:
[code]
[code]
So Dotty's behavior is consistent between `trait` and `abstract class` and maybe less puzzling

[2017-11-13 17:44] allanrenucci commented on #3468
Another interesting case is when the method is `final`. It is still possible to override it with an abstract method:
[code]
It is however not possible to use this pattern to override final method defined in `AnyRef` due to scala/bug/issues/4431.

[2017-11-13 17:45] allanrenucci commented on #3468
Should we simplify this and make it less puzzling in Dotty?

[2017-11-14 08:01] AleksanderBG opened #3469 "Unnecessary exhaustivity warning when combining refinement types w/ params"
The following code:

[code]

causes the following warning:
[code]

@liufengyun - this happens because the refinement type forces usage of `typeParamMap` in `instantiate`. This in turn initializes the param in the pattern space to `Any`, so instead of `CaseClass[A]` we get `CaseClass[Any]`. This was found when rebasing #3454 - one test had to be ignored. I should also mention that with the POC type

[2017-11-14 08:33] liufengyun commented on #3469
Thanks a lot for reporting @AleksanderBG . This problem doesn't  appear in 9166db3 -- I need to send a PR recently.

As you observed in #3454, child instantiation is very tricky, with refinement types, it gets even trickier. AFAIK, child instantiation is the first place where we use inference infrastructure to infer `prefix` and `refinement`, it's largely unexplored land.

Note child instantiation

[2017-11-14 08:55] maseev commented on #1589
I think I'll take this one - `Namer.scala:880` as well

[2017-11-14 09:54] nerush opened #3470 "Compiler crashes with NPE during type instantiation of a variable"
Instead of reporting compilation error only, compiler crashes with NPE for the following source:

[code]

Actual error:
[code]

Compiler crashes in `Types` class because `instantiateWith` method of `TypeVar` class does not take into account that `owningState` field may be null when permanent instance type of the variable is instantiated.

I have this bug already fixed in the branch with additional

[2017-11-14 10:54] maseev opened #3471 ""Sealed object" crashed the compiler"
I guess there's no such thing as a "sealed object" but writing this into the REPL:

[code]

kills the REPL with this:

[code]

[2017-11-14 11:03] allanrenucci commented on #3339
@odersky If I understand correctly, this will break a lot of code. The following pattern will not compile anymore
[code]
The boundary for `HashMapCollision1` is `package collection` same as if it was defined in `package collection` and will not be accessible from `package immutable`.

[2017-11-14 11:10] allanrenucci commented on #3471
This is not specific to the REPL

[2017-11-14 11:26] allanrenucci commented on #3470
There is only one place where `owningState` is set to null `Types:3311`:
[code]
The comment says that `owningState` should no longer be used at this point. So I am not sure that guarding against `null` value is the right fix.

Feel free to open a PR, if you think you have a proper fix.

[2017-11-14 12:26] odersky commented on #3339
I also fear it will break a lot of code. @retronym do you think we can pull it off regardless?

Note that -language:Scala2 is too weak here. If we compile a private class with the new scheme, we cannot access it anymore from nested packages even if -language:Scala2 is enabled.

[2017-11-14 13:03] maseev commented on #1589
Working on `Namer.scala:872`

[2017-11-14 16:19] megri opened #3474 "Compiler fails to find method for overloaded method with implicit function type"
See reproduction and code example at https://scastie.scala-lang.org/r7AOOOyBQN6B0Jq8K5XvUg

The specific error message reads

[code]

[2017-11-14 17:33] smarter opened #3476 "Generic signature of lambda missing method parameters"
I haven't managed to minimize it, but if you compile [scalacheck](http://github.com/dotty-staging/scalacheck) with `sbt jvm/compile` and then do `javap -p -v jvm/target/scala-0.5/classes/org/scalacheck/ArbitraryArities.class` there's something fishy:
[code]
The generic signature is missing the method parameters that can be seen in the descriptor. I noticed this because it crashes the [cfr decompil

[2017-11-14 17:33] smarter commented on #3476
This bug is not detected by `-Xverify-signature`.

[2017-11-14 18:03] Duhemm commented on #3476
Thanks for the report @smarter, I'm on it. In the meantime and in case that's blocking you, you can use `-Yno-generic-signatures` to disable generic signatures altogether.

[2017-11-14 18:17] megri commented on #3474
Here's the full code example for posterity

[code]

[2017-11-14 20:09] AleksanderBG commented on #3469
For clarity's sake: refinement types are not needed to trigger this behaviour. Here's a minimized test from #3454 which doesn't use refinement types, but triggers similar warning (missing pattern for `NCons`):

[code]

Perhaps I should clarify what I meant when I said that #3454 w/ typechecker integration handles this correctly. In the PoC, all spaces maintain their own `Context`. This allows leav

[2017-11-14 20:58] liufengyun commented on #3469
Thanks for the detailed reply @AleksanderBG , I think we need to resort to some semantic reasoning  here.

Unconstrained type parameters have nothing to do with GADT, it can happen in normal types, e.g.:

[code]

In child instantiation, if `T` is unconstrained, it means any types are possible, thus a wildcard with appropriate bounds is the best instantiation. The patterns need to handle all possib

[2017-11-15 03:53] retronym commented on #3339
It would certainly be a big change.

The example above would be best solved by:

[code]

In which the JPMS module declaration for scala-library did not export `collection.internal` outside of the module. Eventually, we'd drop support for Java 8 to assume that the module restrictions are actually enforced.

Alternatively, we could add a different syntax for Java-style package-protected classes. Cou

[2017-11-15 12:27] nicolasstucki opened #3477 "`dist/bin/dotr` can't run with a custom `-classpath`"
[code]

The last line will default to the repl instead running the application.

Note that `dist-bootstrapped/target/pack/bin/dotr` is generated from `dist/bin/dotr` when packing.

[2017-11-15 13:33] AleksanderBG commented on #3469
Ah, I think I was misunderstanding wildcard semantics! After some experimentation, it appears that for instance `Dog[_]` is precisely what I would denote as `Dog[K] forSome K`. I understand now why using wildcards is correct here.

However, I'm not sure if I properly explained how or why I want to use TVars: once a TVar was used in a space's type anywhere, its constraints kept in that space's `Con

[2017-11-15 14:56] nicolasstucki opened #3478 "Optimise away local lazy vals that are not used"
Compiling the following code with `-optimise`

[code]

currently produces
[code]

The optimizer should be able to eliminate the declaration of `foo$lzy1`. Hopefully before the creation of `foo$lzyINIT1$1` and `foo$1`.

[2017-11-15 15:41] allanrenucci commented on #3474
Minimised:
[code]
[code]

[2017-11-15 15:44] allanrenucci commented on #3474
This works, the right overloaded alternative is found:
[code]

[2017-11-15 16:05] AleksanderBG opened #3479 "dotc -Ytest-pickler fails on cyclic reference in valid Scala 2.12 code"
`dotc -Ytest-pickler` fails on the following code:

[code]

<details>
  <summary>Compiler output</summary>
  <p>

[code]
  </p>
</summary>

[2017-11-15 16:06] smarter commented on #3478
Is this really useful? Just have a warning "Unused val foo" and the user can remove the code himself :).

[2017-11-15 16:40] smarter opened #3480 "Dotty sometimes generates method names with spaces in them for partial functions"
[code]
[code]
@odersky Do you understand what's going on here?

[2017-11-15 17:40] #3396 closed

[2017-11-15 17:52] odersky commented on #3480
The "local " prefix comes from a "local dummy" which is the owner of the template body of class `Test`. It seems this one needs to be skipped when we form a fully qualified name but is not.

[2017-11-15 18:01] odersky commented on #3474
I now get something else:

    -- Error: i3474.scala:47:16 ----------------------------------------------------
    47 |      add("foo")
       |                ^
       |no implicit argument of type Minimized.Context was found for parameter context of method
    add in object Minimized

I think this is unavoidable: we need to typecheck the arguments without an expected type to select the right ov

[2017-11-15 18:02] #3474 closed

[2017-11-16 06:56] rsoeldner commented on #3477
I changed the `dist/bin/dotr` to
[code]

But If i run your example I receive:
[code]

`CLASS_PATH` contains : `:/home/rsoeldner/work/dotty/dist-bootstrapped/target/pack/lib/dotty-library_0.5-0.5.0-bin-SNAPSHOT.jar:/home/rsoeldner/work/dotty/dist-bootstrapped/target/pack/lib/scala-library-2.12.4.jar` is this correct / what did i miss ?

[2017-11-16 08:53] odersky commented on #3430
Fixed by #3421

[2017-11-16 08:53] #3430 closed

[2017-11-16 09:36] nicolasstucki commented on #3477
That implies the JVM did not have the `scala-library` on the path.

If you change it to `eval exec "\"$JAVACMD\"" "$DEBUG" "-classpath \"$CLASS_PATH\"" $@` you will see that you are going to execute
[code]
where the second classpath overrides the value of the first one. Effectively running with only `-classpath out`.

We need to merge both classpaths into one and only emit that one. Executing some

[2017-11-16 09:57] nicolasstucki commented on #3478
It might become unused after some other optimization. This lazy val could also have been generated by the compiler in a phase that is not able to do escape analysis.

[2017-11-16 14:56] allanrenucci opened #3488 "Compiler fails to inline"
The following code snippet does not compile with Dotty:
[code]
[code]
It compiles without the `inline` keyword.

[2017-11-16 15:32] nicolasstucki opened #3490 "Missing position while compiling case classes from tasty"
When compiling from tasty (tests in `tests/posFromTasty/`)
[code]
When recompiling the code loaded from tasty there is position missing on the desugared `apply` method

[code]

[2017-11-16 15:37] nicolasstucki commented on #3490
This can be reproduced with
[code]

[2017-11-16 15:38] nicolasstucki commented on #3462
This can be reproduced with
[code]

[2017-11-16 16:29] odersky commented on #3479
I could not reproduce it. It seems to work fine for me.

[2017-11-16 17:02] AleksanderBG commented on #3479
Confirmed - it works for me on master as well. Closest commit I've tested where it still breaks is 253f5059b22d090e883d2fd4d86b7c1ddaaf2fe5.

[2017-11-16 17:37] AleksanderBG commented on #3479
@odersky @smarter reopen? The exception still happens if a package is added:

[code]

<details><summary>Exception</summary>
  <p>

[code]
</p>
</details>

The file on which this occurs is [this](https://github.com/AleksanderBG/dotty/blob/4f6adb1d322cd39157a31af099bf1d08b6e7e79f/compiler/src/dotty/tools/dotc/transform/patmat/Spaces.scala). I'll try to rewrite the code to not trigger this and see if

[2017-11-16 17:51] #3471 closed

[2017-11-16 18:09] AleksanderBG commented on #3479
After testing, it appears that `neg` method is actually irrelevant. The smallest file with which I've triggered the exception is:

[code]

Removing anything will stop triggering the problem, including removing either package name.

[2017-11-16 19:50] allanrenucci commented on #3479
Inverting the last two definitions also solves the issue.

[2017-11-17 09:02] #3448 closed

[2017-11-17 11:38] markarasev commented on #1589
Hello, I'm taking `Applications.scala:95`

[2017-11-17 13:08] #3408 closed

[2017-11-17 13:44] smarter opened #3495 "getClass returns less precise type in Dotty than in Scala 2"
Scala 2:
[code]

Dotty:
[code]

[2017-11-17 13:54] smarter opened #3496 ""sbt dotr" does not automatically put scala-library on the classpath anymore"
This was recently broken (I guess by https://github.com/lampepfl/dotty/pull/3436):
[code]

Workaround: doing `dotr -classpath /path/to/scala-library-2.12.4.jar` or using the `./bin/dotr` script.

[2017-11-17 15:26] gosubpl commented on #1589
I'd like to take `Applications.scala:972`.

[2017-11-17 15:45] allanrenucci commented on #3467
I was able to reproduce:

In `collection.scala`:
[code]

In `Test.scala`:
[code]
[code]

[2017-11-17 16:47] nicolasstucki opened #3500 "Type binding cannot be read from TASTY"
When compiling from tasty (tests in tests/posFromTasty/)
[code]

When recompiling the code loaded from tasty, the references of `b` become redefinitions of `b`. There are also positions missing from.

[2017-11-17 16:50] smarter commented on #3500
This was previously discussed but not fully resolved in https://github.com/lampepfl/dotty/pull/2958

[2017-11-17 16:54] nicolasstucki commented on #3500
https://github.com/dotty-staging/dotty/tree/fix-bind-ambiguity has a first step that @DarkDimius implemented back then and some work I made on top to finish it. Unfortunately I currently a bit blocked on this one.

@DarkDimius do you still remember this issue and do you have some useful pointers?

[2017-11-17 16:55] nicolasstucki commented on #3500
After that file is compiled, we can reproduce the issue with `dotc -tasty -classpath . Map2 -Ycheck:all`

[2017-11-17 19:53] #3496 closed

[2017-11-19 09:28] joost-de-vries commented on #1495
[This comment](https://contributors.scala-lang.org/t/union-type-widening/1069/3) by Felix Smarter describes the performance concerns in more detail.

[2017-11-19 10:08] gosubpl commented on #3496
Works now like a charm. Thanks @nicolasstucki !

[2017-11-20 11:47] #3480 closed

[2017-11-20 11:51] #3333 closed

[2017-11-20 11:54] helloqirun opened #3506 "crash on compilable code: Exception in thread "main" java.util.NoSuchElementException"
scalac can compile but dotc crashes.

Perhaps it's related to #1846. But I cannot reproduce that bug any more.

$ dotc -version
[code]

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2017-11-20 12:17] OlivierBlanvillain commented on #3452
This is not fixed, but cannot be reproduced on master. To reproduce, checkout before the merge of #3421.

[2017-11-20 13:55] gosubpl commented on #1589
What about `Applications.scala:951-953`:
[code]

Is that also something that can be fixed in this ticket?

[2017-11-20 14:17] liufengyun commented on #3455
Fixed in https://github.com/lampepfl/dotty/pull/3475

[2017-11-20 14:17] #3455 closed

[2017-11-20 14:18] liufengyun commented on #3469
Fixed in https://github.com/lampepfl/dotty/pull/3475.

[2017-11-20 14:18] #3469 closed

[2017-11-20 14:18] nicolasstucki opened #3509 "Cannot pass jvm parameters to dotr"
When calling `dotr` (without launching the repl) we cannot pass JVM arguments such as `-Xmx512`. We should probably support the `-JXmx512` notation the `dotc` supports. All flags starting with `-J` should be passed to the JVM without the `J`.

[2017-11-20 14:32] smarter commented on #1589
@gosubpl Yes!

[2017-11-20 15:44] gosubpl commented on #1589
Thanks for the update @smarter . Taking `Applications.scala:952`.

[2017-11-20 16:20] gosubpl commented on #3460
@smarter can I have a go at this one?

[2017-11-20 16:51] smarter commented on #3460
Sure!

[2017-11-20 18:23] smarter opened #3515 "Don't emit a TASTY section in classfiles when we're also emitting .tasty files"
`-YemitTasty` can be used to generate .tasty files, but when we do this we still store TASTY in classfiles, this is unnecessary duplication.

[2017-11-20 21:00] AleksanderBG commented on #3479
I've been to apply the above workaround to #3454 after rebasing it, without any success. While inverting the definitions works for the minimal example, it doesn't work for the original file. For instance, on current master cc43c3444da86929eb45f02d82159d2d31eb1906, running `dotc -classpath interfaces/target/dotty-interfaces-0.5.0-bin-SNAPSHOT.jar   -Ytest-pickler sample/3a`, where `sample/3a` is:

[2017-11-20 21:13] allanrenucci commented on #3479
This issue seems to be a duplicate of #1932

[2017-11-20 23:37] liufengyun opened #3518 "`Unit.box(())` crashes backend"
`Unit.box(())` crashes backend:

[code]

[2017-11-21 07:27] AleksanderBG commented on #3479
@allanrenucci That's actually very helpful, thanks! I just quickly checked and removing `sealed` from `TermConstraint` works  on the rebased PR - I should've tried that from the beginning. If this issue is a duplicate, then I guess it can be closed now.

[2017-11-21 09:58] allanrenucci opened #3520 "Release Dotty 0.5.0-RC1"
- [x] Merge branch `0.4.x` into `master`
- [x] Create branch `0.5.x`
- [x] On `0.5.x`, set `baseVersion` to `0.5.0-RC1`
- [x] Tag `0.5.0-RC1`. This will publish artefacts to Sonatype and GitHub Release
- [x] Add release notes to the GitHub Release
- [x] On `master`, set `baseVersion` to `0.6.0`
- Update `scalaVersion` (and, if applicable, the sbt-dotty version) in the example projects
  - [x] http

[2017-11-21 10:16] nicolasstucki commented on #3515
We also need to be able to load tasty from `.tasty` files.

[2017-11-21 14:05] OlivierBlanvillain commented on #3520
We should really automate everything that doesn't involves writing text :smile:. If you want I can give it a shot

[2017-11-21 14:13] allanrenucci commented on #3520
Which of the steps above do you think would be worth automating?

[2017-11-21 14:20] OlivierBlanvillain commented on #3520
All of them except release notes, blog post, forum and twitter.

[2017-11-21 14:53] #3477 closed

[2017-11-22 16:43] maseev commented on #1589
There are a bunch of error messages that have been implemented lately:

[Checking.scala:551](https://github.com/lampepfl/dotty/pull/3465)
[Namer.scala:880](https://github.com/lampepfl/dotty/pull/3473)
[Namer.scala:872](https://github.com/lampepfl/dotty/pull/3483)
[Applications.scala:972](https://github.com/lampepfl/dotty/pull/3508)
[RefChecks.scala:609](https://github.com/lampepfl/dotty/pull/3447)

[2017-11-22 22:48] rcano opened #3532 "-Yinfer-argument-types is not rejected as bad option but code using it causes the typechecker to crash"
Trying to compile in dotty some code that compiles fine in scalac I found this issue. Dottyc does warn about other invalid settings but not this one, and code like

[code]

causes the typechecker to crash.

[2017-11-22 23:19] rcano opened #3533 "Interaction with Java's raw generic types is not possible"
See for instance Javafx's method https://docs.oracle.com/javase/8/javafx/api/javafx/scene/control/TreeTableView.html#setColumnResizePolicy-javafx.util.Callback- it takes a `Callback<TreeTableView.ResizeFeatures,Boolean>` but do notice that `ResizeFeatures` defines one generic parameter, the method defines a callback that takes it raw though. In scalac, you would pass a `javafx.util.Callback[javafx

[2017-11-23 01:10] smarter opened #3535 "Use of deprecated JavaConversions"
[code]
This is why we need to get to zero warnings and enable `-Xfatal-warnings`, no one notices when we add new warnings.

[2017-11-23 02:21] smarter opened #3536 "Using identifiers starting with "res" in the REPL can lead to issues"
For example:
[code]

Similar issues exist in the Scala 2.12.4 REPL and in Ammonite so there's probably no easy solution here :).

[2017-11-23 02:26] smarter opened #3537 "Compiler accepts code that shouldn't typecheck, dies in the backend"
I have no idea how this code manages to get past the frontend (this only happens in the REPL):
[code]

[2017-11-23 03:34] rcano opened #3538 "Typechecker inferencing orphan type T"
Code to reproduce it https://gist.github.com/rcano/14c1b3af9bec4b9dadbc7ba2fd097fd3
(Note, requires javafx which comes bundled with Oracle's JDK or you can install with to openjdk)

The error looks like this:

[code]

The orphan type T gets leaked even to the "presentation compiler" exposed through the language server.

[2017-11-23 03:50] helloqirun opened #3539 "crash on compilable code: cannot be cast to dotty.tools.dotc.core.Types$MethodType"
scalac can compile but dotc crashes.

$ dotc -version
[code]

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2017-11-23 07:06] #3515 closed

[2017-11-23 07:45] allanrenucci commented on #3532
Could you give an example file that makes the typechecker crash, I cannot reproduce your issue

[2017-11-23 08:02] allanrenucci commented on #3539
There are two issues here:

1. We cannot compile when scalac can:
[code]
[code]
Note that if `Nothing` is not inferred, it compiles: `asInstanceOf[Nothing].asInstanceOf[AnyRef => String]`

2. Which then causes a compiler crash:
[code]
[code]

[2017-11-23 09:11] nicolasstucki opened #3540 "Implicit class with two arguments does not fail compilation"
[code]
Fails in `scalac` with
[code]

But not on `dotc`. This error should probably be emitted when desugaring the `implicit class`.

[2017-11-23 09:26] MasseGuillaume commented on #3091
More progress here: https://github.com/lampepfl/dotty/pull/3441

[2017-11-23 13:19] nicolasstucki opened #3542 "Crash on implicit method with multiple argument lists"
[code]

[code]

[2017-11-23 13:55] rcano commented on #3532
@allanrenucci here you go

[code]

compile with `scalacOptions ++= Seq("-Yinfer-argument-types")`

[2017-11-23 14:09] rcano commented on #3532
Naturally, I reported it because unlike other scalac options which dottyc rejected, this was not (and also a crash looks is bad).
Support for this feature would be something I'd like (obviously) since it's so good for refactoring and staying DRY.

[2017-11-23 15:02] nicolasstucki commented on #2936
Not needed anymore

[2017-11-23 15:02] #2936 closed

[2017-11-23 15:17] nicolasstucki opened #3543 "Unreachable code warning for reachable match case"
[code]
Emits the folowing warining but should not.

[code]

The code is correctly compiled and executed.

[2017-11-23 15:18] nicolasstucki commented on #3543
@liufengyun any additional useful info

[2017-11-23 15:34] OlivierBlanvillain opened #3544 "NPE during type inference with HKT + type function"
[code]

[2017-11-23 15:36] allanrenucci commented on #3543
Here are two more examples that should not emit warnings:
[code]
[code]

[2017-11-23 15:40] allanrenucci commented on #3544
I think it is a duplicate of #3470

[2017-11-23 21:51] smarter commented on #3538
Thanks for the report! I managed to reduce the testcase further:
[code]

[2017-11-23 22:39] smarter commented on #3538
`this.right(inv(1))` is typechecked inside a `FunProto#typedArgs`, this is very reminiscent of https://github.com/lampepfl/dotty/pull/1460. In general the way FunProto deals with caches and contexts is very dubious, I tried to fix it in https://github.com/lampepfl/dotty/pull/2922 but that's not enough.

[2017-11-24 08:44] nerush commented on #3544
PR [3472](https://github.com/lampepfl/dotty/pull/3472) fixes this problem, but I am not sure whether that fix is the most appropriate one.

[2017-11-24 08:50] nerush commented on #3544
@olafurpg Do not you mind if I add your example to positive tests ?

[2017-11-24 10:06] grindvoll opened #3548 "ClassCastException during pattern match on inner classes defined in base traits"
The following code crashes with a ClassCastException:

[code]

(Observed on 0.4.0-RC1)

[2017-11-24 10:33] nicolasstucki opened #3549 "Cannot load .tasty files from jar"
When trying to load a `.tasty` file fro a jar produced with `-YemitTasty`,  the `FileZipArchive#LeakyEntry` for the `.class` returns a `null` java path (`AbstractFile.jpath`) which ends with a NPE.

[code]
Putting an `assert(classfile.jpath ne null, classfile)` just before
https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/core/classfile/ClassfileParser.scala#L786 makes it

[2017-11-24 10:57] allanrenucci commented on #3548
### After pattern matcher
Dotty:
[code]
Scalac:
[code]
### Bytecode
Here Dotty emits an invalid cast that throws at runtime:
[code]
Scalac:
[code]

[2017-11-24 13:23] #3543 closed

[2017-11-24 16:31] allanrenucci opened #3552 "Merge ZipArchive and JarArchive"
We have two implementations that abstract over archives (e.g. jar, zip). `ZipArchive` is a legacy from scalac. `JarArchive` is a new implementation based on `java.nio`.

We should replace the current `ZipArchive` by a new implementation based on `java.nio`. `JarArchive` is a good starting point.

[2017-11-24 16:53] smarter opened #3553 "Invalid generic signature when using singleton types"
[code]
When compiling with `-Xverify-signatures`:
[code]

`List<I>` is incorrect since Java generics can only range over reference types, it should be `List<Object>`, just like if the signature of `foo` was `List[Int]`.

[2017-11-26 10:47] helloqirun opened #3557 "Assertion error when compiling invalid @annotation"
scalac can compile but dotc crashes.

$ dotc -version
[code]

$ dotc abc.scala
[code]

$ cat abc.scala
[code]

[2017-11-26 13:00] allanrenucci commented on #3557
Not sure why it compiles with scalac. `@f.varargs` doesn't make much sense.
[code]

[2017-11-26 13:06] allanrenucci commented on #3557
Here is a minimised test case:
[code]
<details>
  <summary>Stacktrace</summary>
  <pre>

[warn] Multiple main classes detected.  Run 'show discoveredMainClasses' to see the list
[warn] Multiple main classes detected.  Run 'show discoveredMainClasses' to see the list
[info] Running dotty.tools.dotc.Main -classpath /Users/renucci/projects/dotty/library/target/scala-2.12/dotty-library_2.12-0.5.0-bin-

[2017-11-26 19:06] vitorsvieira opened #3559 "Dead code in RefCheck for "forward reference in constructor error""
Scalac issues "forward reference not allowed from self constructor invocation" while dotc issues a different message. (RefCheck:874).

With scalac:
[code]

With dotty:
[code]

Ev: https://scastie.scala-lang.org/lnrxIGq3SUCpoCXpUw3yGA

[2017-11-26 21:38] allanrenucci opened #3561 "Compiler crashes when trying to emit invalid @switch"
[code]
<details>
  <summary>Stacktrace</summary>
  <pre>
[info] Running dotty.tools.dotc.Main -classpath /Users/renucci/projects/dotty/library/target/scala-2.12/dotty-library_2.12-0.5.0-bin-SNAPSHOT-nonbootstrapped.jar -d out tests/allan/Test.scala
exception occurred while compiling tests/allan/Test.scala
Exception in thread "main" scala.MatchError: List() (of class scala.collection.immutable.Nil$

[2017-11-26 23:03] allanrenucci commented on #3559
Not really an issue since we do emit an error. Not the same error as scalac.

This seems to be dead code:
https://github.com/lampepfl/dotty/blob/7fa8a93694839b58b783128c2d8ae6098893a42f/compiler/src/dotty/tools/dotc/typer/RefChecks.scala#L874

[2017-11-27 09:55] smarter commented on #1535
This example now compiles in 3 seconds for me, and the compilation time does not seem to significantly increase when adding more nesting. Closing.

[2017-11-27 09:55] #1535 closed

[2017-11-27 12:04] #3553 closed

[2017-11-27 13:49] OlivierBlanvillain opened #3564 "Annotations shadow singleton types"
There is a weird interaction between annotations and singleton types. In the following, the singleton type is lost when it shouldn't:

[code]
If `"abc"` is put in a type alias it's survives:

[code]

This problems manifests itself when trying to create a case class with a singleton typed field, the copy method doesn't typecheck because of the above:

[code]

[2017-11-27 17:47] #3535 closed

[2017-11-27 18:14] #3467 closed

[2017-11-27 18:19] allanrenucci commented on #3467
@szeiger I tested the fix on `wip/dotty-kind-error` and confirms that the tests now compile. The fix will be in Dotty 0.5.0-RC1 which will be released on Wednesday

[2017-11-27 18:40] #3549 closed

[2017-11-28 06:24] jiminhsieh commented on #3509
I can give it a shot. :)
If I understand correctly, it would be like how `dotc` handle `-JXmx512`. Thanks!

[2017-11-28 06:35] nicolasstucki commented on #3509
Similarly. When we run `dotr -JXmx512 Foo` we should end up executing `java -Xms512 -classpath <dotty runtime ...> Foo` .

Or maybe it is enough to run  `dotr -Xmx512 Foo`? That might be the case.

[2017-11-28 06:48] nicolasstucki commented on #3509
Maybe wait a day before starting, I will write down the exact way to handle arguments in dotr.

[2017-11-28 09:19] allanrenucci commented on #3537
This is not an issue with the REPL:
[code]
<details>
  <summary>Stacktrace</summary>
  <pre>

[warn] Multiple main classes detected.  Run 'show discoveredMainClasses' to see the list
[warn] Multiple main classes detected.  Run 'show discoveredMainClasses' to see the list
[info] Running dotty.tools.dotc.Main -classpath /Users/renucci/projects/dotty/library/target/scala-2.12/dotty-library_2.12-0.5.0

[2017-11-28 09:31] allanrenucci commented on #3537
The compiler shouldn't try this hard to make it compile:
[code]

[2017-11-28 10:01] helloqirun opened #3572 "scalac compiles but dotc rejects"
I am not sure whether it is indeed an issue here.

scalac 2.12 and the latest scalac can compile it.

$ dotc -version
[code]
$ cat abc.scala
[code]
$ scalac abc.scala
$ dotc abc.scala
[code]

[2017-11-28 10:06] liufengyun commented on #3572
Thanks for reporting @helloqirun . This is an intentional syntax change introduced in Dotty.

[2017-11-28 10:06] #3572 closed

[2017-11-28 10:17] nicolasstucki commented on #3509
[code]

Run the REPL if `-repl` is set or if `-run` is not set and `[<Main> <main-args>*]` not is present.
Run the app if `-run` is set or `[<Main> <main-args>*]` is present.

[2017-11-28 10:28] olafurpg commented on #3572
To add to this, `dotc -language:Scala2 -rewrite` will automatically migrate the syntax for you @helloqirun

[2017-11-28 10:35] nicolasstucki commented on #3509
@jiminhsieh if you are still interested, now you can have a stab at it.

[2017-11-28 20:09] smarter opened #3581 "Subdirectories in neg tests are not actually tested"
[code]

This happens because `compileShallowFilesInDir` is used in `compileNeg`. I have no idea why this is setup that way.

[2017-11-28 22:10] vitorsvieira commented on #1589
Hi,

Following messages were implemented:

- PatternMatcher.scala:911
- RefChecks.scala:694
- RefChecks.scala:698

Implemented but discarded as the code block won't be continued in dotty:

- RefChecks.scala:874

[2017-11-29 10:24] OlivierBlanvillain opened #3585 "Byname implicits: could not find proxy for lazy var"
This is test case taken https://github.com/scala/scala/pull/6050:

[code]

[code]

[2017-11-29 12:10] nicolasstucki opened #3588 "Crash when trying to emit switch when matching on an Any"
[code]
 Crashes in the backend with

[code]

[2017-11-29 12:19] allanrenucci commented on #3588
There is this [function](https://github.com/lampepfl/dotty/blob/f1bb59042424059df07a151b7e473e382bf2fe40/compiler/src/dotty/tools/dotc/transform/PatternMatcher.scala#L794) that is never called. I think it was meant to reject this pattern.

[2017-11-29 12:20] nicolasstucki commented on #3588
The issue is in PatternMatcher when deciding to emit the switch.

[2017-11-29 13:00] OlivierBlanvillain opened #3590 "Different treatment of the Aux pattern between Dotty/scalac"
Here is a minimized example showing a small difference between Dotty and scalac handling of the "Aux pattern". The issue is that when asking for an `implicit Tagged.Aux[T, _]` instead of `Tagged[T]`, Dotty won't consider the companion object of `T` as part of the its implicit scopes.

[code]

[2017-11-29 13:40] LPTK opened #3591 "Inherited type symbol problem"
See [the scastie](https://scastie.scala-lang.org/yFo6yCv9TkiTmoCBhOuuLg).
The code is reproduced below:

[code]

Fails with:

[code]

It works in Scalac, and it works in Dotty if the definitions are moved to the object!

PS: note that it has nothing to do with object `Base` having the same name as class `Base`.

[2017-11-29 13:51] OlivierBlanvillain commented on #3585
Here is the code generated by typer:

[code]

Compiling with -Ycheck leads to a different error:

[code]

[2017-11-29 13:56] nicolasstucki opened #3594 "Compiling pos and run tests from TASTY"
These are the tests that still fail from tasty. Several of these tests fail due to same issues (will classify them later). This list was added as tests in #3593 which allows easy reproduction of the issues.

- [ ] tests/pos/Meter.scala
- [ ] tests/pos/NoCyclicReference.scala (issue #3816)
- [ ] tests/pos/depfuntype.scala
- [ ] tests/pos/hklub0.scala
- [ ] tests/pos/i0306.scala (issue #3500)
- [ ]

[2017-11-29 14:15] gosubpl commented on #1589
Also taking `Applications.scala:834` and `Applications.scala:942`

[2017-11-29 15:56] jiminhsieh commented on #3509
@nicolasstucki If I don't misunderstand, this ticket should change scripts of `dotr` or `dotc`. If I'm correct, I have some questions about scripts of `dotr` and `dotc`. Should I discuss in gitter or in this ticket? Thanks! :)

[2017-11-29 15:59] nicolasstucki opened #3595 "Tuples in pattern match not completely removed by -optimise"
[code]

compiled with `-optimise` produces the following code in the backend. Note the ` case val x1: Tuple2 = ...` that should not be there, while `val tup0 = new Tuple2(xs, xs)` was completely removed.
[code]

[2017-11-29 16:24] nicolasstucki opened #3596 "Owner mismatch in TASTY for anonymous functions"
Fail to compile
[code]

Can be reproduced with
[code]

[code]

[2017-11-29 16:33] nicolasstucki opened #3597 "Error while loading inline args from TASTY"
Fail to compile from TASTY
[code]

Can be reproduced with
[code]

[code]

[2017-11-29 16:46] sjrd commented on #3595
It's because of the `throw new MatchError(x1)` which escapes `x1` to the heap. The Scala.js optimizer has the same limitation.

[2017-11-29 16:47] nicolasstucki opened #3598 "Error with wildcard type from TASTY"
Fail to compile from TASTY
[code]

Can be reproduced with
[code]

[code]

[2017-11-29 17:03] nicolasstucki commented on #3595
But the tuple2 could be moved inside the match error.

[2017-11-29 17:22] sjrd commented on #3595
Yes, but it is not easy for an optimizer to prove that in the general case.

[2017-11-29 18:33] smarter commented on #3591
Hmm, I guess there's a missing substitution somewhere. Here's a minimization:
[code]

[2017-11-29 22:35] odersky opened #3603 "Strange type printed by REPL"
When running REPL test i2554, we fail in PR #3602 as follows:

    expected =========>
        scala> object foo { trait ShapeLevel; trait FlatShapeLevel extends ShapeLevel; trait
    ColumnsShapeLevel extends FlatShapeLevel; abstract class Shape[Level <: ShapeLevel, -Mixed,
    Unpacked, Packed]; object Shape extends TupleShapeImplicits { }; trait TupleShapeImplicits {
    implicit final def tupl

[2017-11-29 22:44] odersky opened #3604 "Bad interaction between -optimise and generic signature generation"
Assuming #3602, if I compile `tests/pos-no-optimise/escaping-refs.scala` with -optimise (and -uniqid for debugging), I get:

    java.lang.AssertionError: assertion failed: bad parameter reference Bar#6061.this.B11#3739 at erasure
    the parameter is type B11#3739 in class Bar#3738 but the prefix Bar#6061(Bar#6061.this)
    does not define any corresponding arguments.
            at scala.Predef$

[2017-11-29 23:24] smarter commented on #3603
This is fixed by https://github.com/lampepfl/dotty/pull/3566

[2017-11-30 09:29] nicolasstucki opened #3606 "Orphan param in HK type from TASTY"
Fail to compile from TASTY
[code]

Can be reproduced with
[code]

[code]

[2017-11-30 09:38] nicolasstucki opened #3607 "Renamed implicit fails from TASTY"
Fail to compile from TASTY
[code]

Can be reproduced with
[code]

[code]

[2017-11-30 09:40] nicolasstucki commented on #3607
Note that if we add the parameter explicitly `implicitly[Int](y)` the pickled version will contain `implicitly[Int](A.x)`. We probably want the same to happen for implicits.

[2017-11-30 09:45] vitorsvieira commented on #3540
I'd like to give it a try.

Would you recommend to work on the #2464 first?

-V

[2017-11-30 09:50] allanrenucci commented on #3540
I would start with this one. It might as well fix #2464

[2017-11-30 09:51] nicolasstucki opened #3608 "Error with type of <outer> when inlining from TASTY"
Fail to compile from TASTY
[code]

Can be reproduced with
[code]

[code]

[2017-11-30 09:52] vitorsvieira commented on #3540
OK. Thanks, Allan.

[2017-11-30 09:58] nicolasstucki commented on #3462
Now it can also be reproduced with
[code]

[2017-11-30 10:36] nicolasstucki commented on #3509
This should only change the `dotr` script. The reason for this special handling of is that when we run a dotty program we do not enter through one of our `Main`s which handle the args. We instead boot the JVM directly, hence we have to adapt the args that are passed to `java ...`. I belive it would be better to keep discussions on this issue in this GitHub issue to allow others to give their opini

[2017-11-30 11:00] nicolasstucki commented on #3540
Yes, you should start with this one.
#2464 has some additional complex interaction with phantom types. If you fix this one you will partially #2464, at least for 99.99 of the use cases. But do not close that one.

[2017-11-30 11:16] nicolasstucki commented on #3607
The explicit `y` has type `TermRef(TermRef(ThisType(TypeRef(NoPrefix,module class <empty>)),A),x)` while the implcit one has type `TermRef(TermRef(ThisType(TypeRef(NoPrefix,module class <empty>)),A),y)`.

[2017-11-30 15:18] #3591 closed

[2017-11-30 17:12] smarter opened #3613 "The tastyBootstrap test should clean its output directory before compiling anything"
`tastyBootstrap` tests separate compilation, but does not clean its output directory before doing so. This can lead to misleading results, and may also fail when the output directory contains outdated TASTY sections.

[2017-11-30 21:58] #3603 closed

[2017-12-01 03:17] jiminhsieh commented on #3509
Basically, we introduce a new command line option `-run` for `dotr`. It seems `-run` is used to execute the app, `Main` directly.

[code]
This means `dotr` has to pass JVM option/flag to
* `java...` which is used for `-run`
* `dotc` which is used for `-repl`.

However, I did try to pass JVM option/flag (`dotc -J-Xmx1024m`) to `dotc`, but it gave me `bad option '-J-Xmx1024m' was ignored`. This is b

[2017-12-01 10:51] OlivierBlanvillain opened #3614 "Color leaks in error messages"
[code]

[code]

[2017-12-01 12:58] #3581 closed

[2017-12-01 13:59] #3520 closed

[2017-12-01 15:10] jvican opened #3615 "Make it easier to create Dotty sbt projects and depend on 2.12 projects"
The `sbt-dotty` plugin does not allow you to create a new sbt subproject and depend on another subproject that uses Scala 2.12. This makes it difficult for people that want to quickly try out Dotty (like me) with the less changes to their projects as possible.

The reason why it doesn't work is because of the inner behaviour of `projectDependenciesTask`, which cross versions the project dependenci

[2017-12-01 15:51] rsoeldner commented on #3614
I can't reproduce this, for me, it looks normal.

[code]

Can this be related to your terminal / OS ?

[2017-12-01 15:53] allanrenucci commented on #3614
Reproduced on macOS

[2017-12-01 15:54] #3588 closed

[2017-12-01 16:32] allanrenucci opened #3617 "Warn on import hidden by definition"
Consider this example:
[code]
Dotty reports:
[code]
And scalac
[code]

I would say the error is legitimate, but we should probably emit a warning like scalac does.

[2017-12-01 16:33] jvican opened #3618 "Dotty emits procedure syntax warning when it lacks return type in method"
[code]

I get:
[code]

Scala2 mode is enabled.

[2017-12-01 17:36] odersky commented on #3618
I think the message is accurate. In Scala-2 `def foo(x: String)` is a shorthand for `def foo(x: String): Unit`, which is one aspect of procedure syntax.

[2017-12-01 17:36] #3618 closed

[2017-12-01 17:37] jvican opened #3619 "SAM type does not support type bounds"
With SAMs in 2.12 the following works, but it fails in Dotty. I think this is Dotty's fault, correct me if I'm wrong.

[code]

Error:
[code]

If you replace `path => computeBuild(path)` for the shorter `computeBuild` or even `computeBuild(_)` it also fails. I guess this is because Dotty does not have support for SAM types?

Scala 2 mode is enabled, didn't try without it.

[2017-12-01 17:38] jvican commented on #3619
I didn't explicitly say it, but the data structure backing up `cache` is a `ConcurrentHashMap`.

[2017-12-01 17:51] jvican commented on #3618
I thought procedure syntax was only considered when implementing the method, not defining it. Good to know this is procedure syntax too.

In any case, I think that the error message here is off (it points to `bar`, when it should point to `foo`). It would also help users that didn't know this was another case of procedure syntax (like me) to reword the error message in the following way: "Procedur

[2017-12-01 17:52] jvican commented on #3619
This is a normal workaround people can use:

[code]

[2017-12-01 18:19] allanrenucci commented on #3618
The error emitted without Scala2 mode is:
[code]
It should probably be a migration warning under Scala2. I agree the procedure syntax warning could be improved.

[2017-12-01 18:39] allanrenucci commented on #3619
We do support SAM types. This is a bug. Here is a minimised version
[code]
[code]

[2017-12-02 10:17] bs76 opened #3620 "Functions params syntax is confusing"
It's possible to pass a tuple as function param without enclosing the tuple in parenthesis. It is confusnig.
(val dottyVersion = "0.5.0-RC1")

Example:
[code]
Another example:

[code]

Confusing, as `Option.fold` has signature of `fold: (ifEmpty: => B)(f: String => B): B` but it lookes like I cram up more args .

Writing:
[code]
is totally confusing as I made a typo instead of
[code]