[2016-06-01 17:20] smarter opened #1294 "Implement -Yno-predef, -Yno-imports"
They exist but don't do anything currently, as a workaround you can do at the top of a file:
[code]
Explicitly importing something from Predef disable the automatic import of Predef, and importing a method as `_` means that it isn't accessible.

[2016-06-01 18:01] ctongfei commented on #1260
This `?` syntax also cannot express the following currently expressed by `implicit`:
` { implicit r => ... } `

[2016-06-01 20:34] liufengyun opened #1295 "Show per commit benchmarks & PR benchmarks"
Currently the benchmarks are nightly, which is difficult to spot which commit caused slow down or speed up.

We can build a completely new UI as follows for each graph -- which will be horizontal bar charts instead of line chart:

[code]

When hovering on each line, we'll be able to see the commit author, summary, message, time, and link back to github.

By default, we only show the latest 10 comm

[2016-06-01 20:39] sjrd commented on #1295
One of my students has been building such a UI this semester (and better, with commit graph). The only thing that would be needed is for the benchmarks to actually *run* the benchmarks on each commit. If the data are available on the server, the UI can already pick them up.

https://github.com/ThibaultUrien/SemesterProject

[2016-06-01 20:47] liufengyun commented on #1295
@sjrd that's a good news to know.

That's easy if we have the project-level tests and feature-level tests, we can always regenerate the data from history commits.

If there's any documentation or report, I'm very interested in how to use it. Thanks.

[2016-06-01 20:49] sjrd commented on #1295
Not yet, but it's coming. The deadline for the report is June 10-ish. There will be a presentation, together with the other semester projects, on June 21st.

[2016-06-01 20:54] liufengyun commented on #1295
Thanks, I'll definitely go to the presentation and learn more.

[2016-06-02 07:21] liufengyun commented on #1290
What about add `scala` as a submodule?

https://git-scm.com/book/en/v2/Git-Tools-Submodules

[2016-06-02 08:03] liufengyun commented on #1257
As @DarkDimius commented, `./bin/dotc -J-Xss5M tests/patmat/patmatexhaust-huge.scala` compiles without exception. Then I close this issue.

[2016-06-02 08:03] #1257 closed

[2016-06-02 13:35] #1292 closed

[2016-06-02 14:12] propensive commented on #1260
As an alternative, how about reusing the period (`.`) instead of `?`? There would be no risk of it meaning anything else.
[code]

Also, to which implicit block would context bounds be appended? Could we say, an entirely new block appended immediately after the type parameters, or would that be more confusing than a new block at the end?

Perhaps, given this new lightweight syntax, the type paramet

[2016-06-02 15:25] smarter opened #1300 "Stop relying on scala.tools.nsc.MainGenericRunner"
There are two places where we end up going through `MainGenericRunner`:
- `./bin/dotr` calls `scala` which will call the runner
- partest run tests are run by it: https://github.com/scala/scala-partest/blob/v1.0.11/src/main/scala/scala/tools/partest/nest/Runner.scala#L181

`MainGenericRunner` will make up its own classloader then call the main method of the object using this classloader, this make

[2016-06-02 15:38] #1195 closed

[2016-06-02 15:40] smarter opened #1301 "Have a consistent classpath order between partest joined compilation, partest separate compilation, partest run tests, dotc and dotr"
Currently, all of these things work differently, this bites us in https://github.com/lampepfl/dotty/pull/1289 because the same class `strawman.collection.CollectionStrawMan5` is defined in two files:
- src/strawman/collections/CollectionStrawMan5.scala
- tests/run/colltest5/CollectionStrawMan5_1.scala

Which one gets picked varies:
1. Under joined compilation of
   `tests/run/colltest5/CollectionS

[2016-06-02 15:43] sjrd commented on #1301
That is also on my roadmap about cleaning up the build.

[2016-06-02 17:06] smarter commented on #1301
Also the current source directory should not be part of the classpath when compiling and running tests, otherwise you might get test failures because of classpath pollution

[2016-06-02 19:18] felixmulder commented on #323
@smarter: is this still broken?

[code]

Works fine (even if it doesn't do anything with the java 7 choice).

[2016-06-02 19:20] felixmulder commented on #351
Since the README was updated with a list of features either implemented, being implemented or under consideration I'm closing this for now.

[2016-06-02 19:20] #351 closed

[2016-06-02 19:29] felixmulder commented on #604
This now succeeds with:

[code]

Close?

[2016-06-02 19:31] felixmulder commented on #613
@nicolasstucki - you reported success with this. How was it done?

[2016-06-02 19:42] felixmulder commented on #618
This no longer crashes `dotc` and gives a similar error message when compiling compared with `scalac`.

[2016-06-02 19:42] #618 closed

[2016-06-02 22:25] smarter opened #1303 "Emitted classfiles do not contain type parameter information used by javac"
[code]

Compiled with `scalac`:

[code]

Compiled with dotty:

[code]

The type parameters in the bytecode are used by `javac`, see `tests/pending/pos/java-interop/t1263` and `tests/pending/pos/java-interop/t1745` for examples (these tests are currently not run with javac even though they should, this is fixed by #1289 which moves them to pending until this is fixed).

[2016-06-02 22:46] smarter commented on #323
Fixed by https://github.com/lampepfl/dotty/pull/1180

[2016-06-02 22:46] #323 closed

[2016-06-03 07:24] nicolasstucki commented on #613
The issue seems to be a missing prefix. I'm using `> partest-only-no-bootstrap --show-diff --verbose tests/partest-generated/run/dynamicDynamicTests.scala` to execute only `dynamicDynamicTests`.

Therefore you should try `sbt "partest-only tests/partest-generated/run/t261.scala"`.

[2016-06-03 09:30] felixmulder commented on #613
Correct command is: `runPartestRunner --verbose tests/run/t261.scala`

[2016-06-03 12:39] smarter commented on #613
Do not use `runPartestRunner`, it will not update the tests that `partest` copies to `tests/partest-generated/`, so you won't be testing what you think you're testing, use `partest-only-no-bootstrap`

[2016-06-03 14:27] liufengyun opened #1305 "Auto tupling is not auto for CaseDef in pattern matching"
The code in `tests/pos/autoTuplingTest.scala`:

[code]

is transformed into the following in frontend:

[code]

Note that `Tuple2.apply` is add in the val def, but in patmat nothing changes. We expect something like follows:

[code]

instead of

[code]

It would be better for this rewrite to happen before pattern matching, otherwise, patmat has to complex handling and duplicate code.

[2016-06-03 15:18] odersky commented on #604
Yes, close.

[2016-06-03 15:18] #604 closed

[2016-06-03 15:21] mdedetrich commented on #1260
Like the proposal, I disagree with the `?` syntax though. `?` implies optional, or maybe unknown, it just seems kinda random in the context of implicits.

In fact, I don't really see the problem with having stuff like

[code]

and

[code]

p.s. I am kinda a fan of the implicit keyword because its easier to spot with your eye and its not confused with anything else. If we really want a symbol, than

[2016-06-04 16:20] sjrd commented on #1295
One thing that would really be needed is for the files containing the results of the benchmarks to identify things by their commit hash, rather than a date. A date is not enough to correctly identify a commit, especially in the presence of reordering rebases.

@liufengyun or @DarkDimius Could one of you adapt whatever is needed so that the commit hash information is stored in the benchmark result

[2016-06-04 16:33] liufengyun commented on #1295
@sjrd I've played with ScalaMeter for a while, I think it's really not a good idea to do regression benchmarks within ScalaMeter.

Rather, I think it's better to define a neutral regressional benchmark format with commit history in mind. This way, the web app is not tied to any specific test framework, and it's easy to adapt the result of any test framework to the standard format.

It would be eas

[2016-06-04 16:40] sjrd commented on #1295
Sure. Any kind of format that contains the relevant information would be fine. It doesn't need to be ScalaMeter-compatible.

[2016-06-04 16:42] sjrd commented on #1295
@ThibaultUrien What information do you need exactly?

[2016-06-05 01:21] japgolly commented on #1295
Is this something https://github.com/japgolly/scalajs-benchmark can help with? It doesn't have regression BMs but I'd like to add it.

[2016-06-05 12:12] japgolly commented on #1247
IMO there's still a big issue in this proposal that seems to have gone unnoticed, in that we're still relying on a dev's one-time, trusted declaration of equality. As we all know, over time and after refactorings, past declarations can easily become invalid. Consider:

[code]

All looks good in the above and then a year later there's a refactoring to `A` such that it becomes:
[code]
whilst, unbekn

[2016-06-05 22:43] odersky commented on #1247
In what sense is this no longer true? `B`'s can be compared as before.

[2016-06-05 23:47] smarter commented on #1260
Well, implicits are sort-of-optional arguments, the `?` is also used in Haskell for implicit parameters: https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#implicit-parameters

[2016-06-05 23:47] Blaisorblade commented on #1247
First, I generally agree with the concern that `Eq` instances can get out of sync with the `equals` implementation, more than `Eq` which at least must implement equality. But we know *that* is incompatible.

Second, going to @japgolly's comment, I guess his `UnivEq` does not do the same thing as this proposal.
In the example, the issue is that after the change `A` has default (reference) equality,

[2016-06-06 00:51] japgolly commented on #1247
@odersky

Say you start with this:
[code]

And then after a refactoring, `A` changes
[code]

Here you can can see here that `B` no longer has meaningful `==` because `A` now falls back to reference equality. (Although if that were desired, then one could leave the `@equalityClass` annotation in place after the refactoring.)

If I refactored a class and, for whatever reason, had to remove it's equa

[2016-06-06 02:02] smarter opened #1307 "Move instanceof checks in typer to allow typing more GADTs"
The fact that `IsInstanceOfEvaluator` is a separate phase is nice for modularity but unfortunately it means that even though this works:
[code]
this doesn't (example from [SLS 8.3](http://www.scala-lang.org/files/archive/spec/2.11/08-pattern-matching.html#type-parameter-inference-in-patterns)):
[code]
The first example typechecks because we explicitly check if the scrutinee is compatible with the

[2016-06-06 02:24] Blaisorblade commented on #1247
Now that we know better there are two different things in discussion, we can compare them — and I like @japgolly's idea. It also resembles the behavior of Haskell's `deriving Eq`: a type can be compared only if all members can be compared — where however "compared" excludes reference equality by default.

But I haven't worked out & checked all the details — I haven't even re-read the proposal in f

[2016-06-06 08:44] mdedetrich commented on #1260
Most other mainstream languages tend to use `?` to refer to an optional value, or as a safe way to deal with null. I can sought of see the connection in logic, however I would prefer to prefix the `?` infront of the type, rather than using it inplace of the keyword, i.e. `(? a: A, ? b: B)` instead of `?(a: A,b: B)`.

I guess my biggest grip is more how it visually/syntactically looks

[2016-06-06 09:35] mdedetrich commented on #1247
Well it should also be noted that Scala does have a concept of reference equality as well as structural equality, unlike Haskell which only really deals with structural equality.

[2016-06-06 12:44] odersky commented on #1247
This is in fact desired, and assumed. The proposal here and `UnivEq` are different in his key aspect. So the discussion does not make much sense in the context of this proposal.

[2016-06-06 13:54] DarkDimius commented on #1303
In order to fix this bug one needs to implement `getGenericSignature` and `getStaticForwarderGenericSignature` in `DottyBackendInterface`.

[2016-06-06 14:40] gsps opened #1308 "Else branches carry the If's rather than their own position"
Here's a test that can be dropped in TreeInfoTest.scala (for the lack of a more appropriate existing test suite) to demonstrate the faulty behavior. In particular, `ifTree.pos == elsep.pos` holds.

[code]

The problem originates from the [`typedIf(...)` in Typer](https://github.com/lampepfl/dotty/blob/04b0e85c70de36fd7b5a4b3ffd1b8add0963303d/src/dotty/tools/dotc/typer/Typer.scala#L565) overriding

[2016-06-06 19:50] odersky commented on #1308
Thanks for pointing this out! That's indeed the right fix. Would you like to do a PR with it?

[2016-06-07 10:03] DarkDimius opened #1310 "FunctionalInterfaces should also transform non-SAMs for concistency."
If we have a SAM that implements a `Function1[Int, Int]`, we currently rewrite it to have a specialized superclass(`JFunction1$mcII$sp` in particular).
This does not happen if the function is not a SAM.

From discussion with @VladimirNik.

[2016-06-07 11:29] DarkDimius commented on #1260
I like the proposal, but I'm not sure about the syntax, as `?` is also a potential shortcut for OR type with `null`.
I don't like the look of signature:
[code]

[2016-06-07 11:40] ThibaultUrien commented on #1295
@sjrd @liufengyun I think if each test could also contain a field with the hash of the tested commit it would be perfect. Currently, my project use the ScalaMeter sever to get data about dotty performance, but it can be changed whenever needed.

[2016-06-07 11:44] liufengyun commented on #1295
@japgolly the project looks interesting, it only works for scalajs, right? We'll probably stick with ScalaMeter, and integrate with a regression benchmark web app that has github in mind.

[2016-06-07 11:51] liufengyun commented on #1295
@ThibaultUrien can we just define a CSV format like follows?

[code]

For example:

[code]

Is it possible to get all other meta data about a commit through JSON request?

[2016-06-07 11:56] DarkDimius commented on #1295
@liufengyun, I'd also include confidence intervals in format to discover noisy tests.

[2016-06-07 11:59] liufengyun commented on #1295
@DarkDimius thanks for the reminder, I updated the proposal.

[2016-06-07 13:09] DarkDimius opened #1312 "Make Xprint not reprint the tree if it is unchanged."
It would be nice also to *color* the difference with tree emitted by previous phase.

[2016-06-07 15:57] DarkDimius opened #1313 "PatMat:(add support guards in switches) implement common subexpression elimination"
In Scalac pattern matcher is able to support guards inside switches by generating arbitrary GOTOs.

Unlike this, in Dotty I propose to implement more general optimization outside of pattern-matcher, that would also give us support for guards.

I propose to add a phase, that would follow the structure of matches, match common prefixes of pattern match, and restructure that pattern.

See following e

[2016-06-07 16:55] ThibaultUrien commented on #1295
This project could work with anything that have a regression test sever and a git repository. The format for the tests result are flexible: there is a .js file used for configuration, by changing one or two regexp inside this file this application could read different file format.

The current format for the test result is :
test-date	test-name average-time is-success confidence-interval-low	confi

[2016-06-07 18:23] ThibaultUrien commented on #1272
@DarkDimius I'm not sure if anything have changed since you made the fix, but the SSLHandshakeException have restarted to occur when attempting to connect to  http://d-d.me/tnc/dotty/ from java. And this, whicher I try with http://, https:// or nothing at the start.

[2016-06-07 18:46] DarkDimius commented on #1272
@ThibaultUrien that is very strange. If you connect to http version, SSL should not participate at all:
[code]

[2016-06-08 09:03] DarkDimius commented on #1300
I'd prefer not to invent our own `MainGenericRunner` for only sake of not using the one coming from Scalac.

This is __needed__ to run partest test corrently, as they should run in different classloaders.

If we can simplify it, we better also simplify it for upstream `scala/scala`.
But, given the fact that it's already 90 lines of simple code, I don't see any problem with it being too complex.

I

[2016-06-08 15:18] DarkDimius commented on #1043
Agreed to implement this under name of `scala.Synchronizable.`

The current proposal is:
 - every class\interface that comes from javac\scalac is assumed to inherit `Synchronizable`;
 - every type that comes from dotty and does not inherit scalac\javac compiled classes does _not_ have `synchronized\notify\...`, unless it extends `scala.Synhronizable`;
 - `scala.Synchronizable` is erased to `java.l

[2016-06-08 16:05] adriaanm commented on #1043
I like it! Does this show the path towards a hierarchy more amenable to value types when they land in the JVM (assuming you also factor out the functionality that assumes identity into a separate trait)? maybe it makes sense to provide some Any* variants that can be inherited with the different set of traits "premixed" :-) Maybe `Object` would then be `Any with Identity with Synchronizable`?

[2016-06-08 16:19] DarkDimius commented on #1043
I did propose a similar approach to reference  Identity.
We agreed that we start with Synchronizable fist as it is less likely to
introduce source incompatibilities.

On 8 June 2016 18:05:54 Adriaan Moors <notifications@github.com> wrote:

[2016-06-08 16:20] ThibaultUrien commented on #1272
My bad, I released that when failing to connect in https, instead of switching to http, my code was trying again with exactly the same url.
 So indeed you can reach http://d-d.me/tnc/dotty/report/ from java.

[2016-06-08 16:22] smarter commented on #1300
No, it's not needed, look at the code: https://github.com/scala/scala-partest/blob/v1.0.11/src/main/scala/scala/tools/partest/nest/Runner.scala#L181 we run `java -classpath ... scala.tools.nsc.MainGenericRunner` so we are already running the tests in a separate JVM with a separate classloader, but then we're using `MainGenericRunner` that will change our classloader and load our main class using r

[2016-06-09 00:05] retronym commented on #1043
[code]

[2016-06-09 00:39] retronym commented on #1043
An alternative approach might be to leave the hierarchy as is, but change the specification of `wait` at all to say they might throw if invoked on an instance of a class that has opted out of being a monitor. scala-native could provide a means to disable that on a per-class basis (annotation, marker interface like `NotSerializable`, or even an external config file of class names).

[2016-06-09 10:58] densh commented on #1043
@retronym Reverse marker trait won't work here as you want non-synchronizable behaviour by default. Moreover given the constraint of having to support both scalac and dotty front-ends, we'll have to do some kind of analysis on our side to figure which types are synchronized upon. Unfortunately we won't be able to just rely on `Synchronizable` trait given that there is no such thing in scalac land.

[2016-06-09 14:23] namin commented on #50
I just thought I'd mention this here. I tried running the unsound null example in earlier versions of Scala (<=2.9.3) but interestingly, it doesn't compile due to restrictions on dependent method types. Does that suggest a static null containment strategy only for arguments of dependent methods, or am I missing something?

When I try to convert to OO in order to avoid dependent methods, I get the

[2016-06-10 08:29] namin commented on #50
Ah, nevermind. As @odersky hinted, the dependent method type is just one more restriction rather than essential. @TiarkRompf already had some earlier examples with no dependent methods: https://github.com/lampepfl/dotty/issues/50#issuecomment-177631788

Here's an example that compiles with all major Scala releases listed in the download page, including 2.5 to 2.9.
[code]

[2016-06-10 14:04] felixmulder opened #1316 "Remove JLine"
Should it be done? We're not really depending on it anymore thanks to Ammonite.

[2016-06-11 13:55] liufengyun opened #1317 "Specification for synthesized unapply changed in dotty?"
With following code:
[code]
The synthesized `unapply` is as follows:
[code]
According to the scala specification, the return type should be `Option[Int]`, and scalac does that:
[code]

[2016-06-11 13:59] DarkDimius commented on #1317
That's intended.

First of all, in `scalac` does not use synthesized unapply for pattern-matching over case classes. Case-classes are special-cased by pattern-matcher in `scalac` and it generates code that does not call them.

Second, in `dotty`, we implement scheme similar to https://github.com/scala/scala/pull/2848. It has several advantages:
 - does not allocate options;
 - patmat does not need

[2016-06-11 14:01] DarkDimius commented on #1317
The biggest difference is that instead of using `isEmpty` dotty uses `isDefined`. I'm not aware why.

[2016-06-11 14:02] liufengyun commented on #1317
Thanks a lot for explanation, it makes perfect sense.

[2016-06-11 14:02] #1317 closed

[2016-06-11 14:03] DarkDimius commented on #1317
One more small note. If you'll be playing with how patmat works in `scalac`, do not test it on classes defined in `scala` package. It applies ad-hoc optimizations that are generally unsound.

[2016-06-11 15:48] liufengyun opened #1318 "Type checking error in patmat (related to overloaded unapply)"
Following code compiles fine in scalac:
[code]

But it fails with dotty:
[code]

Following change seems to fix the problem:

[code]

What's the consideration to try the generic first, then the specific one?

[2016-06-12 16:06] DarkDimius opened #1319 "REPL should report git-hash used to package the disrtibution"
Something similar to https://github.com/hmrc/sbt-git-stamp simplify implementing this.

[2016-06-14 11:52] DarkDimius opened #1320 "Dotty is slower than stripped down linker."
This is more of a note to myself to continue investigation.

If I disable linker-specific phases in my fork, I get a version of dotc that is 1.6x faster to compile the following file than current dotty upsteam.

[code]

My fork it is also 20% faster to compile itself, than Dotty.

Linker is based on 9e95a6454a1ebbb2fc571b2a9bf72bf8f6281890(dated January) with changes to many phases. I assume that

[2016-06-14 15:13] odersky commented on #1320
Probably the latter. Can the benchmarks help to investigate this?

On Tue, Jun 14, 2016 at 1:52 PM, Dmitry Petrashko <notifications@github.com>
wrote:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-06-16 20:13] m-sp opened #1321 "bin/dotc script always repackages dotty-interfaces"
It seems since commit a00a972c7425232432364bf991e118d248578f0d the dotc script doesn't correctly [extract](https://github.com/lampepfl/dotty/blob/master/bin/dotc#L24) the dotty version

I would propose to use sbt for extracting the correct version. I can create a pull request for this, if desired.

[2016-06-16 20:17] DarkDimius commented on #1321
I'd prefer not to use sbt for this, as it would add +1 sec to fastpath of compilation, increasing compilation time of hello world from 200ms to 1200ms.

[2016-06-16 20:21] felixmulder commented on #1321
How about a call to the same script that sbt uses? In `scripts/build` IIRC

[2016-06-16 20:27] DarkDimius opened #1322 "check that dotc script runs correctly in CI"
Inspired by https://github.com/lampepfl/dotty/issues/1321

Check that:

 - dotc script can build hello world and it successfully executes using dotr
 - dotc script can detect changes in dotty sources and rebuild dotty if needed
 - if no changes are done to dotty, dotc script is fast.

[2016-06-17 10:04] DarkDimius opened #1323 "dotc\dotr script assumtions are broken if dotty was build with coursier"
coursier does not use `~/.ivy2/` and we look for downloaded artifacts there.

[2016-06-18 08:53] m-sp commented on #1321
not sure if by sed/bash foo is strong enough for this

[2016-06-18 18:29] trobert commented on #1321
Hi, I wanted to give dotty a try... and ran into this at the first glance.

What about defining a settings like `baseVersion := 0.1`  in sbt, grep this in bash and add a `-*` expansion to it ?

[2016-06-20 08:11] DarkDimius commented on #1321
Current algorithm of how bash script works:

 1. bash script gets versions by sed\grep from build.scala;
 2. bash script discovers build artifacts in `/target` using the versions discovered at previous step;
 3. bash script checks if there are any files newer than build artifact and triggers rebuild if they are found;
 4. bash script runs java with correct classpath setup.

Proposed new algorithm:

[2016-06-21 16:59] felixmulder commented on #1300
Yup, running tests in CI (#1322) will probably need to service this issue somewhat.

[2016-06-22 12:13] DarkDimius commented on #1318
The fix is partial, to I'm leaving this ticked open.

[2016-06-22 12:22] #1321 closed

[2016-06-22 12:22] #1322 closed

[2016-06-22 12:22] #1323 closed

[2016-06-22 12:41] DarkDimius opened #1327 "coursier discovery leaks in script"
[code]

reported by @henricook

[2016-06-22 12:51] DarkDimius opened #1328 "dotc fails to find shared backend on first run"
Reported by @henricook

[code]

Note those lines:

[code]

[2016-06-22 13:35] #1293 closed

[2016-06-22 13:38] #1220 closed

[2016-06-22 13:38] #1224 closed

[2016-06-23 13:03] #1327 closed

[2016-06-23 13:03] #1328 closed

[2016-06-23 13:04] DarkDimius commented on #1307
Fixed in #1309

[2016-06-23 13:04] #1307 closed

[2016-06-23 13:07] DarkDimius commented on #1272
Fixed.

[2016-06-23 13:07] #1272 closed

[2016-06-23 14:17] DarkDimius opened #1329 "Ycheck consistency between flags"
Some combinations of flags make no sense, eg `Lazy` | `Label`. It would be nice to Ycheck that we don't have invalid combinations of flags.

This task is hard, because it's open-ended as we do not currently have a spec of what combinations are valid and what are not.

[2016-06-23 16:44] liufengyun opened #1330 "Incorrect widening in typing Match and Annotated type"
Following code should type check, but it failed:

[code]

Following change **almost** fixed the problem if tree checking is disabled:

[code]

Tree checking shows that the type of the identifier `_` in `isDefinedAt` refers to the variable `x$1` in `$anonfun`, which caused an undefined symbol assertion failure:

[code]

The error is introduced in **expandSAM**, I'm going to fix this error.

[2016-06-24 15:19] kzys commented on #1316
Like that? I'm gonna send a PR if the direction is fine.
https://github.com/kzys/dotty/commit/24c7ef7dfc44625de6f76f51f8ee838ec2956296

[2016-06-24 15:31] kzys commented on #1316
On -Xnojline, doesn't it make sense to just use `System.console()` instead of having the flag?
http://docs.oracle.com/javase/7/docs/api/java/lang/System.html#console%28%29

[2016-06-27 19:04] felixmulder opened #1333 "Incorrectly inherited method from `immutable.Map` in `Map` interface"
To define an instance of `Map[K,V]` you need to override the following methods:

[code]

But in dotty - it requires you to also overwrite:

[code]

[2016-06-28 07:27] DarkDimius opened #1335 "Patmat: dotty does not generate null checks for extractors"
[code]
Scala2 style option-based pattern matching is handled correctly. This bug only happens with option-less pattern matching.

[2016-06-28 07:27] DarkDimius commented on #1335
This is a low-hanging fruit that may be a good introduction into PatternMatcher.

[2016-06-28 16:34] DarkDimius opened #1336 "Junit: discart stdout for tests that succeed."
I don't think people enjoy browsing through 2.5 megabytes of output.

[2016-06-29 12:21] DarkDimius opened #1339 "CI: check if all contributors signed Scala CLA"

[2016-06-29 13:00] felixmulder commented on #1316
Hi @kzys - yes like that :) Would you mind making PR out of it?

[2016-06-29 14:20] DarkDimius opened #1341 "A crazy idea: provide a reasonable toString for case classes"
When having discussions with people in the community, I saw a misconception that as soon as compiler developers have some idea, it quickly gets implemented and shipped in the next release. At the same time, the misconception suggest that ideas from outsiders never get support and are never implemented.

The source of this misconception is that decisions that originate from compiler developers that

[2016-06-29 14:21] DarkDimius commented on #1341
misclicked and submitted too early. Still improving the proposal.

[2016-06-29 14:54] felixmulder commented on #1341
Why `_class$`?

[2016-06-29 14:59] DarkDimius commented on #1341
1. So that it does not clash with user-defined field names(hence `$`)
2. it is in the beginning so that it's easy to see the class name in IDE(and that's why it's not preceded by `\n\t`
3. I've added `_` to make sure that if you use language where convention is that compiler generated symbols have `_` instead of `$` you wouldn't define such a val. I'm fine with dropping it.

[2016-06-29 15:10] densh commented on #1341
### Counter-idea: make case classes `.toString` generate Scala code that creates an instance that is identical to this one.

1. Fully-qualified call to the constructor
2. All string sub-parts are properly quoted and escaped
3. Should usually be copy-pasteable to repl and create identical value
4. Arrays are printed as `Array($elem1, $elem2, ..., $elemN)`

[2016-06-29 15:15] lrytz commented on #1341
Why not XML? :trollface: (I think we should not bake JSON into the language)

[2016-06-29 15:31] DarkDimius commented on #1341
Added sections Introduction, Current Status and Real Motivation.

[2016-06-29 15:38] DarkDimius opened #1342 "YCheck that no signatures are `isUnderDefined` after PostTyper"
See https://github.com/lampepfl/dotty/pull/1337/commits/1fb965c37b37d0150618f25dabaa0d6fe205998a

[2016-06-29 16:05] DarkDimius commented on #1341
@densh I like your idea. I've updated the issue title&start.
Question: I understand how would your proposal work in untyped language such as Python.
But can you tell me what would you expect to get when you execute this code in your proposal:
[code]

[2016-06-29 17:09] felixmulder commented on #1341
@densh - with Dmitry's proposal I guess you could just call the `fromString` method 😃

[2016-06-29 17:15] DarkDimius commented on #1341
Updates: added sections Drawbacks and Alternatives.
Updated the description as it mistakenly had `implicit` in some places where it shouldn't had. After re-reading it once again I understood that some of them made it seem like the default implementation heavily relies on implicit search. It doesn't.
It would be nice if people could have a second look now.

[2016-06-29 22:53] adriaanm commented on #1341
I'd rather we invest our energy in coming up with a mechanism for abstracting over the structure of case classes so that we can express the boilerplate the compiler generates for case classes in the library.

Pardon my poor quasi-quote hygiene, but wouldn't it be cool if you could implement `toString` once like this and have a specialized version in each of its subclasses?
[code]

[2016-06-29 23:05] stuhood commented on #1341
100% agree with @adriaanm.

[2016-06-30 07:14] julienrf commented on #964
It would be great to have something similar for sum types.

For instance, consider the following type hierarchy:

[code]

It could desugar to the following:

[code]

Where `Sum[A]` is defined as follows:

[code]

This would enable generic programming on sum types rather than just records:

[code]

[code]

[2016-06-30 07:58] DarkDimius commented on #1341
@adriaanm, I agree it would be nice to have a better mechanism for implementing such proposals.
Note, that case classes, we aclually do have a mechanism that is powerful enough to implement what you've suggested: Products.

Actually, the your proposed version of `toString` can be implemented in the library.

[code]

Or am I misunderstanding what snipped you proposed does?

[2016-06-30 08:06] xeno-by commented on #1341
I suppose what Adriaan wants is the possibility to do this at compile time.

[2016-06-30 08:15] odersky commented on #1341
(or some analogues) inline, right? I think that's really all we need.

 - Martin

--

Martin Odersky
EPFL and Lightbend

[2016-06-30 08:24] DarkDimius commented on #1341
Added an opening to the issue, covering why this (crazy) idea was submitted.
After gathering more related work it should be complete.

[2016-06-30 12:26] #856 closed

[2016-06-30 13:19] DarkDimius commented on #1330
Scalac rejects this code.

[2016-06-30 13:19] DarkDimius commented on #1330
[code]

[2016-06-30 15:38] liufengyun commented on #1318
I've just checked scala [specification](http://www.scala-lang.org/files/archive/spec/2.11/06-expressions.html#overloading-resolution), it dictates that in overloading resolution the most specific member wins.

This means that following [code](https://github.com/dotty-staging/dotty/blob/cece884812143c6c8090ce08c6321bd4a1d52ea6/tests/pos/i1318.scala) should not compile, unless we change overloading

[2016-06-30 20:08] #971 closed

[2016-07-01 07:34] smarter commented on #1339
See https://github.com/scala/scabot/pull/58

[2016-07-01 08:20] odersky opened #1347 "Requirements for Generic Programming Support in Scala"
We would like to add some mechanisms for generic programming support in Dotty. As a first step, we should work on a document that lists

**Requirements:** What changes do we envision? Some possibilities to consider are:

 - Get rid of the 22 limit for tuples, products and functions
 - Allow type-safe generic operations over tuples/products/functions
 - Allow generic operations over all case classe

[2016-07-01 08:49] DarkDimius commented on #1347
Do we want to include performance of emitted code in our guidelines?

Rodriguez Yakushev ([1], Figure 4.9) in his thesis about SYB did benchmarks and found that functions written using SYB to be from 30 upto 160 times slower than handwritten code.

AFAIK the state of the art of getting performance back is [2] which relies on HERMIT. The closest analogue of HERMIT that we have is rewrite rules with

[2016-07-01 08:54] julienrf commented on #1347
More generally, several typeclasses (e.g. `Functor`, `SemiGroup`, etc.) can be implemented generically. [milessabin/kittens](https://github.com/milessabin/kittens) is good example of such generic implementations.

@DarkDimius We’ll probably need first-class staging support ;) (see https://www.cl.cam.ac.uk/~jdy22/papers/staging-generic-programming.pdf)

[2016-07-01 08:55] jvican commented on #1335
This code snippet doesn't compile in Scala:
[code]

In my opinion, this shouldn't typecheck, while the following should both typecheck and throw a `MatchError` as @DarkDimius said:
[code]

Is there any way we can make the proposed code snippet fail to typecheck? I'm planning to make Dotty throw a MatchError in my code snippet.

[2016-07-01 08:56] xeno-by commented on #1347
@julienrf What features would be necessary from first-class staging support? Can meta provide these features?

[2016-07-01 09:04] DarkDimius commented on #1347
@julienrf, have a look at paper that I've cited. It proposes a mechanism simpler than staging both in terms of user-facing abstraction and internal implementeation that achieves performance similar to hand tuned code without requiring to change any library\user-code and without introduction of `Rep[T]`.
I'd propose to go similar way as it will be in line with tooling that we already intend to deve

[2016-07-01 09:08] julienrf commented on #1347
@xeno-by Indeed I think meta would be enough, actually.

Another example of use case: computing diffs between ADT values (see https://github.com/stacycurl/delta or https://github.com/xdotai/diff).

[2016-07-01 10:39] DarkDimius commented on #1347
@julienrf, nice examples indeed.
Thinking about it @nicolasstucki just implemented diffing trees using external Java tool that works on Strings. Diffing Dotty trees structurally using proposed generic programing tools may be a good case-study.

[2016-07-01 12:19] DarkDimius opened #1351 "Decide when we should do exhaustivity checks"
scalac only checks sealed classes. We should consider if we indeed want to change this.
https://github.com/lampepfl/dotty/pull/1261/files#diff-3fbc86b62f6455f297c02b6711bc66b1R470

In case we indeed decide to change it, I propose to maintain scalac compatible behavior in -language:Scala2 mode.

[2016-07-01 12:34] DarkDimius opened #1352 "Typer: Incorrent assumtions when typing pattern matches"
Typer assumes that pattern matching in only doing dowcasts and rejects this valid code. This code is accepted by scalac:

[code]

[2016-07-01 12:39] DarkDimius opened #1353 "Parser: report a readable error in case user tries to define a case-trait"
SIP 25 disallows defining `case trait`s on syntax level.
Currently reported error is `illegal start of definition` which isn't very informative.

[2016-07-01 13:38] DarkDimius opened #1354 "PatMat & exhastivity spec OrTypes"
How should this compile? Is the pattern exhaustive? Does it have unreachable cases?

[code]

[2016-07-01 14:08] nicolasstucki opened #1355 "Matching on java enum in dotty.tools.dotc.Run breaks run/dotc test."
Discovered on this issue [pattern match](https://github.com/lampepfl/dotty/pull/1345/files#diff-54ef0a9755f17d82ce13623136430519R142). `run/dotc` fails if the `toString` is removed and the references to the enums are added in the cases. The same happens if the enums are compared directly with reference equality.

[2016-07-01 14:11] nicolasstucki commented on #1355
This might be a bug with pickling.

[2016-07-01 14:14] DarkDimius commented on #1354
had a discussion, decided that:
1. the pattern is not exhastive in the single case is dead code
2. method should return false

[2016-07-01 15:32] DarkDimius commented on #1352
Decided that:
1. we do not want to substantially change the current behaviour
2. we would like to have a simplistic mode for -languge:Scala2 that typechecks the subpattern with either lub or some parent type as expected type.

[2016-07-01 15:50] DarkDimius opened #1356 "Proper infrastructure for testing reported errors\warnings"
https://github.com/lampepfl/dotty/pull/1261/files#diff-0dffcbbb85984df42a7e959859af6e5aR39
introduces the infrastructure specifically for exhaustivity checks in pattern matching.

It would be nice to have a common infrastructure for whole compiler.

The version that I propose to implement is:
- define a `Diagnostic.raw` method that is used to print the part of diagnostic that should participate in

[2016-07-01 19:12] nicolasstucki commented on #1308
@jvican is this issue completely fixed?

[2016-07-01 20:26] jvican commented on #1308
Yes, I forgot to add the test in the PR, I will tomorrow.

[2016-07-02 05:53] kzys commented on #1158
I couldn't repro that as well.

[code]

[2016-07-02 18:23] edmundnoble opened #1357 "-print not implemented"
The `-print` option is parsed but not implemented.

[2016-07-02 23:29] DarkDimius commented on #1357
Fix available in #1358

[2016-07-04 11:39] DarkDimius commented on #1320
the way it is tested. I've restarted the machine to clean all the caches and then:

1. read hotspot form HD
[code]
2. cold start of dotty linker:
[code]
3. cold start of dotty upstream:
[code]
4. cold start of scalac for comparison:
[code]

[2016-07-04 11:58] DarkDimius opened #1359 "Dotc script not functional when rappidly changing branches"
I'm on d508d9faafa5d4ddee0c3c854f38ec61f8b114fe and `.packages` has outdated information about artifacts which has already been deleted by `sbt`:

[code]

[code]

removing `.packages` file helps.

[2016-07-04 12:01] DarkDimius commented on #1359
by helps I mean that the reported error persists, but compilation succeeds:

[code]

[code]

[2016-07-04 18:58] DarkDimius opened #1361 "Integrate dotty-example-project into CI"
It would be nice to ensure that [dotty-example-project](https://github.com/smarter/dotty-example-project) or similar project can be build with every PR.

[2016-07-04 22:26] smarter commented on #1320
Something that can make benchmarking a bit more reliable is to always disable the intel turbo boost that which may or may not be enabled depending on the temperature of the processor, number of cores in use, etc. Under linux with a recent enough kernel:
[code]

[2016-07-05 05:33] lrytz commented on #1320
good hint, googling for mac shows https://github.com/rugarciap/Turbo-Boost-Switcher

[2016-07-05 15:36] DarkDimius opened #1363 "Include heartbeat\stats using linker in CI"
Together with @odersky we just hunted a 20x slowdown in subtyping by using `-Yheartbeat`.
The slowdown was showcased by Linker as it performs huge number of subtyping tests on complex types. Using `-Yheartbeat` we were able to find increase of number of '&' from 60K to 67'596K. Ie more than 1000 times increase.

@odersky was able to fix it using a single line. Thanks a lot! 🙇
It would be nice to t

[2016-07-05 15:41] DarkDimius commented on #1363
The commit I'm referring to is c676d7d7908f1b021d9333f7394963c4c62a1009..82c002688537274f35aa49ac5efc8e13c8583498.

[2016-07-06 09:03] DarkDimius commented on #1209
reproduce:
[code]

[2016-07-06 09:56] DarkDimius opened #1365 "Failed compilation of BufferLike"
We need to see if this is something we can fix on dotty side or cover with migration tool:

[code]

https://github.com/DarkDimius/scala/commit/1658a7536a074afc32fb6014bc2ae839a0b8af3a
Fixes compilation error on the library side.

[2016-07-06 14:25] liufengyun commented on #1351
Follow the same approach as in scalac for now.

[2016-07-07 12:13] DarkDimius commented on #1363
Agreed to implement this.

[2016-07-07 12:32] liufengyun commented on #1351
This is done in the #1364

[2016-07-07 12:32] #1351 closed

[2016-07-07 12:49] liufengyun commented on #1363
I agree it's good to add more minuscule benchmarks that can provide insights about what might be wrong.

To make that benchmarks useful, what we are missing is a regression benchmark platform that seamlessly integrated with PR & commits. I've done a little search, there's no similar services like travis-ci for regressional benchmarks. If this is something we need, I'm motivated to build one such p

[2016-07-07 13:35] DarkDimius commented on #1363
Just had a discussion with @liufengyun. For start, it may be simpler to build a regression testing infrastructure that does not involve graphs, by checking that metrics do not deviate too much in the CI.

[2016-07-08 09:28] nicolasstucki opened #1366 "('a', 98): (Char, Char) fails type checking the _2"
[code]

[code]

[2016-07-08 13:29] DarkDimius opened #1367 "Top level tries kill repl"
source: http://scalapuzzlers.com/#pzzlr-012

[code]

[2016-07-08 13:32] DarkDimius opened #1369 "repl eats program output"
taken from http://scalapuzzlers.com/#pzzlr-013
[code]

The numbers were printed, but then they were swallowed by repl and replaced by `scala>` invitation.

[2016-07-08 13:34] DarkDimius opened #1370 "repl leaks inner object names"
taken from http://scalapuzzlers.com/#pzzlr-015

[code]

`line14$object.$iw.$iw.` shoundn't be shown to user.

[2016-07-08 13:38] DarkDimius opened #1372 "repl breaks multiple val definiton syntax`"
taken from: http://scalapuzzlers.com/#pzzlr-017
[code]

This code works in dotc, but does not work in repl:
[code]

[2016-07-08 13:47] DarkDimius opened #1373 "Overload resolution difference"
http://scalapuzzlers.com/#pzzlr-023
we resolve both methods differently from scalac.

ping @odersky

[2016-07-08 13:56] DarkDimius opened #1374 "Stale symbol error in REPL"
http://scalapuzzlers.com/#pzzlr-027

[code]

[code]

[2016-07-08 14:00] DarkDimius opened #1375 "Infinite loop in interpreter"
pasting  http://scalapuzzlers.com/#pzzlr-034
[code]
into interpreter sends it into infinite look after the `// ...and back` comment.
Additionally, we disable control-c, there's no easy way to kill it.

[2016-07-08 14:24] DarkDimius opened #1376 "repl: memory leak"
[code]

[2016-07-08 14:24] #1357 closed

[2016-07-11 07:44] #1366 closed

[2016-07-11 12:01] nicolasstucki opened #1378 "(1, x => 2): (Int, Int => Int) fails type checking the _2"
[code]
[code]
This issue is related to #1366 and is probably a further refinement of fix #1371.

This code was executed with #1371.

[2016-07-11 12:10] smarter commented on #1378
I noticed that #1371 does not recursively call `classBound` in some cases, that might help (untested):
[code]

[2016-07-11 12:25] nicolasstucki opened #1379 "Reflective calls fail on compile."
[code]

[code]

[2016-07-11 12:28] DarkDimius commented on #1379
AFAIK this is intentional, dotty does not support structural types and is more strict and regular with widening types when they escape their defining scope.

[2016-07-11 13:06] nicolasstucki commented on #1379
At least we need a warning message for migration.

[2016-07-11 13:06] nicolasstucki commented on #1379
Or error message.

[2016-07-11 13:19] nicolasstucki opened #1380 "Custom message when missing type for expanded a function."
[code]

[code]

[2016-07-11 14:28] nicolasstucki opened #1381 "Ambiguous overloads with type parameter and implicit conversion."
[code]

[code]

[2016-07-11 14:34] nicolasstucki commented on #1381
It looks like in the original code they added the equivalent of `def bar[T](e: T): Any = ???` as a bridge for the other overload. It looks like in their `const` was not being found implicitly in all their cases.

[2016-07-11 15:15] nicolasstucki opened #1382 "Implicit conversion failing with implicit class and def in same scope."
[code]

[code]

[2016-07-12 19:56] #1375 closed

[2016-07-13 12:00] nicolasstucki opened #1384 "Lambdas with more than 22 parameters crash the compiler."
[code]

[2016-07-13 12:11] nicolasstucki opened #1385 "Lambdas with parametrized captured parameters may end with more than 22 parameters."
[code]

This case will fail because the inner lambda will have 23 parameter, which fails due to #1384.

[2016-07-13 18:28] kcsongor commented on #1376
Can you still reproduce this? I feel like #1375 might have been related and that's fixed now

[2016-07-14 07:47] odersky commented on #1352
I just looked at it. Typer accepts this code. The error gets raised by IsInstanceOfEvaluator. Reassigning to Felix.

[2016-07-14 08:03] nicolasstucki opened #1386 "java.util.HashMap.size has a double signature."
[code]

[2016-07-14 08:05] DarkDimius commented on #1386
note that the field `size` should not be accessible as it has default access modifiers.

[2016-07-14 08:16] nicolasstucki opened #1387 "NoSuchMethodError on java.lang.Enum.getEnumConstants"
[code]

This happens with any java `enum` class.

[2016-07-14 08:18] DarkDimius commented on #1387
is it indeed a `java.lang.Class.getEnumConstants()Ljava/lang/Object;`? for some reason `[` is missing.

[2016-07-14 08:21] DarkDimius commented on #1387
[code]
[code]

Seems like the problem is caused by incorrect erasure of `getEnumConstants`.

[2016-07-14 08:28] smarter commented on #1386
Related: https://gitter.im/lampepfl/dotty?at=577ede1959cfbd4c5e437d70

[2016-07-14 08:32] odersky commented on #1385
The illegal closure gets created temporarily in phase lambda lift bt the transform framework. Lambdalift takes the closure and subtracts the environment from it, thereby turning a closure with 23 parameters into a closure with 1 parameter. The most elegant fix is probably to simply accept functions with more than 22 parameters.

[2016-07-14 08:32] smarter commented on #1387
Our handling of Java `T[]` is known to be broken: https://github.com/lampepfl/dotty/issues/533

[2016-07-14 08:43] odersky commented on #1382
Can you add a self-contained file please? That makes it easier to reproduce the issue and will serve as a test case once it is fixed.

[2016-07-14 08:43] smarter commented on #1387
The culprit is indeed `eraseArray` which doesn't know that generic arrays coming from Java should be erased to `Object[]` instead of `Object` like Scala

[2016-07-14 08:51] odersky commented on #1382
scalac succeeds here because of a quirk: The implicit class takes a `=> Boolean` as parameter, not a `Boolean`. It seems plain `Boolean`s are searched before `=> Boolean`s. But I would classify this is as an irregularity of scalac, nit a feature. Our rewrite tool should be able to address this by adding the implicit conversion explicitly. Closing for that reason.

[2016-07-14 09:05] odersky commented on #1381
The problem is because dotty currently allows implicit conversions when deciding whether a method is applicable to the parameters of another, which is used as the test in isAsSpecific.
Let's try to drop this (should help make tests faster, too) and see what happens.

[2016-07-14 10:53] nicolasstucki commented on #1382
Here is a self-contained version of the code.
[code]

[2016-07-14 13:00] nicolasstucki opened #1388 "SBT crashes when it tries to fetch the version of scala."
I found this while executing tests using [sbt-dotty](https://github.com/felixmulder/sbt-dotty).

The issue is that sbt tries to fetch the version from scala.tools.nsc.Properties throug reflection.

Code in `sbt.ScalaInstance.slowActualVersion` that call it is:

[code]

The stacktrace is:

[code]

One hacky work around that I found is to add the following class in dotty

[code]

[2016-07-14 13:17] nicolasstucki commented on #1388
This should be reproducible on https://github.com/nicolasstucki/dotty-project/tree/scalacheck using `sbt test`.

[2016-07-14 16:24] #1352 closed

[2016-07-15 07:40] odersky commented on #1387
Fixed by #1391.

[2016-07-15 07:40] #1387 closed

[2016-07-15 09:52] #1209 closed

[2016-07-15 09:52] #1336 closed

[2016-07-15 10:18] DarkDimius opened #1392 "Default methods, mixin and invokeSpecial on JVM"
[code]

https://github.com/scala/scala-dev/issues/143#issuecomment-232446342
I have a fix in mind, but I will not have time to try it out before going for vacation.
Making a note for myself to come back to it in September.

[2016-07-15 10:29] lrytz commented on #1392
could you quickly summarize your idea here..? :)

[2016-07-15 10:58] DarkDimius commented on #1392
Two options:

1. Just before the phase `ExpandPrivate` move the original body to a method with a name mangled making it globally unique. Similar to how it is done by `ExpandPrivate` now.
The very same phase will rewrite super calls to call those uniquely named methods.

 The major disadvantage would be increase in size of stack traces. [AFAIK](https://groups.google.com/forum/#!topic/jvm-languages/

[2016-07-15 10:58] DarkDimius commented on #1392
btw: the `2` can be shared between Dotty and scalac.

[2016-07-15 11:11] #1181 closed

[2016-07-15 11:19] DarkDimius commented on #1294
Implemented.

[2016-07-15 11:19] #1294 closed

[2016-07-15 11:22] #657 closed

[2016-07-15 13:40] odersky commented on #1378
@smarter I agree that `classBound` should be called recursively. But that did not fix the problem. In fact I don't think it's related to #1366, ad there are no constants coming in the picture.

[2016-07-16 15:03] odersky commented on #1355
Can you provide a minimized test case?

[2016-07-17 07:02] smarter commented on #1388
`slowActualVersion` is only called if `fastActualVersion` fails, this should not happen because the dotty jar should contain a `compiler.properties` file with the correct content ever since fc3221836bd28c98dbef64e564d6f4e8b6ae90db. Maybe when running the test the dotty jar is not present on the classpath?

[2016-07-17 07:31] smarter opened #1396 "`_ => _` should be a valid way to write `Function1[_, _]`"
This works in scalac but not in dotty:
[code]
Real-world usage: https://github.com/functional-streams-for-scala/fs2/blob/series/0.9/core/src/main/scala/fs2/Chunk.scala#L321

[2016-07-17 07:38] smarter commented on #1396
Note: I'm thinking that we could leave this one open for a bit as a "good first PR" in the spirit of https://starters.servo.org/

[2016-07-17 10:33] #1308 closed

[2016-07-17 10:37] #1240 closed

[2016-07-17 10:37] #1225 closed

[2016-07-17 10:38] #1223 closed

[2016-07-17 10:46] odersky commented on #1333
Cannot reproduce with latest master.

[2016-07-17 10:46] #1333 closed

[2016-07-17 10:50] odersky commented on #1212
This is rejected with latest master.

[2016-07-17 10:50] #1212 closed

[2016-07-17 13:09] #1312 closed

[2016-07-18 09:14] nicolasstucki commented on #1355
I could not reduce it much, but I have here is a [branch](https://github.com/dotty-staging/dotty/commit/4f8c29b70e63d3cc164a7a077e484812f9b342b6) where it can be reproduced easely.
Need to execute `sbt test` and test `dotc.tests.tasty_dotc_util` will fail. `before-pickling.txt` and `after-pickling.txt` will be generated.

[2016-07-18 09:27] smarter commented on #1355
Can you put both files and the diff in a gist for convenience?

[2016-07-18 09:48] nicolasstucki commented on #1355
Here is the gist with the output files.
https://gist.github.com/nicolasstucki/d76d2bfb5434f9441df4c47db5e51799

[2016-07-18 11:04] #1381 closed

[2016-07-18 16:15] odersky opened #1401 "Adding mutable.BufferLike to whitelist breaks partest"
Uncommenting this line

    #./scala-scala/src/library/scala/collection/mutable/BufferLike.scala

in scala-collections-whitelist breaks partest, when run with all the other test but succeeds when `compileStdLib` is run as the only test. Unfortunately, the only debug info I can see is this:

    !! 306 - pos/compileStdLib                         [compilation failed]

    # Failed test paths (this c

[2016-07-18 18:59] #1386 closed

[2016-07-18 20:21] liufengyun commented on #1401
Let me take care of this.

[2016-07-18 21:21] smarter commented on #1401
Unfortunately jenkins is not configured to save all of this currently but you could run it locally and see if some logs are saved in `tests/partest-generated/pos/compileStdLib*`

[2016-07-18 21:25] liufengyun commented on #1401
Thanks for the tip @smarter , will try as you suggested and find the root cause.

[2016-07-18 21:28] DarkDimius commented on #1401
@odersky if you go to the link of failed PR
https://scala-ci.typesafe.com/job/dotty-master-validate-partest/1791/console
you can get some of the log file.

The reported error message:
[code]

[2016-07-18 21:40] smarter commented on #1339
PR above merged as well as https://github.com/scala/scala-jenkins-infra/pull/180 so this should be fixed!

[2016-07-18 21:40] #1339 closed

[2016-07-19 10:21] cswinter commented on #1396
It looks like you cannot have existentials within infix types. E.g. this won't work either:
[code]

[2016-07-19 10:22] cswinter commented on #1396
I suppose this is caused by an unrelated issue, but when I run the initial example using `Function1[_, _]` instead of `_ => _` with dotr (or dotc), the console will freeze for tens of seconds with CPU at 100% and then report this error (sometimes it OOMs instead):
[code]

[2016-07-19 15:48] odersky commented on #1396
@cswinter Thanks for exploring this. The unrelated issue is fixed in #1402.

[2016-07-19 17:30] smarter opened #1403 "Disallow unbound wildcard types like "val x: (_ <: Any) = 1""
If you write:
[code]
In `scalac` you get:
[code]
But in dotty we get (after the compiler stops desperately searching for a matching implicit view for several seconds):
[code]

Labelling this issue as `Parser` because that's where the error is emitted in scalac but I don't know if we wish to reimplement that logic in there or do something later.

[2016-07-19 23:50] liufengyun commented on #1401
The problem is related to the order of source files for compilation. In JUnit tests, the source files are ordered as they are specified in the whitelist. But in partest, all sources files are in the same folder, they are ordered by file name.

We can reproduce the compilation error by moving `BufferLike.scala` to the top of the white list and then run `sbt "test-only -- --tests=compileStdLib"`.

[

[2016-07-20 11:35] odersky opened #1404 "Problems with -Xprint diffing"
I have several problems with it:

1. It does not work when multiple files are compiled together.

           dotc A.scala B.scala

   Prints the diff between B.scala and A.scala.

2. Diffing can take an extremely long time if there are lots of differences. I was counting 6 seconds for a file of 250 lines. Diffing would need to be more robust than that because in debug situations it's quite possibl

[2016-07-20 11:40] odersky opened #1405 "Problems with -Xprint diffing"
I have several problems with it:

1.
           dotc A.scala B.scala

   Prints the diff between B.scala and A.scalaI

2. Diffing can take an extremely long time if there are lots of differences. I was counting 6 seconds for a file of 250 lines. Diffing would need to be more robust than that becuase in debug situations it's quite possible to have huge outputs with many changes. We can't accept the

[2016-07-20 12:03] odersky commented on #1404
#1405 expands on this.

[2016-07-20 12:03] #1404 closed

[2016-07-20 12:06] odersky commented on #1401
@liufengyun That's an important observation! I condensed it further to find out that compiling

    Buffer.scala BufferLike.scala

works, but reversing the order has the error. I tracked it down to differences in the way type parameters are bound in subclasses. In the OK scenario, Buffer contains several bindings for superclass parameters that it lacks in the error scenario. Will dig further.

[2016-07-20 13:03] nicolasstucki commented on #1405
I added the PR #1406 to make the option opt-in.

I start looking into making a diff that does not depend on an external library. This will probably be for a future PR.

[2016-07-21 07:20] cswinter commented on #1396
I've investigated some more, and I believe that at the core of this problem (and also of #1403) is an incomplete attempt of rejecting unbound wildcard types at the grammar level.
Basically, wildcards are only allowed in the [`ArgType` production](https://github.com/lampepfl/dotty/blob/master/docs/SyntaxSummary.txt#L114) which is used instead of `Type` inside tuple types and type parameter lists, b

[2016-07-21 08:11] smarter commented on #1396
Nice analysis!

The expression `val a: (_) = 1` cannot typecheck  because the type of `_`  is represented internally as an instance of `TypeBounds` which is used to represent bounds  but is not a valid type for a value (it can only be part of another type like `Foo[_]`) so it can never be a supertype of the type of `1`.
As a side note, the compiler hangs because it's spending a huge amount of time

[2016-07-21 08:14] cswinter commented on #1396
Something like this might actually fix the grammar, but it makes `InfixType` left-recursive and I think associativity becomes ambiguous.
[code]

For the tuple case in `SimpleType`, we could also just check that `ArgTypes` is not a single wildcard type, and similarly use the following grammar with an additional check that we don't get a wildcard type for `InfixType`. This actually seems like it cou

[2016-07-21 13:57] #1378 closed

[2016-07-21 15:10] odersky commented on #1396
I think what `scalac` does, and what we could try ourselves as well, as treat wildcards in types analogous to wildcards in expressions. I.e. the grammer allows them everywhere. But then there is a check at top-level types that they are not a TypeBoundsTree.

[2016-07-21 15:10] julienrf commented on #1347
Maybe not related, but that would be also interesting to support function arity abstraction. Currently, this is what shapeless does: https://github.com/milessabin/shapeless/wiki/Feature-overview:-shapeless-2.0.0#facilities-for-abstracting-over-arity
This paper may also be relevant: http://www.cs.yale.edu/publications/techreports/tr1191.pdf

[2016-07-22 06:12] cswinter commented on #1396
Yes, that sounds much cleaner. I'll start working on a patch.

[2016-07-22 13:39] cswinter commented on #1396
I have a [basic prototype](https://github.com/lampepfl/dotty/compare/master...cswinter:wip-unboundwildcard) now. Is there any documentation for the tests? Specifically, I would like to know where should I put my test files, and how to check that some code will result in a specific compile error.

I also found another amusing edge case. The following compiles in scalac (with type `List[_]`) and cau

[2016-07-22 14:47] odersky commented on #1396
@cswinter There are three main test directories: `pos`, `neg` and `run`.

`pos` tests only need to compile.

`neg` tests need to produce errors on the lines marked with `// error`. Multiple expected errors on one line need multiple `// error` markers on the right.

`run` tests need to compile and run. If there is output it needs to match the one in the `.check` file.

Hope this helps.

By the way,

[2016-07-22 15:05] #1401 closed

[2016-07-22 15:16] odersky commented on #1396
@cswinter

I lean towards reject. In:

[code]

I would classify bound types as top-level types, which cannot be wildcards.

[2016-07-22 15:33] odersky commented on #1365
Fixed completely by #1401

[2016-07-22 15:33] #1365 closed

[2016-07-22 15:36] odersky commented on #1330
@liufengyun Can this issue be closed now?

[2016-07-22 15:38] liufengyun commented on #1330
I think so, it seems we can't do anything now.

[2016-07-22 15:39] #1247 closed

[2016-07-22 15:40] odersky commented on #1247
The described implementation has been merged.

[2016-07-22 17:27] odersky commented on #1330
OK, closing.

[2016-07-22 18:19] stuhood commented on #1341
Mentioning #1347 here to make sure they are "linked" from github's perspective.

[2016-07-22 20:46] #1341 closed

[2016-07-24 14:11] sschaef opened #1411 "REPL doesn't indent caret correctly in error messages"
The REPL doesn't indent the caret correctly:
[code]
It should point to the `1`

[2016-07-25 10:41] odersky commented on #1384
I think we should just wait with fixing this until we can drop the limit altogether.

[2016-07-25 10:42] odersky commented on #1373
So be it.

[2016-07-25 10:42] #1373 closed

[2016-07-25 11:42] liufengyun commented on #1354
If I were right, the key to solve this problem here is to translate `x.isInstanceOf[T1 | T2]` to `x.isInstanceOf[T1] | x.insInstanceOf[T2]` before type erasure?

[2016-07-25 13:50] #1385 closed

[2016-07-25 16:03] cswinter commented on #1396
My code is essentially ready for review now, there is just one remaining issue. When you compile a program that contains unbound wildcard types (e.g. my tests), the parser emits the expected syntax errors (using `Parser.syntaxError(String, Position)`). And then the compiler goes ahead and continues with compilation which causes it to die a slow and horrible death to the various issues caused by un

[2016-07-26 21:48] #1284 closed

[2016-07-27 13:04] #1353 closed

[2016-07-27 13:45] #1354 closed

[2016-07-27 14:39] DarkDimius opened #1419 "CI does not check for CLA of all commiters in the branch"
It seems that CI checks CLA only of person who created the PR, instead of checking all the committers.

[2016-07-27 18:52] #1316 closed

[2016-07-27 21:29] #1411 closed

[2016-07-28 06:24] kzys commented on #1369
We probably don't need the entire puzzle. The minimal repro case is

[code]

[2016-07-28 11:16] odersky commented on #1392
I also think we should try (2). My logic is that we are working around here a VM restriction, namely that one cannot call specific methods in superclasses. Scala.JS and Scala.native do not have the problem; for them it is trivial. So rather than generate avalanches of additional bytecode I would prefer if we could fix the problem by giving the target VM more capabilities through reflection-base li

[2016-07-28 11:25] #1263 closed

[2016-07-28 12:11] odersky commented on #1392
I retract my remark. @DarkDimius and I just had session where we played with it. Here's the code:

    class B { def m: Int = 0 }
    class C extends B { override def m = 4 }
    trait T1 extends B { override def m = 1 }
    trait T2 extends T1 { override def m = 2 }
    trait T3 extends T1 { override def m = 3 }

    trait T4 extends T1
    class D extends B {
      def f() = println(super[B].m)

[2016-07-28 12:11] retronym commented on #1392
I take it by "that points to method that was found using reflection" to use [`unreflectSpecial`](https://docs.oracle.com/javase/8/docs/api/java/lang/invoke/MethodHandles.Lookup.html#unreflectSpecial-java.lang.reflect.Method-java.lang.Class-) which "will bypass checks for overriding methods on the receiver, as if called from an invokespecial instruction from within the explicitly specified specialC

[2016-07-28 12:16] odersky commented on #1392
@retronym Good find! If it is easy to do then let's do it. But the problem is less pervasive than I thought initially. Essentially it only applies when an explicit super call targets a class method, not a trait method. Mixin forwarders should not be affected.

[2016-07-28 12:26] DarkDimius commented on #1392
ping @lrytz @adriaanm.
Just had a long meeting with @odersky, considering the options here. Note that this bug also affects 2.11.8. Giving a proper fix for this bug would change the behavior of already existing code. If existing projects rely on current behavior, bug created because of this change could be very hard to track and may require the code to be rewritten.

We've decided, that at least f

[2016-07-28 12:39] liufengyun commented on #1318
This can be closed now, as following code doesn't type check according to current overloading resolution rules:

[code]

[2016-07-28 12:39] #1318 closed

[2016-07-28 12:44] odersky opened #1423 "Supertraits need to be filled in"
Consider the following test:

[code]

Running this gives:

    3
    2
    3
    Exception in thread "main" java.lang.IncompatibleClassChangeError: Interface method reference: T1.m()I, is in an indirect superinterface of Test$
    	at Test$.main(test.scala:17)
    	at Test.main(test.scala)

If I revert 468ff9c the example runs fine. The problem seems to be that the supertrait T1 got dropped even t

[2016-07-28 18:24] liufengyun commented on #1274
I'm looking at this issue, just had a discussion with @DarkDimius and he cleared my confusion about the `classpath` for the compiler and the program. I jot down a note here to make sure I understand correctly.

Conceptually, the compiler and program do not share `classpath` for symbol resolution:

[code]

In the program, by default it should NOT be able to use `lib1; lib2`, nor anything in the com

[2016-07-28 19:46] retronym opened #1424 "parser incorrectly reports self type error for lambda in template"
[code]

[code]

[2016-07-29 09:57] liufengyun commented on #1274
I just checked settings for running JUnit tests, e.g. `dotc_transform`. It's a surprise to me that even though`PathResolver.Environment.useJavaClassPath` is `false`, the compiler is still able to resolve symbols related to stdlib and dotty core(without passing them  via scala `-classpath`).

However, when I run the compiler from command line without `-usejavacp` and without passing dotty.jar to do

[2016-07-29 12:32] cswinter opened #1426 "Assignment statements don't work in REPL"
[code]

[2016-07-29 13:33] liufengyun commented on #1274
I figured it out by printing `ctx.platform.classPath(ctx).packages)` and run with different configs.

The unexpected behaviuor is due to the fact that:

1. By default the jvm option `-bootclasspath` for running compiler will be available for compiling user programs
2. When `-usejavacp` is enabled, the jvm option `-classpath` for running compiler will be available for compiling user programs.
3. Wh

[2016-07-29 15:42] DarkDimius commented on #1274
Junit test are run in forked jvm with environment constructed by hand in
Build.scala. Current build.scala unconditionally puts dotty and all
dependencies on the boot class path.

On 29 July 2016 11:57:11 liu fengyun <notifications@github.com> wrote:

[2016-07-29 15:55] DarkDimius commented on #1274
This would be a nice fist step. But be aware there still may be bugs that would be either hidden or triggered by the fact that multiple versions of the same class are present on the ClassPath. In particular there may be fun interactions with name-mangling of inner classes.

I'd propose to have a custom option, that prohibits loading Scala2 compiled classes that aren't in the whitelist. The whiteli

[2016-07-29 22:40] liufengyun commented on #1274
Thanks a lot for your comments, @DarkDimius . I just pushed a commit to make the simplest change and see how it works out.

Note that previous we already have duplicate class files in the path when running `sbt test`: (1) from the dotty.jar (2) from `target/scala-2.11/classes/`.

[2016-07-29 22:58] smarter commented on #1274
See also #1301 and #1300

[2016-07-31 11:14] #1423 closed

[2016-07-31 13:38] #1285 closed

[2016-07-31 16:48] odersky commented on #1424
I would argue this is what we want. A class containing a lambda in statement position makes no sense. So, it's more likely the user wanted to write a self type here and got the syntax wrong.

It also means we can clean up a particularly murky corner of scalac's parser.

[2016-07-31 16:55] retronym commented on #1424
Good point. But...

This would mean that a code generator and will need to insert a dummy expression before wrapping an arbitrary list of expressions in a template.

[2016-07-31 17:04] odersky commented on #1424
Yes, but is this a problem for non-sensical expressions? Why generate such code anyway?

[2016-07-31 17:13] retronym commented on #1424
For instance, The REPL wraps user written code in a template so they can be typechecked.

[2016-07-31 17:23] retronym commented on #1424
e.g.:

[code]

[2016-07-31 17:24] retronym commented on #1424
You can argue that `() => 42` is non-sensical, but if we want to provide such guidance it can't be through the "illegal self type error" in generated code 😄

[2016-07-31 17:34] odersky commented on #1424
Good point...

On Sun, Jul 31, 2016 at 7:24 PM, Jason Zaugg <notifications@github.com>
wrote:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-07-31 18:59] odersky commented on #1424
Except for:

    scala> x => println(1)
    <console>:1: error: ';' expected but '=>' found.
    x => println(1)
      ^

So it seems the REPL has to special case closures in any case.

[2016-07-31 19:10] retronym commented on #1424
Nice find!

However, that looks like a general parser bug within templates:

[code]

[2016-07-31 19:14] retronym commented on #1424
Oh, templates only allow `Expr1`, not `Expr`:

[code]

[2016-08-01 00:30] #1269 closed

[2016-08-01 02:53] smarter opened #1430 ""type mismatch" errors do not always give a useful expected type"
[code]
[code]
Note that it says `required: A` instead of `required: String`.

[2016-08-01 03:01] smarter commented on #1396
@cswinter: I suggest you first make a PR with just your fix and a neg test that demonstrates that the code does not compile, if the compiler just takes more time to finish that test than expected, that's OK, we already have a few tests like this, and we need a general solution to that problem (the long time spent in implicit search that I mentioned above)

[2016-08-01 03:07] smarter commented on #1396
Also you might have seen this already but I just realized that our parser has a `checkNoEscapingPlaceholders` function like the scalac one, except we only track wildcards in terms and not types in their, so we can just extend that to also track types.

[2016-08-01 08:29] cswinter commented on #1396
So the problem is that the tests don't even pass because the compiler crashes with an assertion error. What I can do is comment out the tests and create a new issue to track that problem separately, but it might make more sense to wait for a fix/include it with this changeset.

I don't think we should try to reuse `checkNoEscapingPlaceholders`; semantically and syntactically placeholders are quite

[2016-08-01 09:39] odersky commented on #1424
I see. So closures have to be put in parentheses by the REPL anyway.

[2016-08-01 10:40] #1426 closed

[2016-08-01 11:55] cswinter opened #1432 "`val _@a = 1` causes infinite loop"
`val _@a = 1` will send the compiler into an infinite loop (where "infinity" is an amount of time > 30min).

[2016-08-01 12:27] cswinter opened #1433 "REPL fails to give type for symbolic values"
[code]

[2016-08-01 13:10] cswinter opened #1435 "REPL/compiler leak `@unchecked` annotations in aliased assignments"
[code]

[2016-08-01 16:36] #1396 closed

[2016-08-01 16:36] #1403 closed

[2016-08-02 17:12] olafurpg opened #1437 "bin/dotc silently ignores build failure"
Following the [steps](https://github.com/lampepfl/dotty/wiki/Getting-Started#compiling-and-running-code) in getting started guide, I get the following error:

[code]

Running `sbt compile` I get a unresolved dependency on jline. After fixing the dependency issue, I was able to run `bin/dotc` without issues.

I would like `bin/dotc` to give a more useful error message when the build fails.

[2016-08-02 20:49] DarkDimius commented on #549
This is fixed as of https://github.com/lampepfl/dotty/pull/1226

[2016-08-02 20:49] #549 closed

[2016-08-03 13:43] cswinter commented on #1376
I have not managed to reproduce this, I propose closing the issue.

[2016-08-03 15:10] cswinter opened #1440 "REPL eagerly evaluates lazy vals"
[code]

What scalac/ammonite do:

[code]

[2016-08-03 20:32] DarkDimius opened #1441 "JDK9 blocker: stops supporting our scheme for MODULE$ initialization"
https://bugs.openjdk.java.net/browse/JDK-8159215

the way we currently compile module classes, assigns the static _final_ MODULE$ from the module class constructor `<init>` which is called by `<clinit>`. This is prohibited by the spec and will be enforced by JDK9.

[code]

If they enforce the restriction and we move the initializers to the only allowed place, `<clinit>`, following code will _alway

[2016-08-03 22:50] DarkDimius commented on #1441
I have an idea how to fix this without breaking current behavior.
Will need to check when I'm back.

[2016-08-04 04:55] #1376 closed

[2016-08-04 19:13] retronym commented on #1441
@DarkDimius Is this what you had in mind? https://github.com/scala/scala/compare/2.12.x...retronym:topic/module-init

[2016-08-04 19:14] DarkDimius commented on #1441
looks like it :+1

On 4 Aug 2016, at 12:13, Jason Zaugg wrote:

[2016-08-04 23:00] jvican opened #1442 "Dotty backend fails to emit code in CSE'd if predicate"
Code snippet:
[code]

REPL fails with:
[code]

The Linker (in the branch `cse-rebase`, that implements Common Subexpression Elimination) fails with a more concise error:
[code]

It seems to me that this code should compile. Therefore, I consider this a bug. The original source code is located in the `Numeric` class of the Scala standard library.

[2016-08-05 00:03] DarkDimius commented on #1441
@retronym, there's one piece missing in your change. You need to move the body of constructor to the static initializer. Here's an example that demostrates the need:

[code]

By the time user-defined body of constructor of objects starts executed, the `MODULE$` should be published.

[2016-08-05 00:23] smarter commented on #1441
From the bug report you linked, it looks like they want to enforce this check for older classfiles too:

Should someone comment on that bug report to let them know doing this would break every existing Scala classfile?

[2016-08-05 00:25] DarkDimius commented on #1441
@smarter they are not enforcing this for old class files. I'm in contact with them, we're having a private conversation.

[2016-08-05 01:40] retronym commented on #1441
I believe that it's preferable to expose the null that to expose a partially initialised object. That's the status quo, no?

[2016-08-05 01:43] DarkDimius commented on #1441
@retronym current behavior publishes a partially initialized object that other classes can use(see the example above). If we prohibit this, it would mean that in the body of the object you cannot use anything that _transitively_ uses the same object. I believe this is a very harsh restriction that is hard to maintain in big codebases.

[2016-08-05 01:44] DarkDimius commented on #1441
another example, that does not involve superclasses:
[code]

[2016-08-08 03:00] #1367 closed

[2016-08-08 03:02] #1372 closed

[2016-08-08 07:52] cswinter opened #1443 "Unbound wildcards cause assertion error/oom"
E.g. `val a: _ = ???` causes compiler hang/OOM and `val a: List[_ <: _] = List(0)` crashes with a failed assertion in typer. Some more details on why this happens can be found in [this comment](https://github.com/lampepfl/dotty/issues/1396#issuecomment-234186015). This can only be replicated with dotc; REPL aborts compilation as soon as the frontend emits an "unbound wildcard type" error.

Further

[2016-08-08 08:44] odersky commented on #1443
I think this has an easy fix: When the parser reports an unbound wildcard error for a type, it should return `Any` as the tree instead of the TypeBounds tree that it saw originally. No need to worry about follow-on errors: the reporter will suppress subsequent errors on the same position anyway.

[2016-08-09 01:25] acdenhartog opened #1444 "Inconsistency with implicit parameter list for traits"
[code]

The relevant method is traitInits in Mixin.

So it seems there are multiple different implementations of "argument list".
Is that because Mixin phase has to occur after Erasure?

[2016-08-09 11:28] DarkDimius commented on #1442
For future reference. I've introduced an undocumented environment variable `printBCODE`, that specifies which methods to print.
In this example:

[code]

[2016-08-09 13:04] nicolasstucki opened #1446 "Improve error message for `try { } catch { }`"
Currently the error is `error: class Unit in package scala does not take parameters`.
It should probably have a message that tells the user that he must at least have one `case`.

[2016-08-10 03:24] smarter opened #1447 "For an object X, `X$` should be =:= to `X.type`"
This works in scalac but not in dotty:
[code]
[code]
Logging shows the issue:
[code]

[2016-08-11 20:09] julienrf opened #1449 "Unable to use existentials as arguments to unapply"
Using an existential as argument to `unapply` results in the following runtime error: Method $init$ in class Main$Foo has illegal modifiers: 0x1.

See http://scastie.org/21730

(Note that I wasn’t able to setup dotty on my machine as per https://github.com/smarter/dotty-example-project. I hope the error I’m reporting is not a problem that comes from scastie.org…)

See also the corresponding Scala

[2016-08-12 14:22] cswinter opened #1451 "Fail early if not using java 8 with readable error."
This breaks https://github.com/smarter/dotty-example-project. We should probably add a test that can detect this in the future.

[code]

[2016-08-12 14:24] DarkDimius commented on #1451
The build failure is because you are not using java 8.

[2016-08-12 14:34] cswinter commented on #1451
Are you sure?

[code]

[2016-08-12 14:43] cswinter commented on #1449
Thanks for reporting this. It looks like the issue is with scastie.org using an old dotty build or something.

The dotty example project doesn't work for me either, I've opened [#1451](https://github.com/lampepfl/dotty/issues/1451) to track that issue. Note that you can just use the dotty compiler directly as described [here](https://github.com/lampepfl/dotty/wiki/Getting-Started#to-get-started) (

[2016-08-12 14:48] DarkDimius commented on #1451
That's strange. Are you sure your sbt isn't using another version of java for some reason?

[2016-08-12 14:51] cswinter commented on #1451
[code]

[2016-08-12 14:55] cswinter commented on #1451
I tried deleting my .sbt folder in case it's some plugin, but that didn't help either.

[2016-08-12 14:59] cswinter commented on #1451
`sbt dotty-interfaces/compile` works fine btw.

[2016-08-12 16:02] julienrf commented on #1449
Indeed, I was finally able to run the dotty compiler and the code works fine.

[2016-08-12 16:02] #1449 closed

[2016-08-12 20:02] #1447 closed

[2016-08-15 09:03] smarter commented on #1451
Do you have multiple versions of the JVM installed at all? Maybe another version of `javadoc` ?

[2016-08-15 09:04] smarter commented on #1451
I think that the only extra step in `publishLocal` compared to `compile` that touches source files is the documentation generation

[2016-08-15 09:30] cswinter commented on #1451
Good call! My javadoc was still on version 7, switching to 8 fixes the problem.

[2016-08-15 09:49] smarter commented on #1451
Also weirdly this plugin does not do the check when running compile: https://github.com/sbt/sbt-javaversioncheck/blob/master/src/main/scala/JavaVersionCheckPlugin.scala#L28-L30

[2016-08-15 09:56] #1443 closed

[2016-08-15 14:58] #1442 closed

[2016-08-15 22:01] kcsongor commented on #1440
I think this is an improvement, rather than a regression

[2016-08-16 03:59] kzys commented on #1370
bb60d3c43bd42d24b54d5cad0dcfdb50cbdd5782 disabled that calling stripWrapperGunk from ConsoleReporter.

Apparently stripWrapperGunk removes a specific pattern which includes ```line```, ```object``` and ```iw```. So enabling the function seems safe for me.

[2016-08-16 12:34] DarkDimius opened #1454 "Class names and case sesitivity"
`scala.collection.immutable.Stream` defines inner `class Cons` and an inner `object cons`.
The second one triggers creation of a `class cons` with static forwarders, that are used in separate compilation and that bears TASTY.
OS X has case-insensitive filesystem and `Cons.class` and `cons.class` overwrite each-other.

Manifests itself with a funny exception:

[code]

[2016-08-16 17:57] #1437 closed

[2016-08-17 06:12] smarter commented on #1454
How come this issue does not manifest itself with scalac?

[2016-08-17 06:14] smarter commented on #1454
Also, is there any way to fix this other than completely disallowing classes to have the same case-insensitive name?

[2016-08-17 22:36] #1430 closed

[2016-08-18 03:38] #1432 closed

[2016-08-18 06:20] olafurpg opened #1457 "3 incompatibilities with scalac"
See: https://github.com/olafurpg/dotty/pull/2/files

All three examples compile fine with scalac while dotc emits a compiler error. I don't know if these incompatibilities are intentional or known bugs.

[2016-08-18 12:34] sjrd commented on #1447
Hum ... I don't think this is the proper fix. `X$` accepts `null`, whereas `X.type` does not. These types should not be equal.

The proper fix, IMO, is for `Alias` to be inferred to have type `X.type`, instead of `X$`.

[2016-08-18 12:57] retronym commented on #1447
Not sure if this is the relevant or not, but I fixed a problem in scalac related to transitity of `<:<` and `=:=` being broken for:

[code]

Here's the test:

https://github.com/scala/scala/blob/b8e4d1f692c5712990b45f50625627015112df32/test/junit/scala/reflect/internal/TypesTest.scala#L38

[2016-08-18 13:36] Jasper-M commented on #1454
Scalac doesn't generate a class with static forwarders for inner objects. For toplevel objects and classes it has the same issue on OS X.

[2016-08-18 18:53] smarter commented on #1447
@sjrd What you're suggesting might be better in principle but note that module classes are not nullable in dotty, so the difference might not be observable: https://github.com/lampepfl/dotty/blob/5a5f9d7ed37ca6449ef61ee5e0f6fbf9731df795/src/dotty/tools/dotc/core/SymDenotations.scala#L616-L618

[2016-08-19 04:38] sirinath commented on #1260
Add an optional `:-` separator for `implicit`. E.g. `(implicit:- x: T, y: U)`. `:-` means applies to all. Similarly you can have `(x, y -: U)` or `(x, y: U)` if you want.

[2016-08-19 05:48] sirinath commented on #1260
Also implicits can simply become annotations.

[2016-08-19 08:25] nicolasstucki commented on #1260
I assume that this change in syntax should also be reflected on lambdas with implicits. @odersky do you have a proposed syntax for those cases? In particular consider a method that has a parameter that is a lambda which receives one implicit parameter. Would that clash with the Or type with`null` mentioned by @DarkDimius?

[2016-08-19 08:51] sirinath commented on #1260
Another way might be `(x: T = _, y: U = _)` where `_` means implicitly resolved. This way `?` can be reserved for or with Null. E.g. `(x: T? = _, y: U? = _)`

[2016-08-19 16:28] svieira commented on #499
I would argue that treating `=> T*` as a `Seq[Function0[T]]` makes far more sense that `Function0[Seq[T]]` because it is possible to do everything the latter enables in terms of the former, but not vice-versa.

An example:

[code]

[2016-08-20 13:15] jvican commented on #510
Very useful information here. Just tried to use some of it to further optimize dotty by changing the order of the pattern match in `TreeTraverser`. Unfortunately, it's not worth it--the HotSpot JVM performs branch reordering in C2. While I knew this from the beginning, I was hoping that the JVM would give up to optimize `traverse` for highly-nested if branches. It seems that's not the case, though

[2016-08-21 16:22] #1444 closed

[2016-08-23 08:32] odersky commented on #1457
Hi Olaf, can you make a PR against dotty master and put the tests in pos/pending please?

[2016-08-23 08:38] odersky opened #1462 "Bad code generated for lazy vals with try"
See tests/run/pending/t2333.scala.

Running this gives:

Exception in thread "main" java.lang.VerifyError: Inconsistent stackmap frames at branch target 36

[2016-08-23 09:01] odersky opened #1463 "Bad code for pattern matches with values."
Consider the following test case adapted from pending/run/t3150:

[code]

Dotty causes a class cast exception in three scenarios, scalac only in the last. Each class cast exception is a bug. We should decide what the precise typing and comparison rules for pattern matches involving equals tests are.

[2016-08-23 09:07] smarter commented on #1463
See the discussion in https://issues.scala-lang.org/browse/SI-1503 for more context, note that this is one of these cases where you can't trust the spec: it was updated following some discussions in this bug report and the proposed solution was later found out to be incorrect and reverted, but the spec wasn't updated. Anyway the only sane and correct thing to do here is that in:
[code]
`n` should

[2016-08-23 09:09] smarter commented on #1463
This should also be the behaviour of Scala 2.12 and Scala 2.11 with `-Xfuture`

[2016-08-23 10:17] olafurpg commented on #1457
Done, see #1464.

[2016-08-23 21:50] DarkDimius commented on #25
the fix was fixing https://github.com/felixmulder/dotty/issues/25

[2016-08-24 08:01] nicolasstucki opened #1468 "Missing type apply for scala.Dynamic"
[code]

The current behaviour is to convert the call to `applyDynamic("foo")[Int]()` which then fails type checking with an error message that is not useful.

[2016-08-24 11:48] nicolasstucki opened #1470 "In scala.Dynamic, applyDynamic should be called if the method is not accessible."
See https://github.com/lampepfl/dotty/blob/master/tests/pending/run/t5040.scala

[2016-08-24 12:32] DarkDimius opened #1471 "Cleanup dotty binary dependencies."
Over the last 6 month dotty started to require both scala-reflect and sbt on the classpath to run.
I don't think we should have any binary dependencies on them when simply using Dotty main entry-point(dotty.tools.dotc.Main)

[code]

[code]

[2016-08-24 12:41] DarkDimius commented on #1121
because of #1471 reproducing this became much harder. Here's the right classpath today:
[code]

[2016-08-24 17:06] stuhood commented on #1260
How about allowing use of a keyword in the default syntax?

[code]

On Aug 19, 2016 1:51 AM, "Suminda Dharmasena" <notifications@github.com>
wrote:

[2016-08-24 17:11] Blaisorblade commented on #1260
@stuhood Most proposals are about implicit parameter lists—but all parameters in the same list are of the same "implicitness", unlike in your example. Going in that direction seems be more problematic though I admit I lack ATM a specific example of problems with it.

[2016-08-24 21:21] DarkDimius opened #1473 "[Links] Known incompatibilities with scalac"
This issue is a list of issues where dotty by-design or by-intention does not support some of the code-patterns that were previously (partially) supported by scalac. Some of those features may be partially supported under `-language:Scala2`.

Dependent method types:
- ~disallowed dependent implicit methods https://github.com/lampepfl/dotty/pull/1467~

Overloading:
- disallowed overloading of param

[2016-08-24 21:22] smarter commented on #1473
I think it would make more sense to collect these in a wiki page.

[2016-08-24 21:23] DarkDimius commented on #1473
I would have agreed if people were reading wikis. My sample suggest that only a very small percentage of people does.

[2016-08-24 21:24] smarter commented on #1473
That suggests that we should advertise it better :). But I think a wiki page among 20 wiki pages is going to be read more than one issue among 160 issues.

[2016-08-24 21:26] smarter commented on #1473
Also, just as a sample point, the github statistics indicate that the "Getting Started" page of the wiki is read by slightly more unique visitors (100 vs 93) than the main "Issues" page: https://github.com/lampepfl/dotty/graphs/traffic

[2016-08-24 21:29] DarkDimius commented on #1221
Implemented in #1227.

[2016-08-24 21:29] #1221 closed

[2016-08-24 21:59] liufengyun commented on #1254
I have been playing with flamegraph during the holiday. It doesn't look good. As Dmitry commented, flamegraphs don't work well with recursive functions. I close this issue for now.

https://dl.dropboxusercontent.com/u/54580502/flamegraph.svg

[2016-08-24 21:59] #1254 closed

[2016-08-24 22:08] DarkDimius commented on #1254
@liufengyun it seems that the flame grave you have build is for jvm that used frame pointer for different purposes. Try building it with `-XX:+PreserveFramePointer` passed to java, it should look better.

[2016-08-25 02:54] sirinath commented on #1260
I think new syntax should allow to pick and choose what is implicit.

[2016-08-25 07:37] nicolasstucki opened #1474 "Applies on idents do not get converted to applyDynamic."
[code]

[2016-08-25 15:38] DarkDimius opened #1478 "Compiling without stdlib on bootclasspath"
Running on 5e917498cfae480349ac18b11a680b3e73b14c50

[code]

[2016-08-25 16:06] odersky commented on #1478
Try with -Ylog-classpath?

[2016-08-26 09:03] #1405 closed

[2016-08-26 09:52] olafurpg commented on #1175
If structural types will not be supported, I think we will need a good migration story for patterns where structural types are used as type classes.

For example, consider the `Closeable` structural type in [better-files](https://github.com/pathikrit/better-files/blob/a45f9056ce80581c41c033a79756ec15629cb01e/core/src/main/scala/better/files/package.scala#L8-L10):

[code]

The `Closeable` structura

[2016-08-26 10:07] smarter commented on #1175
I don't think that the use of structural types here are a good idea, you shouldn't call `close` on something without knowing the semantics of `close` for that particular thing, `java.io.Closeable` documents the semantics of its `close` method and if `scala.io.Source` respects them then it should implement `java.io.Closeable`.

[2016-08-26 10:17] odersky commented on #1175
Ouch. I thought @soc had shown that nobody uses structural types!

If needed I believe the best strategy would be to just add them back, maybe under Scala-2 mode. Maybe there's some synergy to be had with `applyDynamic`, and maybe we can use `DynamicInvoke` for the implementation.

So, question: Can we write a "native" implementation of `applyDynamic` which uses the platform's reflection? cc @dens

[2016-08-26 11:21] martijnhoekstra opened #1480 "Tests failing on Windows"
Tests on Windows are failing for multiple reasons
- Path separators are assumed and checked to be "/"
- partest fails to copy ValueClasses.flags
- newline differences
- default encoding problems in slurp and writeAll

Some fixes in:
- https://github.com/martijnhoekstra/dotty/commit/e4adf409c9093e0e5c34be3b9473d82f8d33392a (file paths and a missing string interpolator)
- https://github.com/martijnh

[2016-08-26 11:58] olafurpg commented on #1175
I agree. In addition, there is a performance penalty to pay at runtime. Structural are in general an anti-pattern, in my opinion. However, there is no denying that structural types are (by far) the most syntactically lightweight solution for this situation with `Closeable`.

It would make migration at lot smoother where structural types are used.

An alternative solution would be to make the type

[2016-08-30 16:10] liufengyun opened #1484 "[debug] code gen for WHILE loop unfriendly for debugging"
Given the code:

[code]

The compilation generates following code, which has an unnecessary jump at the beginning:

[code]

[2016-08-30 18:14] DarkDimius commented on #1484
My guess is that Closure tree has wrong position.

On 30 August 2016 19:49:01 liu fengyun <notifications@github.com> wrote:

[2016-08-31 00:27] demobox commented on #1373
**grin**

[2016-08-31 07:45] liufengyun commented on #1484
It seems to me it's related to how `while` is compiled. The code snippet above compiles to something like follows:

[code]

With such a translation, it seems natural for the backend to generate the byte code above.

[2016-08-31 07:56] DarkDimius commented on #1484
@liufengyun, is the problem that you can see this forward jump in the debugger? if yes, this may be because `while$()` tree has wrong position. AFAIK this can be fixed without changing the compilation scheme of labels.

[2016-08-31 08:00] liufengyun opened #1485 "[debug] variable renaming in for-translation reduces debuggability"
In compiling following code piece:

[code]

The inner-most lambda gets translated to a method as follows, with `i` renamed to `i$1`:

[code]

[2016-08-31 08:04] liufengyun opened #1486 "[debug] incorrect jumping between cases in patmat"
When step through the method `f`, it jumps randomly back and forth in cases.

[code]

[2016-08-31 08:10] liufengyun opened #1487 "[debug] tail IF expression in a method"
When stepping through following code with `x == 0`, it will go through line 2 and **5**, while the correct path should be 2, **3**.

[code]

[2016-08-31 08:14] liufengyun commented on #1484
@DarkDimius Yes, when I step through the code, it first goes to the end of `WHILE` and then goes back to the beginning. I'll investigate as you hinted, thanks a lot.

[2016-08-31 08:42] liufengyun opened #1488 "[debug] unfriendly jumping in evaluating lazy val block"
When stepping through the evaluation of the lazy block, it will jump back and forth between line 1 and `LazyHolders.scala` several times, that's acceptable, given how lazy vals are implemented.

However, it also jumps to the end of the block **before** evaluation of the body, which is not friendly.

[code]

[2016-08-31 08:44] DarkDimius commented on #1488
@liufengyun, lazy vals are implemented differently depending on if they are:

 - a field or a local variable;
 - `@volatile` or not;
 - nullable or not.

which particular case in this choice-space was examined?

[2016-08-31 08:47] liufengyun commented on #1488
Thanks for the tip. It's local variable for this issue, without additional annotation. I'll test other kinds of lazy vals as you indicated.

I've updated the code to provide more context.

[2016-08-31 08:53] liufengyun commented on #1488
@DarkDimius FYI, lazy val fields debug well.

[2016-08-31 10:58] DarkDimius commented on #1486
I have an idea to try to fix all those issues with pattern-matching\closures\whiles.
What if we don't emit line numbers for:
 -  `Apply` nodes if the target has flag `Label`;
 - `Closure` nodes if the target has flag `Synthetic`;
 - `DefDef` that has flag `Label`.

@liufengyun, you can try this out be redefining `DottyBackendInterface.treeHelper.pos` to return NoPosition for those cases.

[2016-08-31 11:42] liufengyun commented on #1486
@DarkDimius thanks a lot, I'm trying.

[2016-08-31 11:46] retronym commented on #1486
related scalac ticket: https://github.com/scala/scala-dev/issues/187

[2016-08-31 12:29] liufengyun commented on #1486
@DarkDimius I tried with following changes, the problem still persists.

[code]

Thanks for the pointer @retronym , It's interesting to know IntelliJ behaves different from jdb.

[2016-08-31 16:27] liufengyun commented on #1487
The commit 3beddb3 partially fixed the pos of literals. To completely fix this problem, it seems we need to change the codegen:

[code]

Following generated code illustrates this change:

[code]

[2016-08-31 20:27] DarkDimius commented on #1487
@liufengyun, I don't thing that's a change that we can easily make.
goto isn't aware that it jumps to a return: it just jumps to the end of the if.

What we can to do though, is make the return have line __6__ in your example, which will be more logical.

[2016-08-31 20:44] liufengyun commented on #1487
@DarkDimius that's what I tried initially. It has following problems:

1. It will trigger an additional stop at the end of the method (not a big issue).
2. If the `{ }` is omitted, `ireturn` will have the same line number of the `else` branch, thus have the same issues.
3. The `LabelDefs` removes the enclosing `{ }` in the code example above, thus have the same problem as in 2.

[2016-08-31 21:04] DarkDimius commented on #1487
I'm working on a rewrite of LabelDefs. Unfortunatelly it introduces 2x slowdown so far....

@liufengyun, another option is give the return position of method start(line 1 in your example).

[2016-08-31 21:11] liufengyun opened #1490 "Incorrect type test of union types via type alias"
[code]

[2016-08-31 21:27] liufengyun commented on #1487
That can be a simpler workaround. I  agree making `genLoadIf` context-aware will complicate the code unnecessarily.

[2016-09-01 12:46] smarter commented on #1480
Thanks for looking into this! Would you mind opening a pull request with your fixes? For https://github.com/martijnhoekstra/dotty/commit/76f5ff30faea01f4e3a42774c98c2b0c54dbb19d you might be able to set UTF8 as the default codec for everything in tests instead. I'm not sure what the best way to do this is, maybe pass `-Dfile.encoding` to the test jvm? /cc @sjrd

[2016-09-01 15:14] #1490 closed

[2016-09-02 08:53] martijnhoekstra commented on #1480
@smarter now that I'm properly including scala-scala, I have a bunch more encoding problems, I'll try to find a better solution. would you like a PR for the first two commits first?

[2016-09-02 15:39] smarter commented on #1480
Sure.

[2016-09-02 16:48] martijnhoekstra commented on #1480
done in https://github.com/lampepfl/dotty/pull/1493

[2016-09-05 16:34] joost-de-vries opened #1495 "Using union types together with literal singleton types"
This is a follow up on a gitter conversation with @smarter

I'm getting accustomed to some very handy uses of union types and literal singleton types in the Typescript part of our application. I've been trying this and some other TS uses of union types my beloved Scala with Dotty.

Things don't seem to work quite yet.

The most useful one is using _union types with literal singleton types_.
At the

[2016-09-05 16:47] smarter commented on #1495
1. Union types with singleton types is something I'll try to look at in the next few weeks.
2. Currently `Null` is a subtype of every non-value class, non-nullable types are on our roadmap but require a substantial amount of work, especially if you want smooth interoperability with Java/Scala2
3. Your example works if you replace `val pet = getSmallPet()` with `val pet: Fish | Bird = getSmallPet()

[2016-09-06 14:32] felixmulder commented on #1495
To add to this discussion, it doesn't seem like this is possible anymore:

[code]

Ping @smarter

[2016-09-06 15:58] smarter commented on #1495
@felixmulder Your example works fine on the latest master, probably fixed by #1491

[2016-09-06 16:07] felixmulder commented on #1495
The example in question was:

[code]

Which before #1491 would yield:

[code]

[2016-09-06 16:57] k0ala opened #1497 "Is it possible to build 'composite' methods, to benefit from JVM TCO?"
A comment in [TailRec ](https://github.com/lampepfl/dotty/blob/fb19d0bd248c01f29c9e217170e20f46d84e3028/src/dotty/tools/dotc/transform/TailRec.scala#L31) states that
[code]

Is it possible to build a self-recursive composite method out of mutually recursive methods, in order to benefit from the self-recursive tail call optimization of the JVM? i.e. when the following is detected:
[code]

then to r

[2016-09-06 17:04] felixmulder commented on #1497
AFAIK this is not possible on the JVM - @densh might have something more for you on what is going on in scala-native.

http://programmers.stackexchange.com/questions/157684/what-limitations-does-the-jvm-impose-on-tail-call-optimization

[2016-09-06 17:04] DarkDimius commented on #1497
@k0ala, it is possible, and you won't even need to jump back into `match` around from inner branches, you'll be able to jump directly to the expected case.

There are several issues

[2016-09-06 17:12] k0ala commented on #1497
@felixmulder I meant that the compiler should rewrite such a constellations into a single composite tail-recursive method, so that the (current) JVM is able to optimize it. But I'll also look into scala-native, thanks.

@DarkDimius Interesting. What do you think are major obstacles to this approach?

[2016-09-06 17:12] DarkDimius commented on #1497
We have some other transformations which are higher priority for us.
Working on this transformation right wouldn't be the easiest way to start working on Dotty, but I'd be glad to help if some-one steps up.

[2016-09-06 17:24] felixmulder commented on #1497
@k0ala - ah well then, as Dmitry mentions - that would be possible. @DarkDimius - is this something we should consider for linker?

[2016-09-06 17:31] DarkDimius commented on #1497
@felixmulder, yes, this is a nice idea.
Though getting the transformed tree to Ycheck may be very complex, even more if the methods used to originate from different classes. It may be made easier after we have decided on what are the restrictions on `@inline` methods. Thinking about it, the restrictions in both cases seem similar to me.

[2016-09-06 19:56] densh commented on #1497
@felixmulder Speaking of Native, as soon as we fix https://github.com/scala-native/scala-native/issues/122, LLVM should optimise tail calls for us.

[2016-09-07 07:35] k0ala commented on #1497
@DarkDimius Interesting links about inlining/unrolling. Could it make sense to make the composite method only a kind of dispatcher, with most of the bodies of the functions "outsourced"? So that would yield something like

[code]
This would reduce the size of the method, and although it would cause the creation of stack frames when calling a body, there would always be only one stack frame on top

[2016-09-07 08:24] densh commented on #1175
@odersky @soc Structural type is the only language feature we don't support at all on Native at the moment. It is indeed trickier to implement for us, given that both runtime and compiler need to have special support for the new kind of method dispatch. We'll revisit this issue once we have initial support for `java.lang.reflect.*` (https://github.com/scala-native/scala-native/issues/159).

[2016-09-07 08:48] retronym commented on #1497
/cc @wheaties, who is experimenting in this space https://github.com/wheaties/TwoTails

[2016-09-07 10:22] wheaties commented on #1497
@k0ala that's a technique I'm going to explore once I get the base case of what I'm writing worked out.

@DarkDimius are you saying labels are not easily optimized?

[2016-09-07 11:25] DarkDimius commented on #1497
@wheaties, lablels are gotos. By creating a huge method that contains bodies of all the methods in the recursive group, you would quickly hit some constants in the JIT that would make a lot of important optimisations not performed, most important of which is inlining. Note that even the current tailrec we can stop VM from applying some optimisations, see for example here: https://shipilev.net/blog

[2016-09-08 08:10] OlivierBlanvillain opened #1500 "Implicit search breaking with covariant/contravariant parameters"
Edit: The last test case still breaks with covariant type parameter (but passes without)

---

Below are 3 test cases showing the implicit search breaking at a certain depth. The first is non recursive:

[code]

Similar example with `Nat`s:

[code]

Seams to happen sooner with `HList`s:

[code]

[2016-09-08 13:51] nicolasstucki opened #1501 "Class extended to a trait fail on invokespecial when mixed in."
[code]

will fail with:

[code]

[2016-09-08 13:58] DarkDimius commented on #1501
@nicolasstucki, this shouldn't compile at all.

in your example `C` has two superclasses - `A` and `D`.

[2016-09-08 14:11] nicolasstucki commented on #1501
@DarkDimius I was trying to reproduce the bug we looked at earlier and wasn't able. I got this while fuzzing the code a bit to try to reproduce it.

[2016-09-09 13:54] nicolasstucki opened #1503 "Anonymous functions direct application crash the compiler."
[code]

Note that this does not fail if the `apply` method is written explicitly.

[code]

[2016-09-12 10:13] lrytz commented on #1441
Even:

[code]

[2016-09-12 10:18] lrytz commented on #1441
ah no i got confused.. it's re-written to `this`. deleting the comments.

[2016-09-12 12:00] felixmulder opened #1505 "Clean up branches"
I want to clean up the amount of branches in the project for the release infrastructure. Preferably I'd like to delete all of these, let me know if you have objections.

* [x] `DarkDimius-patch-1` (@DarkDimius)
* [x] `DarkDimius-patch-2`
* [x] `DarkDimius-patch-3`
* [x] `DarkDimius-patch-4`
* [x] `DarkDimius-patch-5`
* [x] `DarkDimius-patch-6`
* [x] `DarkDimius-patch-7`
* [x] `SethTisue-patch-1` (

[2016-09-12 12:21] DarkDimius opened #1506 "Repl: typechecking error leaking internals of repl"
[code]

[2016-09-12 15:56] felixmulder commented on #1503
Leaving these notes here for tomorrow. Basically when typing:

[code]

The `typedApply` function receives a block in `fun1`:

[code]

That has the type `MethodType` instead of a TermRef (extracted via `methPart(fun1)`). We could patch this by creating a block with a `val` which rhs is the `tree.fun` and then applying it with  `tree.args` - but we're unsure why the block original block in `fun1` ge

[2016-09-13 13:20] felixmulder commented on #1503
In `Typer.scala#ensureNoLocalRefs` we ascribe a type while avoiding `localSyms`. This is where the `MethodType` comes from.

[2016-09-13 14:28] OlivierBlanvillain opened #1507 "Failing .type on class parameter"
[code]

fails with

[code]

(Simple workaround: change `k: K` to `val k: K`)

[2016-09-13 14:43] julienrf commented on #1507
What result would you expect? (I think that’s scalac behaves the same)

[2016-09-13 15:19] sjrd commented on #1507
IMO this is *exactly* what we want. The public `def example` must not have a type that depends on the private `k`.

[2016-09-13 15:32] OlivierBlanvillain commented on #1507
Makes sense, thanks @sjrd

[2016-09-13 15:32] #1507 closed

[2016-09-14 07:41] #1335 closed

[2016-09-14 08:32] felixmulder commented on #1500
Only partially fixed by fe09615

[2016-09-14 09:46] #1505 closed

[2016-09-14 12:06] felixmulder commented on #1236
Has been amended to the SIP: https://github.com/scala/scala.github.com/pull/571

[2016-09-14 12:06] #1196 closed

[2016-09-14 12:10] felixmulder commented on #1158
@DarkDimius - is this still an issue?

[2016-09-14 12:21] #828 closed

[2016-09-14 12:24] #797 closed

[2016-09-14 12:25] felixmulder commented on #797
Fixed in https://github.com/lampepfl/dotty/pull/795

[2016-09-14 12:29] #685 closed

[2016-09-14 12:31] #654 closed

[2016-09-14 12:47] felixmulder commented on #78
Fixed in https://github.com/lampepfl/dotty/pull/1072

[2016-09-14 12:47] #78 closed

[2016-09-14 14:41] nicolasstucki opened #1510 "Unformated tree in error emitted when abstract member is not defined."
[code]

[code]

Note that the types are printed as trees.

[2016-09-14 15:20] #1236 closed

[2016-09-15 09:55] OlivierBlanvillain opened #1513 "Fixed a type parameter "by name" should be equivalent than fixing it with a value"
In the following example I would expect `list.at2(Proxy[Succ[Succ[Zero]]])` and `list.at1[N = Succ[Succ[Zero]]]` to be equivalent, only the first one compiles.

[code]

[2016-09-15 09:57] OlivierBlanvillain commented on #1513
Printing the contraints gives the following for `at1`:

[code]

(`OO <: Test.Nat` should not be)

[2016-09-15 15:31] #1446 closed

[2016-09-15 16:30] OlivierBlanvillain opened #1515 "Pattern matching on GATD generating `.asInstanceOf[Nothing]`"
The following example:

[code]

Fails at run time with `java.lang.ClassCastException: java.lang.Integer cannot be cast to scala.runtime.Nothing$`.

[2016-09-15 16:51] smarter commented on #1515
I have some work-in-progress GADT fixes that I think are related to this, I'll take a look in the next few days

[2016-09-16 10:20] odersky commented on #1503
I would compare with

    ({() => println("hello")})()

1. In Printers, turn `typr` printer on.
2. Run compilation with -Ylog:front and pipe the result into a file
3. Do the same with the Function0 code.
4. Diff the two logs. That will show where we go wrong with the Function0 code.

[2016-09-16 12:52] smarter commented on #605
The fix is to stop after pickling when `-Ytest-pickler` is on, it should always imply `-Ystop-after:pickler`

[2016-09-16 15:47] felixmulder opened #1516 "Implement support for meta"

[2016-09-16 15:47] felixmulder opened #1517 "Decide upon approach to structural types"

[2016-09-16 15:48] felixmulder opened #1518 "XML String interpolator"

[2016-09-16 15:48] felixmulder opened #1519 "Decide upon Compiler Plugin architecture"

[2016-09-16 15:51] felixmulder opened #1520 "Move Scalac backend fork to lampepfl"

[2016-09-16 16:51] #1468 closed

[2016-09-16 16:51] #1470 closed

[2016-09-16 16:51] #1474 closed

[2016-09-16 16:56] #1510 closed

[2016-09-16 17:05] #1513 closed

[2016-09-16 18:57] DarkDimius commented on #1520
@felixmulder, what does this task mean?

[2016-09-16 19:02] felixmulder commented on #1520
Good question - I'd rather @smarter or @odersky explain this for fear of getting it wrong. Otherwise let's talk about it on Tuesday.

[2016-09-16 19:04] lrytz commented on #1520
please summarize the discussion here once things clear up, i'd like to be in the loop on this one, understand what is meant.

[2016-09-16 19:20] odersky commented on #1520
I think the idea is that we see little value maintaining the scalac backend
bridge. Right now it looks to us that this bridge won't be maintained by
the Scala team. So this means that

 (1) we are still tied to a snapshot of the scalac backend, instead of
being able to upgrade continuously
 (2) only Dmitry knows how to do fixes for the backend
 (3) Doing any fixes to the backend is needlessly comp

[2016-09-16 19:43] #1457 closed

[2016-09-16 20:01] lrytz commented on #1520
Do you mean to copy the source into the dotty compiler?

I think the original idea was to merge the backend abstraction layer into the Scala compiler, there was an attempt, but that didn't get very far (https://github.com/scala/scala/pull/4136). The work to get that in would have to come from dotty's side.

There is likely some value in keeping the same backend for the two compilers (there will be

[2016-09-17 09:49] odersky commented on #1520
On Fri, Sep 16, 2016 at 10:01 PM, Lukas Rytz <notifications@github.com>
wrote:

Yes, that's the crux of the matter. There's nobody willing to sign up to do
this. Since we are a volunteering effort there's little we can do to change
this.

—

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-09-17 12:26] jvican commented on #1516
What is necessary for the `meta` support in Dotty?

[2016-09-18 09:59] #1503 closed

[2016-09-19 09:25] olafurpg commented on #1517
Related discussion #1175.

[2016-09-19 17:58] sschaef opened #1523 "Presentation Compiler"
This contains discussion about the introduction of a PC in dotc.

Quote from @odersky (https://github.com/lampepfl/dotty/pull/1521#issuecomment-248040716)

static analyses do you have in mind which would be hard to do?

IntelliJ code inspections come to my mind: https://www.jetbrains.com/help/idea/2016.2/code-inspection.html

compiler-specific, so hard to abstract over. (b) the typed trees that th

[2016-09-19 18:56] odersky commented on #1523
Neither of them seem to need a fast response integration with an editor, so maybe OK to leave out from the PC. Refactorings are useful and inportant, however.

[2016-09-19 19:02] odersky commented on #1523
Dotty treats positions a bit differently from scalac. The architecture is as follows:

 1. There are (immutable) untyped and typed trees. The job of the typer is to map one to the other.

 2. Untyped trees are very close to source and have precise range positions. For instance,
     for-expression generators and filters are expressed as particular untyped trees.

 3. Typed trees are a desugared su

[2016-09-19 19:45] sschaef commented on #1523
Ok, so I see two different cases:

1. An interface, which exposes basic functionality like code completion and error markers. This is what the PC can be for (and also what the language server protocol can provide).
2. An interface, which gives full fledged access to the trees. This is what a compiler plugin could provide, no need to expose it through the PC.

What was said about how dotc trees wor

[2016-09-19 20:43] smarter commented on #1523
Just saw that there's now Java support for VSCode: http://developers.redhat.com/blog/2016/09/19/java-language-support-for-visual-studio-code-has-landed/ with a server written in Java based on Eclipse JDT: https://github.com/gorkem/java-language-server

[2016-09-20 08:47] sschaef opened #1524 "Command line arguments not working for REPL"
[code]

[2016-09-20 08:58] felixmulder commented on #1524
Workaround:

[code]

[2016-09-20 09:01] felixmulder opened #1525 "Make `./bin/dotr` distinguish between running programs and running REPL with arguments"
`./bin/dotr` is currently not able to distinguish between what are command line arguments to the REPL and running a program.

Workaround:

[code]

[2016-09-20 09:02] felixmulder commented on #1524
Superseded by: #1525

[2016-09-20 09:02] #1524 closed

[2016-09-20 09:15] felixmulder opened #1526 "Make `./bin/dotr` on-par with `scala` script"
The `scala` script has a larger amount of sophistication than our current `./bin/dotr`. Help text from `scala` script:

[code]

[2016-09-20 13:56] lihaoyi commented on #1347
FWIW [uPickle](https://lihaoyi.github.io/upickle-pprint/upickle) and [PPrint](https://lihaoyi.github.io/upickle-pprint/pprint) are pretty heavy uses of generic derivation. uPickle is very common in Scala.js land since it's lightweight and cross-platform, and PPrint is used by the Ammonite REPL.

Both make use of the same, bespoke generic-derivation system which lives entirely in https://github.com

[2016-09-20 14:16] gkossakowski opened #1527 "Dotty's parser has scaling issues in parallel execution"
Benchmarking shows that dotty's parser scales reasonably (near linearly) just up to two threads. The throughput doesn't improve much when more than two threads are added that share the same context object.

See the exact numbers here:

[code]

As you can see, the increase in throughput between two and four threads is minuscule.

From the numbers above you can see that dotty's parser achieves the p

[2016-09-20 14:24] DarkDimius commented on #1527
@gkossakowski is this because you have 2 memory channels and the benchmarks is memory bound?

[2016-09-20 14:51] gkossakowski commented on #1527
Unfortunately, I don't understand the question. My guess is that dotty's parsing is contended on concurrent access to the name table (implemented as a custom hash table in dotty).

[2016-09-20 15:15] DarkDimius commented on #1527
@gkossakowski In some(heavily optimized) applications, the bottleneck isn't the cpu power. It's the speed at which they can consume\produce the data. This is because the contemporary cpu's commonly have less memory channels than cores.

Eg, in ScalaBlitz, Array.sum operations wasn't benefiting from increase of number of cores bigger then number of memory channels, as it was entrirely saturating th

[2016-09-20 18:55] odersky commented on #1527
On Tue, Sep 20, 2016 at 4:51 PM, Grzegorz Kossakowski <
notifications@github.com> wrote:

Yes, that's probably right. But at ~300K lines per second per thread, it
does not really seem a bottleneck right now.

Cheers

- Martin

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-09-22 14:50] OlivierBlanvillain opened #1531 "Abstract members wrongly implemented by class arguments"
The following code compiles:

[code]

I would expect to fail with following error like it does in scalac:

`error: class A needs to be abstract, since def f: => Int is not defined`

[2016-09-22 14:52] OlivierBlanvillain commented on #1531
Example of it failing at runtime:

[code]

[2016-09-22 14:52] XuefengWu opened #1532 "Union types are approximated too often, especially in the REPL"
union type works well in container type.

[code]

but if union type value is not in container, it's result type is Any

[code]

and it also doest work for method.

[code]

the result type should be union type.

[2016-09-22 15:01] XuefengWu opened #1533 "Int convert to Double when unnecessary"
[code]

the compiled code box the second result type is Double but not Int.

if use pattern match, it works well in dotty

[code]

but this also doest not works well in  scalac 2.11/2.12

[2016-09-22 15:04] smarter commented on #1532
Yes, we widen union types too much as discussed in https://github.com/lampepfl/dotty/issues/1495

For now, you can run the compiler with `-language:keepUnions` (though there's a reason this is not the default, see http://guillaume.martres.me/talks/dotty-tutorial/#/1/13 (use the ↓ arrow key to see the full slide)), you can run the repl with arguments like this: `dotc -repl -language:keepUnions`

[2016-09-22 15:10] XuefengWu commented on #1532
Thank you for explanation.

On Thu, Sep 22, 2016 at 11:05 PM, Guillaume Martres <
notifications@github.com> wrote:

--

~Yours, Xuefeng Wu/吴雪峰  敬上

[2016-09-22 15:19] DarkDimius commented on #1533
This is a result of weak subtyping(see Scala spec section 3.5.3).
`if` version is evaluated as follows:
[code]

where the second `if` part will be promoted to a common type that can capture both ints and doubles.

In case of pattern matching, all 3 versions are joined together as whole and there's no moment when compiler tries to maintain primitives.

[2016-09-22 15:24] XuefengWu commented on #1533
Thank you for explain.
So only the scalac has bug for pattern match result type?

[2016-09-22 15:30] DarkDimius commented on #1533
@XuefengWu. Pattern matching is underspecified in this regard. If you'd count scalac as reference implementation, our behaviour should be considered a bug instead.

Spec'ing pattern matching is something that we've been planning to do.

For those interested to see the underlying reason in discrepancy between Dotty and scalac:

  - scalac maintains a typer during all the phases in the tree generate

[2016-09-22 17:04] XuefengWu commented on #1533
Thanks, I would open an issue for scalac.

[2016-09-22 17:47] smarter commented on #1533
Reopening so that we can discuss whether we would like to actually change this or not, maybe weak subtyping adaptations should not kick in when there's an expected type?

@odersky, what do you think of this:
- scalac:
[code]
- dotty:
[code]

[2016-09-23 09:44] OlivierBlanvillain opened #1535 "Exponential type checking time of nested Tuples"
This example complies in ~16 seconds on my machine, and goes to ~32 seconds with one additional level of nesting.

[code]

This explosion only happens when _both_ the type and the value are provided, commenting the `:` line or replacing the `=` line with `= ???` leads to normal compilation times. For some reason things work fine when replacing `C` with `Tuple2`.

[2016-09-24 17:51] sschaef opened #1537 "Update documentation for Eclipse setup"
The docs on [how to build dotty in Eclipse](https://github.com/lampepfl/dotty/wiki/Building-Dotty-on-Eclipse) are outdated, they are not enough to build dotty successfully in Eclipse because some dependencies are not found. For example there are compilation errors in `dotty/src/dotty/tools/backend/jvm/DottyBackendInterface.scala` because types such as `ApplyDynamicDeconstructor` are not found. Whe

[2016-09-24 17:55] felixmulder commented on #1537
Hi @sschaef - thanks for reporting on this. Since @odersky is the only person currently running Eclipse - he's best poised to answer this question.

Thanks again for reporting on this,
Felix

[2016-09-24 18:02] smarter commented on #1537
This stuff comes from the scalac fork where the dotty backend resides, did you follow the second step precisely? It says to add the latest jar you'll find in l`.ivy2/cache/me.d-d/scala-compiler/jars/`

[2016-09-24 18:19] sschaef commented on #1537
I see, I thought a more recent compiler version was needed than the one that was available the time when the docs were written. Therefore I ignored this step. The compilation errors indeed go away after including this predefined scala-compiler JAR.

Are these types hardcoded in the compiler? Because Eclipse still can't find the definitions of these types.

There is only one compilation error left:

[2016-09-24 18:52] smarter commented on #1537
No: https://github.com/DarkDimius/scala/blob/sharing-backend/src/compiler/scala/tools/nsc/backend/jvm/BackendInterface.scala#L360

[2016-09-26 12:16] OlivierBlanvillain opened #1540 "Overloaded `isDefined` or `get` breaks option-less pattern matching"
Overloading `isDefined` or `get` as in the following example crashes dotc on this [assertion](https://github.com/lampepfl/dotty/blob/80cbe114cc5d641d66512c58402eca4ae69f9f2a/src/dotty/tools/dotc/transform/Erasure.scala#L335):

[code]

[2016-09-26 13:10] sschaef commented on #1537
The last compilation error with `ENUM` can be solved by using scala-reflect 2.11.5 in favor of a newer version.

[2016-09-26 13:36] felixmulder commented on #1537
Thank you @sschaef - the wiki has been updated to include this information.

[2016-09-26 13:36] #1537 closed

[2016-09-27 11:50] nicolasstucki opened #1542 "Method call with more than 110 parameters fails assertion in TastyPickler."
[code]

[code]

[2016-09-27 11:53] DarkDimius commented on #1542
A question for fun: what source-code did you try to compile when you've found this bug?

[2016-09-27 11:59] nicolasstucki commented on #1542
It was just something that I was trying out while implementing functions with erasable phantom parameters.

[2016-09-27 12:04] nicolasstucki opened #1543 "Compiler crashes while normalizing function prototypes with more than 30 parameters."
Note: Currently function classes go up to 30 in dotty as a quick fix.

[code]

[code]

[2016-09-27 12:06] DarkDimius commented on #1543
Solution is proposed [here](https://github.com/lampepfl/dotty/pull/1422#issuecomment-235851512).

[2016-09-27 12:43] nicolasstucki commented on #1543
But it still looks like prototypes are too tightly bound to `FunctionN` class symbols. Which might not actually be used, just like in this case.

[2016-09-27 14:22] nicolasstucki opened #1544 "Method call in object with more than 109 parameters fails assertion in TastyPickler."
This issue is similar to #1542 but it manifests itself in a different place. It might have a shared fix with #1542.

[code]

[code]

[2016-09-27 16:03] sirinath commented on #1517
Perhaps it might be worthwhile to look into other languages like OCaml which uses structural types and also make this an opportunity to improve on structural types.

[2016-09-27 18:15] odersky commented on #1544
No the reason for this is completely unrelated to #1542. Have a look at the
actual assert. It's a length field in TASTY that overflows.

On Tue, Sep 27, 2016 at 4:22 PM, Nicolas Stucki <notifications@github.com>
wrote:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-09-28 06:58] odersky commented on #1544
More precisely, the signature of a name got longer than 128. Should be easy to fix, as the format allows for an arbitrary number of bytes for length fields.

[2016-09-29 01:32] cvogt opened #1546 "Create a "dotty ready" icon to help promote dotty"
An icon people can put on their websites and github projects to gamify getting your libraries ready for dotty and raise awareness :).

cc @felixmulder

[2016-09-29 01:34] cvogt opened #1547 "dotty.tools.dottydoc.api.java.Dottydoc.main is not static"
meaning dotty.tools.dottydoc.api.java.Dottydoc can't be invoked from the command line via java

[2016-09-29 04:31] felixmulder opened #1548 "Dottydoc is not runnable via `main`"
Dottydoc was never designed to be run using the main method of the driver - and as such will not produce output if this method is called - but it should.

A fix for this would be to:

* [ ] Override main in DocDriver and take flag `-out` into account
* [ ] Take template.html and resources as flag arguments
* [ ] Have a flag `generate` or similar to produce a static site given no arguments (using t

[2016-09-29 11:36] DarkDimius commented on #1546
👍

[2016-09-29 17:56] DarkDimius opened #1549 "Dotc script creaing wrong state"
I can't reproduce it, but I've already seen multiple cases when `dotc` script creates wrong `.packages` file:

[code]

ping @felixmulder

[2016-10-02 11:22] odersky opened #1551 "Allow Singleton types in Union types"
#1550 disallows singleton types in union types to avoid the problems uncovered by #829. But it would be good to allow them, if we can find a solid solution.

The current scheme is: (1) singleton types in unions are not allowed. (2) Therefore, when taking the lub, we widen every singleton type. Thats simple and consistent, but also restrictive.

[2016-10-02 11:24] odersky commented on #829
Superseded by #1551

[2016-10-02 11:24] #829 closed

[2016-10-02 23:09] dos65 opened #1552 "Load file in repl - eof expected but '}' found"
The example below failed with `<console>:8: error: eof expected but '}' found;}^`
[code]
But when i place braces in one line - it's work
[code]

[2016-10-03 07:27] felixmulder commented on #1552
Hi @dos65 - thanks for reporting this. It is indeed a bug in the REPL.

What happens is the following:

1. REPL sees that you're trying to load a file
2. Loads the file
3. Gives the contents of the file to `CompilingInterpreter` line by line
4. Tries to compile each line separately thus failing compilation.

A simple fix for this would be to join the lines or tell the `CompilingInterpreter` that i

[2016-10-03 17:50] felixmulder opened #1554 "Make bridge test a part of CI"
Currently, the tests that are a part of the bridge do not get run by CI. Ergo, any error in them will go unnoticed and we risk breaking master.

cc: @smarter

[2016-10-03 18:26] smarter commented on #1554
My plan was to wait until we switch to sbt/zinc 1.0 where the scripted tests should be much faster to run (because they don' t require starting a full instance of sbt for every single test), I think they currently they take about 25 minutes so we could enable them anyway

[2016-10-06 09:47] DarkDimius opened #1557 "Make dotty build reproducable"
Some work has been done: https://github.com/lampepfl/dotty/pull/952

[2016-10-06 09:53] felixmulder opened #1558 "Arrays of value classes"
The initial work on Arrays of value classes was completed by @VladimirNik. The current state of Arrays of value classes is described within this PR: https://github.com/lampepfl/dotty/pull/1228

If anyone wants to pick this up - you're more than welcome to pick up from this PR.

[2016-10-06 09:56] felixmulder opened #1559 "Remove bottom types that are not relevant for JVM"
Initial work in this PR: https://github.com/lampepfl/dotty/pull/1002

[2016-10-06 09:57] DarkDimius commented on #1558
In case @VladimirNik is not reachable, feel free to also ask me, as I've proposed the original idea.

[2016-10-06 13:45] olafurpg commented on #1517
Here is a summary of structural types containing defs in the wild: https://github.com/olafurpg/syntax-experiments/issues/2

The sample is taken from these projects: https://github.com/olafurpg/scala-repos/tree/master/repos

Seems like many of them are in scala/scala jetbrains/intellij-scala

[2016-10-06 13:54] felixmulder opened #1562 "Store file encoding in the Tasty section"
In addition to https://github.com/lampepfl/dotty/pull/1561

[2016-10-06 15:37] Blaisorblade commented on #1537
Just tried the new instructions: adding scala-reflect 2.11.5 wasn't quite enough, seemingly because 2.11.8 was still on the classpath.
To fix that, I removed the Scala library container and add a standard library as an external JAR from project `dotty`.

Since ScalaIDE defaults to the latest Scala, would it be an option to switch to that too?

[2016-10-06 15:41] smarter commented on #1537
We'd love that, the issue is that the dotty backend is a fork of the scalac 2.11.5 backend and needs to be brought up to date

[2016-10-08 07:46] OlivierBlanvillain opened #1567 "AnyVal Private constructor inlined (assertion error)"
This subtle example minimized from ScalaTest code base requires two files and a particular compilation order:

*1.scala:*
[code]

*2.scala:*
[code]

`run 2.scala 1.scala`

Leads to:

[code]

I'm guessing the generated code is correct, so maybe it should be enough to remove / relax the assertion?

[2016-10-08 18:27] nicolasstucki opened #1568 "Inline crashing compiler after cyclic reference detected."
[code]

[code]

[2016-10-08 18:49] nicolasstucki opened #1569 "Inline def with `inline x: => X` parameters do not respect semantics."
[code]

should print two times `"foo"` and return 84 but currently it just returns 84 without printing anything.

[2016-10-08 19:29] nicolasstucki opened #1570 "Question on semantics of inlined parameters."
[code]

currently has the following error
[code]

I would assume that `n` should be considered as a constant as at call site it will be a constant and `foo` is going to be inlined. Hence this should be allowed. Is this correct? Or, I'm missing something else?

[2016-10-08 19:56] odersky commented on #1570
Yes, I think that's correct. The argument should be legal.

On Sat, Oct 8, 2016 at 9:29 PM, Nicolas Stucki <notifications@github.com>
wrote:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-10-09 23:21] Blaisorblade opened #1573 "ArrayIndexOutOfBoundsException with call with too many args"
After fixing #1544 in #1572, I tried invoking the `Test.foo` method from the REPL.

[code]

However, that produced a crash in the REPL while typechecking the expression I typed:

[code]

[2016-10-10 00:20] Blaisorblade commented on #1527
To be sure, I'm trying this out on a 6-core 12-thread server, to check the contention doesn't get catastrophic and decrease performance from single-threaded execution, but it doesn't seem to be the case. But I'm using `project dotty-bench-jmh` and `jmh:run -t N`, is that correct?

[code]

[2016-10-10 03:49] retronym commented on #1527
I recently [fixed a bug](https://github.com/scala/scala/pull/5417) in `GenBCode` that was dooming any method with `synchronized` block (`def termName` is such a method) to a life of interpretation under the HotSpot JVM. Maybe dotty needs to update its dependency or fork of that.

[2016-10-10 03:56] retronym commented on #1527
Actually that method is `ACC_SYNCHRONIZED` (of the form `def foo = this.synchronized { ... }`) in a non-trait), so it isn't subject to that bug.

[2016-10-10 06:07] DarkDimius commented on #1527
Hi Paolo,
Would you mind telling what cpu your server has?

If it has 4memory channels this would be an independent validation that the
scaling here is limited not due to synchronised block, but memory bandwidth.

On 10 October 2016 1:20:13 a.m. "Paolo G. Giarrusso"
<notifications@github.com> wrote:

[2016-10-10 07:55] felixmulder opened #1574 "Scala.JS sandbox is broken"
On master doing: `sbt sjsSandbox/compile` results in:

[code]

ping: @sjrd

[2016-10-10 08:49] odersky commented on #1573
I think trying to fix long function types is futile right now. We should
work on the fix to get rid of Function22 and hold off until that is in.

2016-10-10 1:21 GMT+02:00 Paolo G. Giarrusso <notifications@github.com>:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-10-10 09:51] Blaisorblade commented on #1527
@DarkDimius Sure, but no clue how many memory channels this has. Below's cpuinfo for one processor. But IIUC that's not "validation" but "nonrefutation".

And your ScalaBlitz example described a lock-less scenario, while the culprit here has a synchronized block in an object, hence a global lock, so "lock contention" seems the most likely scenario, no? In other words, the bottleneck should be a si

[2016-10-10 09:59] retronym commented on #1527
I do find the design choice to use one big name table `in Names.table` for all instances of the compiler in a given classloader to be questionable.

Bikeshedding a little, I'd be tempted to store names as plain old `String`-s these days and rely on on http://openjdk.java.net/jeps/192 to keep the heap usage compact.

[2016-10-10 10:03] odersky commented on #1527
I don't have any new data, but I do remember that Neil Gafter tried this
for javac around 2005/06 ish. He got a 5% overall slowdown, so he reverted
the change.

Also, we have to see things in perspective: At 150K lines/sec/thread the
parser is certainly not a bottleneck.

On Mon, Oct 10, 2016 at 11:59 AM, Jason Zaugg <notifications@github.com>
wrote:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-10-10 10:22] OlivierBlanvillain commented on #1515
Ping @smarter (I think this issue is affecting large portions of Scalatest source code)

[2016-10-10 10:24] retronym commented on #1527
My main objection to the shared name table is that it looks like a memory leak. In scalac, the entire name table is discarded when the `Global` instance is released.

Just to complete my bikeshed, the other recent relevant JVM change is http://openjdk.java.net/jeps/254, which reduces storage for UTF-8 strings. JEP-192 avoids the most of the contention of using `String.intern` while (eventually) sh

[2016-10-10 10:28] odersky commented on #1527
Yes, the memory leak possibility is indeed the more worrying part. It would
be interesting to see whether it will become a problem in practice.

On Mon, Oct 10, 2016 at 12:24 PM, Jason Zaugg <notifications@github.com>
wrote:

--
Prof. Martin Odersky
LAMP/IC, EPFL

[2016-10-10 10:46] smarter commented on #1515
Alright, let me get this on top of my todo list

[2016-10-10 16:03] OlivierBlanvillain opened #1576 "Can't access methods of java declared annotations from scala"
Bumped into this with ScalaTest, the pattern seams to be used for all of their annotations. Quoting their scaladoc/javadoc:

Here is a minimized two file test case:

*TagAnnotation.java*:
[code]

*Access.scala*:
[code]

[2016-10-10 20:38] #1525 closed

[2016-10-11 13:30] felixmulder opened #1579 "Adapt the sbt bridge for the new error messages"
The sbt bridge currently does not use the new scheme for error messages.

It simply delegates the error message (not the complete error) to the sbt reporter. To fix this we should be able to simply do the following:
- Adapt `src/dotty/.../ConsoleReporter.scala` to produce a complete string of the whole error message before printing
- Hand the above string to the delegate in `bridge/.../DelegatingR

[2016-10-11 13:34] felixmulder opened #1580 "Write a HOWTO on compiling cbt projects with Dotty"
We need to create some simple documentation on how create a project with dotty using cbt. It should appear on our documentation website: http://lampepfl.github.io/dotty/docs/

* A markdown file should be placed in: https://github.com/lampepfl/dotty/tree/master/docs/docs/usage
* A table of contents entry should be added to: https://github.com/lampepfl/dotty/blob/master/docs/_includes/toc.html#L13

[2016-10-11 13:42] felixmulder commented on #1085
We currently have `dotr` and `dotc` for this issue. So I'm closing this issue, it might also be good to reference this issue here: #1526

[2016-10-11 13:42] #1085 closed

[2016-10-11 13:45] cvogt commented on #1580
Happy to add that.

[2016-10-11 13:47] felixmulder commented on #1554
I think at least we should be compiling the bridge on CI :)

[2016-10-11 15:08] cvogt commented on #1580
usage: https://github.com/lampepfl/dotty/pull/1581

[2016-10-11 15:09] cvogt commented on #1580
TOC entry: https://github.com/lampepfl/dotty/pull/1582

[2016-10-11 15:22] #1580 closed

[2016-10-11 17:20] smarter commented on #1551
Note that singleton types in unions can still slip through the cracks:
[code]

It's probably not worth trying to disallow this case before we try to make singleton types in unions actually work.

[2016-10-11 20:33] Arthurm1 opened #1583 "Can't import package beginning with "util""
opening a new REPL and trying to import a package with name _**util.xxx.yyy**_ gives an error...
[code]

The following gives no error even though "util.bar" doesn't exist...
[code]

using the following suggested by @felixmulder works...
[code]

[2016-10-11 22:56] Blaisorblade commented on #1527
Can't we just move the relevant hashtable to whatever the equivalent of Global is? Trying out the JEP changes would be more invasive and have a potential slowdown, so it'd be a separate change.

To show the bug matters we just need some long-running client that invokes Dotty multiple times in the same classloader (which should be reasonable). SBT might be an example, and it seems ScalaIDE and Ensi

[2016-10-12 06:05] fommil commented on #1527
It would be good if we could avoid the classloader problems of scalac, I've had to go to some incredible lengths to bypass problems on windows. See https://github.com/fommil/class-monkey for gory details, and the monkeys folder in ensime-server

[2016-10-12 09:30] odersky commented on #1527
On Wed, Oct 12, 2016 at 12:56 AM, Paolo G. Giarrusso <
notifications@github.com> wrote:

No, names have conceptually larger scope than a single global or, in the
case of dotty, root context). I tied that early on in the dotty design and
it became a mess quickly.

As long as you compile the same files, the nametable will not grow, since
everything is hashed. In my experience, even if you compile di

[2016-10-12 09:33] fommil commented on #1523
@smarter Eclipse Public License. Yuck.

[2016-10-12 09:45] Blaisorblade opened #1584 "Slow memory leak in Dotty's parser"
Splitting out of #1527 to give a clearer summary.

Dotty interns identifiers and never releases them, even if you drop the compiler instance, because the hashtable used for interning is stored in a static field. While this only leaks memory slowly, I'm not sure that's OK (though @odersky is not convinced this is a real problem). So if one wants to avoid this leak in Ensime/ScalaIDE, it seems one w

[2016-10-12 09:46] Blaisorblade commented on #1584
For completeness, let me [quote @odersky's response](https://github.com/lampepfl/dotty/issues/1527#issuecomment-253164549) here too:

everything is hashed. In my experience, even if you compile different
files, the name table grows very slowly. There are simply not so many
different names to deal with. So, it could become a problem at some point,
but right now I am not seeing it.

[2016-10-12 09:46] Blaisorblade commented on #1527
@fommil I have looked at your link but that seems a different problem (if so, feel free to file a separate issue, I'm the wrong person to talk to). I've written a from-scratch explanation in #1584 (since we were OT here anyway).

everything is hashed. In my experience, even if you compile different
files, the name table grows very slowly.

I realize, I'm just not sure that slow memory leaks are ev

[2016-10-12 09:55] fommil commented on #1584
@Blaisorblade the reason I bring up https://github.com/fommil/class-monkey is because it is not possible to "discard" a classloader that uses scalac at present because of several locations where files are not closed correctly (fundamentally `JarFile`'s finalizer is never called). Hopefully this is remedied in dotty. I have several workarounds for scalac, including an additional monkey patch in ens

[2016-10-12 14:08] smarter commented on #1584
@fommil Right now dotty relies on `scala.reflect.io` though we'd love to get rid of that dependency.

[2016-10-12 14:23] odersky commented on #1576
It looks like the JavaParser needs to be upgraded to deal correctly with annotations

[2016-10-12 15:00] Blaisorblade commented on #1584
@fommil OK, I see that's relevant. Is that the only obstacle or is there more?

[2016-10-12 15:15] fommil commented on #1584
that's probably the biggest memory leak that I'm aware of with `scalac`. Another memory leak we've observed is when the PC just doesn't return and we have to start a new one, but the old one never dies (eating CPU and memory). Having the ability to really demand "look, here, just stop what you're doing old chap" would be fantastic.

[2016-10-12 15:42] Blaisorblade commented on #1584
Sounds like you'd like to "isolate" Scalac more. I feared it would be hard. If we do that, there are fewer reasons to fix the slow leak discussed in this issue.

[2016-10-12 17:48] sschaef commented on #1584
I would like to avoid leaking memory, even if it is only a little bit. It simply makes up-scaling of the compilation process more difficult. We already have problems with scalac because some resources are not correctly handled/freed. Especially code generation in our test suite is a pain because we have to ensure uniqueness of types/symbols manually. Resetting an existing scalac instance is simply

[2016-10-12 18:15] Blaisorblade commented on #1584
@sschaef Thanks—I don't claim to have a full overview of Dotty, but I'd guess this is better fixed earlier than later. But @odersky argued fixing this is not easy, so a few questions:

This leak is from interning names—Dotty stores forever (in an object field) all the unique names it ever saw, so reusing names won't cause leaks.

That won't help with the leak under discussion, since the leaked mem

[2016-10-12 21:27] retronym commented on #1584
Discarding state by throwing away classloaders is problematic for performance, as you also throw away all the JITted code.

[2016-10-12 21:31] retronym commented on #1584
A pragmatic solution here would be to add a `clear` method to the name table. Obviously that would be thread-unsafe, and could only be used when no compilers are active.

@Blaisorblade What did you mean by:

For large multi-project builds, one problem is that you end up with lots of duplication between the name tables of the compilers for each sub-project. Name table sharing would be worthwhile in

[2016-10-12 21:50] Blaisorblade commented on #1584
👍  💯
Important nitpick: "No active compiler" doesn't make it safe, but that'd be fixed by memory barriers to prevent reorderings by CPUs/caches/compilers (say, creating a happens-before edge via writes/reads to volatiles—clear would need to write to one, while creating a new compiler would have to read the same volatile). Is this worth mentioning or it is obvious here?

I just referred (badly?) to

[2016-10-12 21:52] Blaisorblade commented on #1584
Forgot: Do we probably want a more generic API for clients, in case it later needs to clear other object fields?

[2016-10-13 00:22] fommil commented on #1584
Interning of symbol tables sounds very reasonable to me. We would never parse an entire project in ensime, just the sources the user is interested in.

Well pointed out on JIT. If we can avoid having to use a classloader to use dottypc that would be good. If it used classloaders internally to just load resources, that's fine but please remember to close them after.

Somewhat related is the functio

[2016-10-13 00:27] smarter commented on #1584
scalap can't be reused since pickling is completely different in dotty, you can get similar information (and much more) from unpickling tasty, though there's no public API to do this currently.

[2016-10-13 05:12] fommil commented on #1584
Ok, good we caught this early, me definitely need that functionality to build or index. Should I create a ticket or will you? Happy to do a walkthrough of our usecase.

[2016-10-13 06:17] #1552 closed

[2016-10-13 07:48] odersky commented on #1584
I think it's possible to move the name table to the root context of a
project (i.e. move it to class ContextState). We'd lose the ability to talk
about a name independently of a compiler instance, but we'd prevent
possible memory leaks for good. Note that once we start clearing a static
NameTable we lose the ability to use names outside of compiler instances
anyway.

On Thu, Oct 13, 2016 at 7:12 A

[2016-10-13 11:41] smarter commented on #1584
A walkthrough would be interesting. Note that when I say "public API" I really mean "external API that we plan to support", but there's no external API for anything in dotty yet (except the very limited https://github.com/lampepfl/dotty/tree/master/interfaces), for now using the compiler internal APIs is fine. There's no good usage examples now but I'm currently experimenting with using tasty to p

[2016-10-13 11:45] fommil commented on #1584
@odersky for ensime it might be useful to have a shared name table. Consider the case where we are spawning new presentationcompiler instances fairly regularly (e.g. one per sub-project, and for the project's tests, and maybe fresh PCs for refactoring operations).

[2016-10-13 11:48] felixmulder opened #1589 "Missing error messages"
We have a multitude of errors that need to be ported to the [new scheme](http://scala-lang.org/blog/2016/10/14/dotty-errors.html) - you'll find these under "Error Messages" below. But first, a tutorial:
# HOWTO on creating new messages

Once you've identified an error you want to replace, you should decide what semantic information is needed in the message - i.e. the position, perhaps a tree or so

[2016-10-13 11:48] fommil commented on #1584
@smarter what do you mean by "jump to definition"? you'd need to understand where source jars are stored to do this, and also java. It seems like this is an area where what core dotty can do should be limited to avoid duplicated efforts in ensime.

[2016-10-13 12:08] smarter commented on #1584
@fommil I'm ignoring java and outside projects, tasty stores the source file path in Tasty so we should have the information we need, I'm not trying to duplicate ensime but rather to evaluate how various parts of dotty (including tasty, which was not explicitly designed for interactive use) can be used in IDEs. I'll have code and a write-up in a few days.

[2016-10-13 12:10] OlivierBlanvillain opened #1590 "java.lang.Error: type is not fully defined"
This minimized case class:

[code]

Stops the compilation with the following exception:

[code]

([full stack trace](https://gist.github.com/OlivierBlanvillain/7594cd2d17f4f6dde879cdb0770c81d1))

[2016-10-13 12:13] fommil commented on #1584
@smarter I'm not sure you have everything you need in there, you won't know the location of the jar or the source directory root. If what you are providing is `(relative path, source file name, position in file)` then that's perfect. The current classfiles only give `(source file name, line number)` for java bits, so this would be a good upgrade.

[2016-10-13 12:17] fommil commented on #1584
also, this could be awesome for debugging if this information is available at runtime by converting source/line to specific blocks of code! e.g. imagine being able to "step into lambda"

[2016-10-13 12:18] smarter commented on #1584
I agree that it should be relative, not sure if it is right now, which is exactly why I'm testing these features :). In any case this is very much off-topic, we can chat more on the dotty gitter if you want.

[2016-10-13 12:59] #1274 closed

[2016-10-13 14:56] odersky commented on #1583
This looks like a duplicate of #1286, and I think #1479 will fix it. @nicolasstucki can you check?

[2016-10-13 17:55] #1543 closed

[2016-10-14 07:52] odersky commented on #1540
It actually fails before, if one does a -Ycheck:pat. @liufengyun or @DarkDimius can one of you have a look?

    *** error while checking i1540.scala after phase patternMatcher ***

    exception occurred while compiling i1540.scala
    Exception in thread "main" java.lang.UnsupportedOperationException: multi-denotation with alternatives List(method isDefined, method isDefined) does not implement

[2016-10-14 08:21] liufengyun commented on #1540
OK, I'll have look at it.

[2016-10-14 08:37] odersky commented on #1535
Comparing with `scalac` I get:

    /Users/odersky/workspace/dotty/tests/pos> time java -Xms1g -Xmx3g dotty.tools.dotc.Main i1535.scala
    17.688u 0.705s 0:13.11 140.1%	0+0k 0+6io 0pf+0w
    /Users/odersky/workspace/dotty/tests/pos> time scalac i1535.scala
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=256m; support was removed in 8.0
    25.356u 0.386s 0:20.38 126.2%	0+0k

[2016-10-14 08:38] odersky commented on #1535
It would be good to run a profiler over this example to see whether the time is spent.

[2016-10-14 08:38] odersky commented on #1535
@OlivierBlanvillain do you want to dig deeper here?

[2016-10-14 09:19] retronym commented on #1535
For both scalac and dotc, the type alias seems crucial to provoking the problem.

[code]

[code]

In scalac, it looks like we end up with the aliased and dealised type as the lower bounds of the type variable:

![image](https://cloud.githubusercontent.com/assets/65551/19382260/19870760-924b-11e6-936f-0c453158d0b5.png)

which might be a contributing factor.

[2016-10-14 09:27] odersky commented on #1535
@retronym Very interesting analysis. That looks like a good candidate to dig deeper!

[2016-10-14 09:33] retronym commented on #1535
See also https://bugs.openjdk.java.net/browse/JDK-8055984 / https://bugs.openjdk.java.net/browse/JDK-8046685 / http://hg.openjdk.java.net/jdk9/dev/langtools/rev/3793a6706e58 for some similar problems+solutions form javac.

[2016-10-14 17:44] #1531 closed

[2016-10-14 17:45] #1515 closed

[2016-10-14 20:47] #1540 closed

[2016-10-14 21:39] markusthoemmes commented on #1589
This is an *awesome* way of empowering people to contribute to the project. I think I'll use this to contribute. Thanks a lot for writing this up @felixmulder!

[2016-10-15 08:58] markusthoemmes commented on #1589
To avoid duplicated work: I'm taking on `Parsers.scala:403` (shall we just edit the issue description and put names behind the specific messages to keep it transparent for everyone?)

[2016-10-15 09:01] felixmulder commented on #1589
@markusthoemmes: yes! Done :)

[2016-10-15 20:24] anicolaspp commented on #1589
👍

[2016-10-15 23:21] sebastianharko commented on #1589
Indeed, this is an awesome way to get people to contribute to the project ... I'm tackling Parsers.scala:2064

[2016-10-16 03:42] ShaneDelmore commented on #1589
I'll take Desugar.scala and ErrorReporting.scala.

[2016-10-16 09:25] sebastianharko commented on #1589
@felixmulder created a PR for ```Parsers.scala: 2064``` :-)

[2016-10-16 11:26] #1544 closed

[2016-10-16 11:26] #1590 closed

[2016-10-16 13:04] Arthurm1 commented on #1583
I think my issue here is that every package within the scala package is available directly.
So this gives no error...
[code]

This means I can't name any of my packages "util.foo.bar" because any attempt to import them gives...
[code]

BTW - I like the new error reporting.

[2016-10-16 18:06] ljdelight commented on #1589
Hi, I'm new here. I'll take Parsers.scala:1737, Parsers.scala:1738, Parsers.scala:1739, Parsers.scala:1901

[2016-10-16 18:33] sebastianharko commented on #1589
Taking  ```Parsers:1492```, ```Parsers:1392```, ```Parsers: 626``` and ```TypeAssigner.scala:449```

[2016-10-17 16:53] OlivierBlanvillain opened #1603 "Infinite recursion in TailRec"
The `TailRec` phase goes into an infinit loop when processing a `tree: Apply` such that `tree.symbol != tree.fun`. This is the loop I observed with `jstack`:
- [src/dotty/tools/dotc/transform/TailRec.scala#309](https://github.com/lampepfl/dotty/blob/75f4400/src/dotty/tools/dotc/transform/TailRec.scala#L309)
- [src/dotty/tools/dotc/transform/TailRec.scala#210](https://github.com/lampepfl/dotty/blob

[2016-10-17 17:02] smarter opened #1604 "Error messages involving inlined trees do not give context anymore"
This was lost somewhere in the better error messages PR: https://github.com/lampepfl/dotty/commit/f8456fc71e0fba8c92eb2069a7abc872a59c2567#diff-f693c651481e79715b7f64b61abf0421L31
/cc @felixmulder

[2016-10-17 18:02] DarkDimius commented on #1603
I don't think that making tailrec have less guards would be a proper way to resolve this.
There are several locations in Dotty & Liker where extraction similar to https://github.com/lampepfl/dotty/blob/75f4400/src/dotty/tools/dotc/transform/TailRec.scala#L198-L206 is happening, where the way to detect when one curried application finished is to check for the symbol.

It would be better to find how

[2016-10-17 18:22] OlivierBlanvillain commented on #1603
No, so far I could only reproduce this by compiling the entirety of scalatest, and I don't really have an idea on how to reduce the search space...

[2016-10-17 18:24] DarkDimius commented on #1603
@OlivierBlanvillain, you should still be able to run under "-Ycheck:firstTransform" and see if `Ycheck` complains, even before minimization.

[2016-10-17 23:22] AndrewZurn commented on #1589
Was just sitting down with @ShaneDelmore and looking at these a little bit. Looks like quite a few Parsers and TypeAssigner messages left, if there are one or two 'easier' messages in there that I can take a look at, would someone mind assigning those to me?

Andrew

[2016-10-18 08:18] jyotman94 commented on #1589
Hi, Working on `Parsers.scala:1180`.

[2016-10-18 09:35] felixmulder commented on #1589
@AndrewZurn - how about `Parsers.scala:695` to start off with? I'll assign you, but if you don't want it let me know :)

[2016-10-18 12:56] felixmulder opened #1605 "Inlining invalid method crashes compiler"
With:

[code]

the compiler crashes.

[2016-10-18 15:00] felixmulder commented on #1583
Reported fixed in #1479 by @nicolasstucki

[2016-10-18 20:31] ShaneDelmore opened #1612 "DuplicateBind error triggered by same variable name in alternative pattern"
I believe the issue is in Typer.transform.  Here is an example snippet and output:

[code]

On compile this error is returned:

[code]

[2016-10-18 20:32] ShaneDelmore commented on #1612
Tagging @DarkDimius and @liufengyun at @felixmulder request.

[2016-10-18 21:29] marlomajor commented on #1192
When does this error happen?

[2016-10-19 09:44] olafurpg opened #1614 "value tailLabel does not take parameters"
Trying to compile scalastyle with dotty at commit: https://github.com/matthewfarwell/scalastyle/commit/92b81e0115bc70befeae98c86977282a26b686be

I get the compiler error:

[code]

Running with -Ycheck:all and -Ycheck:firstTransform I get the following error:

[code]

linking to this line in Checker.scala:

[code]

Removing the block containing that line I get the original "taillabel does not take

[2016-10-19 19:02] odersky commented on #1612
There's clearly an error here, but not the one that's flagged. scalac says:

error: illegal variable in pattern alternative

[2016-10-20 10:16] #1567 closed

[2016-10-20 12:07] #1576 closed

[2016-10-21 13:12] DarkDimius opened #1619 "Port NameTable collision rate reducing change from Scalac"
https://github.com/scala/scala/pull/5474

I originally though we're not affected, but I've misunderstood the issue. We are affected.

[2016-10-22 23:22] sebastianharko commented on #1589
@felixmulder can you mark 626 and 1492 as complete :-) ?

[2016-10-23 08:02] felixmulder commented on #1589
@sebastianharko - yes done! Thanks

[2016-10-23 09:32] joost-de-vries commented on #1495
See #1551

[2016-10-23 12:10] matthewfarwell commented on #1614
This is a minimized example, which fails in dotr:

[code]

[2016-10-23 12:13] DarkDimius commented on #1614
@matthewfarwell, was able to reproduce. Thank you!

[2016-10-23 18:50] thiagoandrade6 commented on #1589
Hi, also new over here, jus trying to help this lovely project... I will work for now on ```Comments.scala:128```, ```JavaParsers.scala:233``` and ```Parsers.scala:319``` ok?

[2016-10-23 18:55] felixmulder commented on #1589
@thiagoandrade6 - sounds great :)

[2016-10-24 13:47] DarkDimius opened #1622 "Invariant check: do all(non-array) selects & idents have symbols?"
It used to be the case that before `Splitter` not `Select` and `Ident` nodes had a symbol set.
This was because of `Or` and `And` types. Since https://github.com/lampepfl/dotty/pull/1550 splitter no longer does it, as we stopped supporting those cases in typer.

Is it true now that all trees should have a proper symbol?
Aside from introducing one more check to TreeCheker, this would allow us to jo

[2016-10-24 16:30] fommil commented on #322
@smarter an old ticket, just a ping incase you missed it

[2016-10-24 16:32] fommil commented on #1523
should we add ensime's requirements to this ticket or should we create a new one? I'll add things as I remember them, or think of anything.

[2016-10-24 16:33] smarter commented on #1523
It's fine to add it here I think.

[2016-10-24 20:52] fommil commented on #1523
# ENSIME requirements

The ensime server uses the scalac API in a number of ways and for dotty support, we'd need replacements. It doesn't have to be a drop-in API as in many cases there is room for improvement.

## scalap / TASTY

ENSIME indexes all the binaries on the classpath using ASM to get everything Java knows about the classes, and also with scalap.

scalap gives some rudimentary informat

[2016-10-25 00:46] ShaneDelmore commented on #1612
@odersky This is actually how I found this bug, I was attempting to improve the error message for "illegal variable in pattern alternative" and found I could not trigger the error message in Dotty as I could in Scala.

[2016-10-25 07:25] odersky commented on #1612
@ShaneDelmore You want to give it a try to add the error message? I believe it should be in Typer. The thing to watch out for are Bind nodes that bind a name other than `_` inside Alternative nodes.
Maybe add a Mode bit that we are inside an alternative that gets tested in the Bind node?

[2016-10-25 07:26] ALPHA-60 commented on #1589
I'd like to work on  TypeAssigner.scala:447.

[2016-10-25 13:22] #1614 closed

[2016-10-25 13:31] felixmulder opened #1625 "Fix varargs in methods"
[code]
slips through the cracks as well as:

[code]

This should be fixed, @sebastianharko - were you working on this?

[2016-10-25 13:35] liufengyun opened #1626 "Inconsistent names in pretty-print"
Compile following code with `bin/dotc -Xprint:lambdaLift posfix/test.scala`:

[code]

We get following output:

[code]

Note that in the output, `Test.a` should be `Test.a$1`.

[2016-10-25 13:48] sebastianharko commented on #1625
@felixmulder Yes, I have a fix for it. To be PR-ed soon. Cheers!

[2016-10-25 15:54] #1570 closed

[2016-10-25 17:03] #1500 closed

[2016-10-25 19:16] ShaneDelmore commented on #1612
I will take a look at it this weekend and see if I can make any headway on it.

[2016-10-25 21:22] AndrewZurn commented on #1589
@felixmulder how about Parsers:1079 and Parsers:1082?

[2016-10-26 07:55] m-sp commented on #1589
working on Parsers.scala:1620

[2016-10-27 07:46] maseev commented on #1589
@felixmulder Is there any chance for a Scala newbie to contribute to this issue? Maybe there are some easier error messages? 😃

[2016-10-27 07:50] felixmulder commented on #1589
@maseev - I think it's a perfect opportunity, you'll get to dissect an error and learn the reason as to why it is an error in the first place. Some things are non-obvious to beginners, and I think if you understand the explanation, then somebody with the same skill-level can too.

I would clone the repo and have a look at the ones available from `Parsers.scala`, they should be the most straight fo

[2016-10-27 08:03] maseev commented on #1589
@felixmulder Got it! I'll definitely have a look.

[2016-10-29 11:37] Danny02 commented on #1589
working on CollectEntryPoints.scala:69

[2016-10-29 18:33] helloqirun opened #1637 "crash on valid code: "demanding denotation of class...""
Scalac can compile it. But dotc crashes.

$ cat abc.scala

[code]

$ dotc abc.scala

[code]

[2016-10-29 18:45] helloqirun opened #1638 "crashes on compilable code: NoDenotation.owner"
scalac can compile the following code; but dotc crashes.

$ cat abc.scala

[code]

$ scalac abc.scala

$ dotc abc.scala

[code]

[2016-10-29 18:52] ljdelight opened #1639 "stack overflow compiling single-arg implicit constructor with empty auxiliary ctor"
Dotty encounters a stack overflow when compiling this invalid code:
`class Foo(implicit val bar: String) { def this() = this("baz") }`

Here's the [full trace](http://pastebin.com/raw/dZV1aFSf), and a snippet below from using `dotc`.

[code]

And compiling with scalac:

[code]

[2016-10-29 20:41] helloqirun opened #1640 "crash with type mismatch"
dotc crashes when compiling the following code.

$ cat abc.scala

[code]

$ dotc abc.scala

[code]

[2016-10-29 20:44] helloqirun opened #1641 "crash with message: "Apply cannot be cast to..""
dotc crashes when compiling the following code.

$ cat abc.scala

[code]

$ dotc abc.scala

[code]

[2016-10-29 20:50] smarter commented on #1641
Thanks for looking into this! Note that when copying code/console output on github you can format it in a nicer way by putting ```` ``` ```` on separate lines around your code, see https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2016-10-29 20:52] helloqirun opened #1642 "Disallow having a value classe whose underlying value is itself"
dotc crashes when compiling the follow code.

$ cat abc.scala

[code]

$ dotc abc.scala
output:
https://gist.github.com/helloqirun/d09e36c276832140e7c74d1f26378a14

[2016-10-29 20:55] helloqirun commented on #1641
Sure, Let me update all my reports. Thank your for the advice.

[2016-10-29 20:58] smarter commented on #1642
For very long output, you can paste them on https://gist.github.com/ and put a link in your issue.

[2016-10-29 21:01] smarter commented on #1641
Thanks! Much nicer now!

[2016-10-29 21:13] helloqirun commented on #1642
Thanks, updated.

[2016-10-29 21:27] helloqirun opened #1643 "crash with message: "no TypeBounds allowed""
dotc crashes when comping the following code. This testcase also crashes the latest scalac.

$ cat abc.scala

[code]

$ dotc abc.scala

[code]

[2016-10-29 21:35] helloqirun commented on #1643
For those large testcases, will it be more helpful if I reduce the testcase to a smaller (but more "ungly" and syntically invalid) code snippet?

[2016-10-29 21:39] smarter commented on #1643
I would say that here the testcase is not too big but smaller testcases are always nice if they hit the same bug.

[2016-10-29 21:41] helloqirun opened #1644 "crash for nested class with message: "no path exists from class Inner to class...""
$ cat abc.scala

[code]

$ dotc abc.scala

[code]

[2016-10-31 13:25] olhotak commented on #50
Current dotty master (9f3005c1b742b6d05e94a93ad9ac31b02f951008) still fails to reject the example from [SI-9633](https://issues.scala-lang.org/browse/SI-9633).

[2016-10-31 13:44] namin commented on #50
Yes, @olhotak -- Scala and Dotty have deferred any fixes for null paths. In Dotty, the fixes have focused on lazy paths.

[2016-10-31 13:44] smarter commented on #50
@olhotak I think you need `-strict`

[2016-10-31 15:27] slothspot commented on #1579
@felixmulder if nobody works on this, I'm going to start.

Does it mean that I need to contribute to smarter/dotty-example-project code with errors?

[2016-10-31 15:37] felixmulder commented on #1579
Hi @slothspot - you're more than welcome to work on this :)

You will probably not need to do modify anything in the example project. But you'll need to tweak the bridge and you'll need to do `publishLocal` to check the results. Let us know on gitter if you need any help!

[2016-10-31 17:09] thiagoandrade6 commented on #1589
Working on `Parsers.scala:307`

[2016-10-31 22:12] helloqirun opened #1647 "crash with "java.lang.IllegalArgumentException: requirement failed""
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-10-31 22:41] helloqirun opened #1648 "crash with assertion failed: attempt to parse java.lang.Object from classfile"
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-01 13:57] Blaisorblade commented on #1589
I got started with Parsers.scala:307!

[2016-11-01 14:00] Blaisorblade commented on #1589
BTW: shouldn't the `kind` be an ADT rather than a string?

[2016-11-01 14:15] felixmulder commented on #1589
@Blaisorblade: in the end, that may be best - it was kept as a string so that it is easy to customize for contributors without having to think about "can I add this?" or "should I just use the CC that doesn't really fit my error?"

[2016-11-01 14:48] newca12 commented on #318
FYI this is not (or not anymore) an infinite loop
After a certain amount of time (< 1min) dotc terminate with a Type Mismatch Error

[code]

[2016-11-01 17:11] thiagoandrade6 commented on #1589
@Blaisorblade take a look on my PR, it's about the same issue. Your contribution is welcome :)

[2016-11-01 19:02] maseev commented on #1589
@felixmulder I'll take this one - Parsers.scala:602, if you don't mind. Looks pretty straightforward.

[2016-11-01 20:35] liufengyun commented on #1648
Exception can be reproduced, thanks for reporting @helloqirun .

[2016-11-01 20:51] liufengyun commented on #1647
Report confirmed, thanks @helloqirun !

[2016-11-01 20:57] liufengyun commented on #1644
Report confirmed, thanks a lot @helloqirun !

[2016-11-01 20:58] smarter commented on #1589
I was thinking that we could have traits `SyntaxMessage`,`TypeMessage`, etc that define `def kind: String`, then the semantic information is embedded in the class hierarchy

[2016-11-01 21:08] liufengyun commented on #1639
Thanks a lot @ljdelight , report confirmed!

[2016-11-01 21:14] liufengyun commented on #1638
Thanks @helloqirun , report confirmed!

[2016-11-01 21:19] liufengyun commented on #1637
Thanks @helloqirun , report confirmed!

[2016-11-01 22:41] helloqirun opened #1649 "crash with assertion failed: duplicate attachment for key ..."
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-01 23:52] helloqirun opened #1650 "crash on compilable code: "assertion failed: invalid prefix...""
Scalac can compile it. But dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-02 07:07] Blaisorblade commented on #1589
Right now it seems the `kind` is also indicated by picking the error-reporting method (`syntaxError` or others). Something similar happens for positions:

I've just noticed this and thought back to `IdentifierExpected` and `AuxConstructorNeedsNonImplicitParameter` — they include none of those things. Same for #1645 and for my take on it in
https://github.com/lampepfl/dotty/compare/master...Blaisor

[2016-11-02 07:21] liufengyun commented on #1650
Report confirmed, thanks @helloqirun !

[2016-11-02 07:23] liufengyun commented on #1649
Thanks @helloqirun , report confirmed !

[2016-11-02 08:36] felixmulder commented on #1589
@Blaisorblade - you're welcome to improve on these messages by passing in whatever you need in order to bring semantic meaning to them.

A `Message` is contained within a `MessageContainer` which carries the position. The reporters consume `MessageContainer`s. These containers have a level - Warning, Error, Info etc. How this happens:

`syntaxError` calls `ctx.error` which in turn is implemented i

[2016-11-02 21:22] helloqirun opened #1652 "crash with assertion failed: bad inst"
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-02 21:32] helloqirun opened #1653 "crash with assertion failed .."
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-03 07:30] liufengyun commented on #1653
Thanks @helloqirun , report confirmed!

[2016-11-03 07:33] liufengyun commented on #1652
Thanks for reporting @helloqirun , it's confirmed !

[2016-11-03 08:20] jozi-k commented on #1589
I will take Parsers.scala:2110 and 2112.

[2016-11-03 23:35] smarter commented on #444
@felixmulder Any reason this was closed? The PR was not applied, though I don't remember why we decided to not merge it at the time

[2016-11-04 09:18] #1652 closed

[2016-11-04 09:22] felixmulder commented on #444
I'm not sure why this was closed - maybe I thought the fix was merged (or maybe tool magic). Could we get a comment on why the fix wasn't merged @DarkDimius ?

[2016-11-04 09:28] #1579 closed

[2016-11-04 14:27] #1604 closed

[2016-11-05 12:36] #1637 closed

[2016-11-05 12:36] #1638 closed

[2016-11-05 14:47] odersky commented on #1641
Can no longer reproduce with latest master. The test case is part of #1659.

[2016-11-05 14:47] #1641 closed

[2016-11-05 14:49] odersky commented on #1644
I think this is in fact illegal, and a test for well-formed value classes is missing. @smarter can you have a look?

[2016-11-05 18:03] odersky commented on #1647
This has to do with the fact that the annotation argument is typed with the enclosing class as owner, whereas the owner should be the localDummy of the template. Does not look so easy to fix though.

[2016-11-05 18:52] helloqirun opened #1661 "crash with StackOverflowError"
This case is a bit large. I tried to minimize it, without much luck.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-05 19:00] smarter commented on #1644
Yes, I think we should follow scalac and only allow anonymous inner classes inside value classes: https://github.com/scala/scala/commit/e7ac254349e56678824ade3027bca3908882e291

[2016-11-05 20:08] helloqirun opened #1662 "crash with scala.MatchError: Skolem..."
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-05 20:19] liufengyun commented on #1661
Thanks for reporting @helloqirun . We touched this issue before (#1257), compile with the option `-J-Xss5M` will be fine:

    dotc -J-Xss5M tests/patmat/patmatexhaust-huge.scala

We'll look if we can improve the code to avoid stackoverflow in this simple case.

[2016-11-05 20:23] helloqirun opened #1663 "crash with IllegalArgumentException: requirement failed"
$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-05 20:52] liufengyun commented on #1662
Thanks for reporting @helloqirun, it's confirmed !

@odersky : I see a lot of crashes resulted from the fact that the code is not syntactically correct. Can we simply stop compilation if there are parsing errors?

[2016-11-05 21:16] liufengyun commented on #1663
Thanks @helloqirun . This seems to duplicate with #1647. I leave it open for now, so that we can check if the fix to #1647 also fix this one.

[2016-11-05 23:07] helloqirun commented on #1663
Ah, I see. Sorry for that, I forgot I have reported that a few days ago. Will check it more careful next time.

[2016-11-06 00:00] helloqirun opened #1664 "crash on compilable code: assertion failed: failure to construct path from method ..."
scalac can compile it but dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-06 00:43] helloqirun opened #1665 "crash on compilable code: scala.MatchError: Ident..."
scalac can compile but dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-06 09:30] #1663 closed

[2016-11-06 09:34] odersky commented on #1661
Yes, we know that some code can blow the stack size, typically in Erasure.

Two things:

  1. This could point to an inefficient translation of this pattern match. We should see whether the planned optimizations will help here.

  2. A systematic fix should probably involve the runner script, which should augment the stacksize from the default.

[2016-11-06 09:35] odersky commented on #1662
@liufengyun

This would be problematic, at least for IDEs. We need to get types for e.g. navigation even if there are syntax errors.

[2016-11-06 09:46] #1643 closed

[2016-11-06 17:18] #1640 closed

[2016-11-06 18:28] dos65 opened #1668 "Docs - html page have no encoding"
For example [here](http://dotty.epfl.ch/docs/internals/contexts.html) at bottom of context's internals list occurs invalid characters

[2016-11-06 18:30] felixmulder commented on #1668
You're more than welcome to fix this :)

[2016-11-06 18:32] felixmulder commented on #1668
Probably here somewhere: https://github.com/lampepfl/dotty/blob/master/docs/_layouts/default.html

[2016-11-06 18:34] dos65 commented on #1668
Ok - will do

[2016-11-06 19:23] dos65 opened #1670 "Synth method generation failed on invalid value class"
Compiler crashes on [synthetic methods generation](https://github.com/lampepfl/dotty/blob/70a8426912f6f256536470a046cdf86827ab2c93/src/dotty/tools/dotc/transform/SyntheticMethods.scala#L141) on value class with more that one parameter
[code]
[code]
Currently value class checking is in RefChecks, should it be moved on Typer?
@smarter

[2016-11-06 19:26] felixmulder commented on #1670
ping: @DarkDimius, @odersky

[2016-11-06 19:45] #1668 closed

[2016-11-06 22:04] odersky commented on #1670
I think it makes sense to do this in typer.

[2016-11-06 22:12] b-studios commented on #1589
I started working on Parsers.scala:533 but noticed that the issue could also be addressed by refactoring the call to `syntaxError` away. Would that be a viable option for you?

[2016-11-07 07:31] helloqirun opened #1671 "crash on compilable code: assertion failed: g.update"
scalac can compile it. But dotc crashes.

The callstack is partially similar to #1644 . I am not sure if it is a dup. If possible, please let me know. Thanks.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-07 08:11] helloqirun opened #1672 "crash on compilable code with Trees$UnAssignedTypeException"
scalac can compile it. But dotc crashes.

The callstack is partially similar to that of #1568. However, the latest dotc emits another "assertion failed: position error" for #1568 instead.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-07 08:52] DarkDimius commented on #1670
Instead of putting more stuff into typer, I'd propose to move such checks into InfoTransformer of `RefChecks`.

[2016-11-07 08:55] DarkDimius commented on #1661
I'd say that a systematic fix would be to make erasure use less stack. For example by making it be less-of-a typer, hopefully more of a mini-phase.

[2016-11-07 09:01] felixmulder commented on #1589
@b-studios: if you want you can replace line 533 with something like

[code]

But we want to keep the method `syntaxError` for a while so that it can be used as a convenience function.

[2016-11-07 09:22] b-studios commented on #1589
@felixmulder: Just to clarify, I suggested to factor the call to `syntaxError` away, not the method `syntaxError` itself. In particular, the same syntax error would eventually be raised by `accept(DOT)` in [`someDotSelectors`](https://github.com/b-studios/dotty/blob/e145245bfbf909d0442e12b6565dd85b4c8c6aba/src/dotty/tools/dotc/parsing/Parsers.scala#L524).

[2016-11-07 11:03] Blaisorblade commented on #1589
Thanks for the explanation—those errors might then be fine; in my branch, I now point out in `Message` ScalaDocs that the position is part of `MessageContainer`, not semantic information.

[2016-11-07 11:10] felixmulder opened #1673 "Documentation needs "Getting started" for users"
Docs page has "Getting Started" for contributors (http://dotty.epfl.ch/docs/), but should have one for users

[2016-11-07 11:11] felixmulder opened #1674 "Make the docs searchable"
Add js-plugin to make docs searchable

[2016-11-07 11:12] felixmulder opened #1675 "Edit button for each doc site"
Add an edit button to each page that links to editing the corresponding document on github

[2016-11-07 11:15] felixmulder commented on #1589
@b-studios: yes - exactly, I was just making sure you don't do unnecessary work :)

[2016-11-07 15:17] liufengyun commented on #1671
This is not a duplicate of #1644, thanks for reporting @helloqirun .

[2016-11-07 15:29] liufengyun commented on #1672
Thanks @helloqirun , all bug reports up to this one are confirmed. They are all very good reports, we appreciate much the reporting!

[2016-11-07 16:37] #1674 closed

[2016-11-07 16:37] #1675 closed

[2016-11-07 17:28] ShaneDelmore commented on #1612
I started looking into this bug last weekend and think I should be able to come up with a fix.  Besides the error message, is there any reason not to just allow multiple variable bindings if they exist in every alternative with the same name and same type?

[2016-11-07 18:08] #1605 closed

[2016-11-07 20:51] ALPHA-60 opened #1679 "Compiler crashes when a type constructor is applied to a repeated named type argument"
Code:

[code]
Output:

[code]

Probably related to #1680.

[2016-11-07 21:10] ALPHA-60 opened #1680 "Compiler crashes when a type constructor is applied to named type argument of its superclass"
Code:

[code]

Output:

[code]

The T1 parameter is found in `ntparams` in `TypeAssigner.assignType` overloaded for [`AppliedTypeTree`](https://github.com/lampepfl/dotty/blob/63f1a3c5d0149d173eb8f65405b5983591752229/src/dotty/tools/dotc/typer/TypeAssigner.scala#L438)

@smarter mentioned in Gitter chat that "maybe we should disallow extending a class without specifying its type parameters".

[2016-11-07 22:04] rethab opened #1681 "REPL: uppercase strings have different colors than lowercase"
[code]

![2016-11-07_414x156](https://cloud.githubusercontent.com/assets/2222044/20077830/54f7a2e0-a53e-11e6-8c80-6ef378304276.png)

[2016-11-07 22:11] smarter commented on #1681
I think the correct thing to do here is to print the string with `"` around it, as a bonus this means that the output of the repl is valid Scala, but it also means that we have to escape our output, e.g.
[code]
I think that's a trade-off worth making

[2016-11-08 00:03] Blaisorblade opened #1683 "Closures parsed as self-type annotation"
I'm not sure I care and I can't conceive a use case (at least, not without involving some weird macro), but the following is valid for scalac and rejected (at parse-time) by dotty:

[code]

The reason is that dotty parses (what looks like) an expression, then sees `=>` and "reinterprets" the parsed expression as a self-type annotation.

I'm not so concerned about the feature, I'm more concerned ab

[2016-11-08 07:13] maseev commented on #1589
I'll take these ones - Parsers.scala:1425, Parsers.scala:1437.
BTW @felixmulder, we can mark Parsers.scala:602, because it's already merged into upstream, right?

[2016-11-08 07:51] ALPHA-60 commented on #1679
Code:

[code]
Output:

[code]

Probably related to #1680.

[2016-11-08 09:52] DarkDimius opened #1686 "Consider hiding the distinction between Select & Ident"
In Dotty, Select & Idents are very interchangeable and the only reliable way to see if this is a selection or a direct reference is to look at the type.

Correct handling of them is counterintuitive, as one would assume he could _trust_ the tree, but he cant: https://github.com/lampepfl/dotty/blob/master/src/dotty/tools/backend/jvm/DottyBackendInterface.scala#L428-L438

This introduces misconcepti

[2016-11-08 09:58] #1672 closed

[2016-11-08 14:07] OlivierBlanvillain opened #1687 "Exponential compilation time of "1" + 1 + "1" + ..."
The following complies in 11s:

[code]

[2016-11-08 22:01] helloqirun opened #1688 "crash on compilable code: assertion failed: Cannot create ClassBType for phantom type Lscala/Null"
scalac compiles but dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-09 08:11] felixmulder commented on #1688
@helloqirun - thanks, confirmed as bug which crashes the shared backend

[2016-11-09 08:12] DarkDimius commented on #1688
Note that this source code tries to redefine a synthetic class in `scala` package. I wouldn't consider this a bug but I agree that the error message should be prettier.

[2016-11-09 09:10] liufengyun commented on #1679
Report confirmed, thanks @ALPHA-60 !

[2016-11-09 09:14] liufengyun commented on #1680
@ALPHA-60 thanks for reporting.

I agree with @smarter that we should **disallow extending a class without specifying its type parameters**. WDYT @odersky ?

[2016-11-09 09:21] liufengyun commented on #1683
Thanks for reporting @Blaisorblade . This is related to #1424.

Unlike #1424, it seems the parser can do a better job here, as it's possible to know syntactically it's not a self-annotation, but a lambda def.

[2016-11-09 09:26] Blaisorblade commented on #1683
Thanks I missed that! Also Martin there claims that handling this in Scalac is very tricky, so maybe it shouldn't be fixed. Making sure the grammar rejects this might be enough.

[2016-11-09 09:31] liufengyun commented on #1681
Thanks for reporting @rethab . @felixmulder can you have a look at this one?

[2016-11-09 09:40] liufengyun commented on #1686
@DarkDimius you mean we add a transform to convert `Ident` to `Select` according to its type? I think that's a good idea.

If you mean replace `Select` and `Ident` by `RefTree` in AST, that seems problematic to me. From the parser's point of view, trees are used to represent syntactical information, we need to differentiate them.

[2016-11-09 10:22] DarkDimius commented on #1686
as new trees can be introduced by any phase after the transform would break this inveriant, it's not what I propose.

Neither do I propose to change parser. The current situation is that distinction between `Ident` and `Select` is only syntactic, but not semantic.

Eg given a source:

[code]

`Ident(Foo)` and `Select(bar, Foo)` as well as `Ident(s)` and `Select(f, s)` have the same semantics and s

[2016-11-09 10:30] OlivierBlanvillain commented on #1603
I minimized this issue in #1687. Turns out it was not an infinite recursion but just a very large code explosion which looked infinite thought `jstack` :)

[2016-11-09 10:30] #1603 closed

[2016-11-09 10:31] DarkDimius commented on #1687
@OlivierBlanvillain in which phase is it spending time? is it tailrec?

[2016-11-09 10:45] OlivierBlanvillain commented on #1687
Yes it's spending time in tailrec doing lots of `isSubType` calls

[2016-11-09 10:46] DarkDimius commented on #1687
Thanks for minimizing. I'll have a look at this after PLDI deadline.

[2016-11-09 10:54] odersky commented on #1686
I think the problem is that if the type of a qualifier is a path, we have a tendency to leave it as an Ident. And this is indeed important for performance. Otherwise, think about all the Selects we would create when we select a global symbol in some object in some nested package...

But if the type if a ref is not a path then we lose information. E.g. if `e` is an unstable expression of type `C` t

[2016-11-09 11:02] felixmulder commented on #1681
I believe my time is best spent elsewhere at the moment. The issue stems from how we render results. The main culprit is [resultExtractor](https://github.com/lampepfl/dotty/blob/master/src/dotty/tools/dotc/repl/CompilingInterpreter.scala#L683), which needs to be changed.

This method needs to correctly render strings. But there are a number of issues/questions that will arise when somebody starts

[2016-11-09 11:22] felixmulder commented on #1612
This sounds like a judgement call for @odersky, the spec doesn't specifically prohibit this. It might make the desugaring inside `PatternMatcher` harder - unclear.

[2016-11-09 11:37] ALPHA-60 commented on #1680
@smarter mentioned that extending a class without specified type parameters is equivalent to specifying them as their lower bounds. These both work in Scala:

[code]

and

[code]

I haven't looked into DOT calculus, so I don't know if there's a theoretical basis for disallowing these.

[2016-11-09 16:06] odersky opened #1691 "Performance regression with Error Message classes"
I have noted that the introduction of error message classes introduces potentially serious performance regressions.

Essentially, the model is that errors can appear very frequently because they are part of retracted backtracking. So even if the program compiles OK it could have generated 10's of thousands of error messages. Previously, that was not a problem because everything in diagnostics was

[2016-11-09 17:30] felixmulder commented on #1691
When redesigning the messages, we wanted to keep the laziness - but since we're no longer dealing with only strings, this becomes more complicated.

Whether it is forced or not depends a bit on the behavior of the [Reporting](https://github.com/lampepfl/dotty/blob/master/src/dotty/tools/dotc/reporting/Reporter.scala#L40) trait. As you can see, all messages are taken by value and perhaps it is the

[2016-11-09 17:59] odersky commented on #1683
I don't like that either. But "unbound" is probably too academic for some. How about

    No definition for `a` was found.

?

[2016-11-09 18:00] odersky commented on #1683
I forgot to say: "Unbound Identifier" looks fine as a name for this class of error messages. But the explanation should say something else.

[2016-11-09 18:02] odersky commented on #1683
I think we should not try to overengineer fixing this. The scalac code doing this is quite impenetrable. I think "not a legal self type clause" is perfectly fine as an error message.

[2016-11-09 20:58] Blaisorblade commented on #1424
For readers like me who hadn't figured, closures are `Expr` but not `Expr1` so this matches the grammar. Hence I'm closing #1683.

[2016-11-09 21:12] Blaisorblade commented on #1683
I was also concerned on unbound, I'll probably use "declaration" rather than "definition".

Agreed, especially since the grammar already excludes this (which I missed) and the current parser is already nontrivial. I'll close this as duplicate.

[2016-11-09 21:12] #1683 closed

[2016-11-09 21:37] Blaisorblade commented on #1691
@felixmulder There's more code forcing by-name `Message`s... In fact, I see several code paths that wrap by-value `Message` into by-name `Message. That includes methods in `Message` that construct `MessageContainers`, and error utilities in `Parsers` (and maybe elsewhere). Also, `() => MessageContainer` seems redundant as `MessageContainer` holds `Message` by-name already.

So either `Message` sho

[2016-11-09 21:53] Blaisorblade commented on #1691
On a related topic: what's the chance of memory leaks due to laziness? To make this question more interesting, assume Dotty is used in an IDE that tries to preserve `MessageContainer` (which has no docs discouraging that), and that some message accidentally captures an enclosing class. That's probably the problem spores are created for.

Also remember that `MessageContainer` stores `msgFn` and doe

[2016-11-09 21:53] aviralg commented on #1589
@felixmulder  I am  working on MarkupParsers.scala:324 and 326

[2016-11-09 22:17] Blaisorblade commented on #1681
Regarding 1. and 2., you indeed want to print values as valid Scala, and `toString` simply can't do that. You don't even need parametric types like `List[String]`, a case class containing `String` is enough.

[code]

Maybe there's some local REPL-only solution, but the wider issue remains.

Indeed, many languages with REPLs (say Haskell or Lisps) distinguish how the REPL shows values as expression

[2016-11-09 22:39] felixmulder commented on #1691
@Blaisorblade - it's way too late in the evening for me to start with this, hence my short response.

I have an idea of how to deal with this, it is sort of along the lines of what you suggest but without asserts (hopefully). The closurizing is not really redundant as this is where the by-name breaks for **new** messages since the suggested placement is where `Message` gets turned into `MessageCon

[2016-11-09 22:58] Blaisorblade commented on #1691
Of course — I didn't mean to criticize for the incompleteness.

FWIW `MessageContainer` is defined in Scala, takes messages by-name and *inherits* from the Java `Diagnostic` interface. I think the by-name is forced at the location you linked because it's a method receiver. Or maybe I miss some other reason. But no need to debate this now.

[2016-11-09 23:14] smarter commented on #1691
That's interesting, I wasn't aware of that. Is this documented anywhere? Dotty does not seem to do that (ping @DarkDimius) which may lead to surprising new memory leaks when porting an existing codebase.

[2016-11-10 08:40] Blaisorblade opened #1692 "By-name params used only in a lazy field should be cleared to prevent leaks"
Noticed in #1691 — scalac, but not dotty (as pointed out by @smarter), compiles the following so the initializer for `byLazyValMsg` clears `byNameMsg`. This is *not* just an optimization, but is needed for correctness to prevent memory leaks:

[code]

Resulting code with Scalac (as decompiled with jad)—note `byName = null;`:

[code]

Maybe but not to my knowledge; I've seen similar patterns often

[2016-11-10 08:41] Blaisorblade commented on #1691
@smarter Answered in a new issue (with some more info).

[2016-11-10 08:56] felixmulder commented on #1681
Just an FYI, since this is a compiler that needs to bootstrap we can't and don't want to have external dependencies on scala 2 artefacts. There are a couple that are a necessary for the time being (scala-library-2.11.5 and friends) but they will be removed eventually.

We have previously talked about revamping case classes. Perhaps a show/print typeclass could be added in the same go... (On mobile

[2016-11-10 11:04] Blaisorblade commented on #1681
Right—toString was discussed in https://github.com/lampepfl/dotty/issues/1341, and that ends up leading to issue #1347 on generic programming. In fact a `PPrint` typeclass is a separate matter since generic programming is just one implementation technique, but it's certainly in scope. So better pretty-printing should wait for that.

Maybe there's space for some specific fix to the original issue,

[2016-11-10 12:36] lihaoyi commented on #1681
`com.lihaoyi::pprint` definitely works, but it's typeclass derivation is incredibly flaky. Maybe you can try short term, but long term you probably want a more robust solution.

One approach would be to try and replace pprint's typeclass derivation with Shapeless, which I heard (?) is pretty robust. Another is to dump the derivation altogether and go with runtime reflection, which is great (tho do

[2016-11-10 13:01] Blaisorblade commented on #1681
What I wrote is misleading so let me clarify. Felix had good questions on printer design, and to answer those one might want to start from your library design, regardless of how much code can be reused. Among other things, dotty doesn't support current macros (though it'll support scala.meta) or current shapeless. For the derivation mechanism let's look at #1347.

[2016-11-10 13:06] lihaoyi commented on #1681
Oh ok. I think all the non-derivation parts of the library are great:

- The code to pretty-print strings, collections, primitives, case clases
- That the printer returns an `Iterator[String]` instead of a plain `String` (though maybe it should return a `geny.Generator` at some point)
- The code formatting things single/multi-line
- Colors

All that stuff is nice :) and there to use. If we could h

[2016-11-10 13:33] liufengyun opened #1694 "Annotation macros in Dotty"
We had a discussion before about annotation macros, the idea then was to transform the following annotation macros:

[code]
to:
[code]

There are some problems with the scheme above. For example, given the code:

[code]

The namer has a difficulty to determine whether `@main` is a macros or not and how to expand it. It needs to do as least follows:

- resolve the name `main` to a symbol (`typedInd

[2016-11-10 13:43] odersky commented on #1694
Good timing. See #1693 for a partial answer :-)

[2016-11-10 13:56] odersky commented on #1649
Fixed by #1693

[2016-11-10 13:56] #1649 closed

[2016-11-10 14:33] odersky commented on #1671
We need to clarify the status of structural types before proceeding here.

[2016-11-10 14:34] odersky commented on #1679
Named type parameters are currently only partially supported. We need to clarify their status before proceeding here.

[2016-11-10 16:08] odersky commented on #1692
@DarkDimius Let's discuss how this can be best achieved. Looks not easy to me.

[2016-11-10 16:37] Blaisorblade commented on #1691
PR for this in https://github.com/lampepfl/dotty/pull/1696.

[2016-11-10 21:47] DarkDimius commented on #855
Was implemented in https://github.com/lampepfl/dotty/pull/1364

[2016-11-10 21:47] #855 closed

[2016-11-11 14:26] liufengyun commented on #1694
From a practical point of view, I'll take the simpler approach and assume **macros annotations are pre-compiled**. This assumption has been and will continue to be valid for some time. Most importantly, it unblocks me. When time is mature (with an interpreter), we can refactor the impl to weaken the assumption.

To further simplify implementation, I assume all annotations which extend `scala.annot

[2016-11-11 22:49] Jentsch commented on #1673
Should this page than mimic the content of the (homepage at the bottom)[http://dotty.epfl.ch/#getting-started]? May add some links to further material?

[2016-11-11 22:54] Jentsch commented on #1319
Do you mean something like below?
[code]

[2016-11-11 23:11] felixmulder commented on #1319
@Jentsch - yes, please note that @krasinski was previously working on this and has a PR open with some more information.

I'm not sure if he's still working on this so maybe sync up a bit?

[2016-11-11 23:13] felixmulder commented on #1673
Sure and yes :)

[2016-11-12 01:29] krasinski commented on #1319
I will submit the new solution tommorow

[2016-11-12 07:47] zhendongsu opened #1701 "accepts invalid code with undefined type"
[code]

[2016-11-12 19:24] rethab commented on #1589
@felixmulder I was going to take a look at the following, however:

- Parsers:885 (view bounds are deprecated)
 - dotty suggests context bounds right now
 - nsc (with -deprecation and -Xfuture) suggests implicits (with a good example)
 - when they added the warnings to nsc, there were quite some discussions on what to recommend instead. what is dotty's stance on this?

- PostTyper:182 (super now a

[2016-11-12 19:31] rethab opened #1702 "method with singleton type mismatches same singleton type"
As the below example shows, a method that takes a singleton type `Int(1)` cannot be applied with `1`.

[code]

[2016-11-13 01:48] helloqirun opened #1703 "crash on compilable code: NullPointerException"
scalac compiles but dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-13 03:24] helloqirun commented on #1703
A more clean code example:

[code]

[2016-11-13 08:29] helloqirun opened #1704 "crash on compilable code: at dotty.tools.dotc.core.Denotations$SingleDenotation"
scalac compiles but dotc crashes.

Maybe it's related to issue #605, because it does not crash when I turn on ```-Ystop-after:pickler```.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-13 09:20] liufengyun commented on #1701
Thanks for reporting, @zhendongsu , this is a very good error reporting.

It turns out that the problem is that by default all subdirectory names will be added to `<root>` as package module class and object.  `x: project`, `x: src` and `x: src.dotty` also type check.

I see two fixes here:

- By default, don't add current sub dirs to `-classpath` ( current dir `.` can be added)
- When resolving a

[2016-11-13 12:09] liufengyun commented on #1702
Thanks @rethab , report confirmed.

Note that following code type checks without problem -- seems related to REPL:

[code]

[2016-11-13 12:15] liufengyun commented on #1703
Thanks for reporting @helloqirun .

This issue is related to #1683 and #1424 . We've decided to treat the code as a syntactical error, as @odersky commented [here](https://github.com/lampepfl/dotty/issues/1683#issuecomment-259481377):

[2016-11-13 12:16] liufengyun commented on #1703
Reopen, as we need to fix the crash.

[2016-11-13 13:06] liufengyun commented on #1704
Thanks for reporting, @helloqirun .

Compiling with `-Ycheck:all` shows that both scalac and dotc throw exceptions after `mixin`.

[2016-11-13 18:52] Blaisorblade commented on #1686
That is, if `y` means `a.b.c. ... .x.y`, you don't want to create nested `Select` nodes, so produce `i: Ident` and encode the implicit path in `i.tpe: Type`? What about having instead one `Select(PathTerm(tpe: Type), y)` instead, where `PathTerm(tpe)` wraps the `Type` and `tpe` is the same as `i.tpe`? Details are probably questionable, but this avoids creating an isomorphic copy of a path while st

[2016-11-13 22:45] zhendongsu opened #1706 "invalid code crashes dotty: assertion failed: attempt to parse java.lang.Object from classfile"
[code]

[2016-11-13 22:53] zhendongsu commented on #1701
Thank you for looking into it, Fengyun!

[2016-11-13 22:59] helloqirun opened #1707 "crash on compilable code: at dotty.tools.dotc.util.Positions$Position$.start$extension"
scalac can compile it but dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-14 03:29] helloqirun opened #1708 "crash on compilable code:at dotty.tools.dotc.core.Contexts$FreshContext.setOwner"
scalac can compile it but dotc crashes.

$ cat abc.scala
[code]

$ dotc abc.scala
[code]

[2016-11-14 09:38] DarkDimius opened #1709 "Fail to pickle when compiling standard library"
[code]

This compiles stdlib in the very same order as CI is supposed to.
It fails on a clean clone of current master.

[code]

[2016-11-14 09:42] #1319 closed

[2016-11-14 09:42] DarkDimius commented on #1709
if I disable pickler, it fails instead in Erasure

[code]

[2016-11-14 10:24] liufengyun commented on #1706
Thanks @zhendongsu , this is also a good one 👍

[2016-11-14 10:34] liufengyun commented on #1707
Thanks @helloqirun , report confirmed.

Here there are several problems here:

1. Compiling without `-language:Scala2` would crash compiler
2. When compile with `-language:Scala2`, `dep.a` can't be resolved, where `dep` is the anonymous class instance.

[2016-11-14 10:38] felixmulder commented on #1589
@rethab:

Context bounds are syntactic sugar, e.g:

[code]

So we're actually recommending the same thing I guess...

Regarding `@inline`: in scalac (or nsc) the inline is heuristics defined, in dotty it's mandatory. I.e. whatever you define as inline in Dotty, will be inlined. This means that calling super in a method declared inline and compiling it with scalac will probably not inline it - but

[2016-11-14 10:43] liufengyun commented on #1708
Thanks @helloqirun , report confirmed.

Note that, following code compiles (no crash):

[code]
[code]

The problem is related to the duplicate name between a trait and package.

[2016-11-14 21:24] rethab opened #1710 "Pattern definition doesn't work with singleton types"
Specifying in the types in a pattern definition work with normal types, but not with singleton types. I think this should be possible, shouldn't it? Also, when reporting the error, it points to the left hand/definition side. Shouldn't it complain about the values?

[code]

_$  ~/dev/dotty/bin/dotc /tmp/PatMatch.scala_

[code]